/* line 1, ../../sass/module/_slidetab.scss */
#slider-tabs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bbb;
}
/* line 7, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide {
  text-align: center;
  font-size: 0.8em;
  color: #bbb;
  line-height: 1.4;
}
/* line 13, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide.swiper-slide-active, #slider-tabs .swiper-slide.swiper-slide-prev {
  border-right: 1px solid #bbb;
}
/* line 22, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 27, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide.warning-color3, #slider-tabs .swiper-slide.warning-color3 a {
  color: #278e45;
}
/* line 31, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-button-prev, #slider-tabs .swiper-button-next {
  width: 1.5em;
  height: 1.5em;
  margin-top: -0.75em;
}
/* line 35, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-button-prev::before, #slider-tabs .swiper-button-next::before {
  border-color: #888;
}

/* line 5, ../../sass/units/about.scss */
#slider-tabs + .layout-content {
  padding-top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* line 9, ../../sass/units/about.scss */
#slider-tabs + .layout-content .about-title {
  color: black;
  margin-bottom: 1em;
  padding-top: 0.5em;
  border-bottom: 1px solid #bbb;
  line-height: 2;
}
/* line 15, ../../sass/units/about.scss */
#slider-tabs + .layout-content .about-title.style-color {
  color: #004404;
}

/* line 22, ../../sass/units/about.scss */
.about-banner {
  padding-top: 1em;
}

/* line 25, ../../sass/units/about.scss */
.about-content {
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
}

/* line 33, ../../sass/units/about.scss */
.personal-info ul {
  list-style-type: decimal;
}

/* line 37, ../../sass/units/about.scss */
.result-item {
  position: relative;
  display: block;
  padding-right: 1em;
}
/* line 41, ../../sass/units/about.scss */
.result-item i.fa {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.5em;
  font-size: 1.2em;
  color: #888;
}

/* line 50, ../../sass/units/about.scss */
#store-map {
  width: 100%;
  height: 35vh;
}

/*# sourceMappingURL=about.css.map */
