/* line 4, ../../sass/units/cafe.scss */
.layout-content h2 {
  color: black;
  margin-bottom: 1em;
  padding-top: 0;
  border-bottom: 1px solid #bbb;
  line-height: 2;
  text-align: left;
}
/* line 12, ../../sass/units/cafe.scss */
.layout-content .cafe-logo {
  display: block;
  width: 70%;
  margin: 0 auto;
  max-width: 20em;
}
/* line 18, ../../sass/units/cafe.scss */
.layout-content .cafe-content-list, .layout-content .cafe-store-list {
  font-size: 0.8em;
  border-bottom: 1px solid #bbb;
  padding-bottom: 2em;
  margin-bottom: 0;
}
/* line 23, ../../sass/units/cafe.scss */
.layout-content .cafe-content-list h3:not(.warning-color4), .layout-content .cafe-store-list h3:not(.warning-color4) {
  color: #004404;
}
/* line 28, ../../sass/units/cafe.scss */
.layout-content .cafe-store-list {
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 31, ../../sass/units/cafe.scss */
.layout-content .cafe-store-list h3 {
  margin-bottom: 0;
}
/* line 34, ../../sass/units/cafe.scss */
.layout-content .cafe-store-list li {
  border-bottom: 1px solid #bbb;
  padding-bottom: 2em;
}
/* line 38, ../../sass/units/cafe.scss */
.layout-content .cafe-store-list p {
  line-height: 1.4;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
}
/* line 45, ../../sass/units/cafe.scss */
.layout-content .cafe-store-list .module-btn {
  margin-top: 2em;
  margin-bottom: 0;
}

/*# sourceMappingURL=cafe.css.map */
