/* line 1, ../../sass/module/_slidetab.scss */
#slider-tabs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bbb;
}
/* line 7, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide {
  text-align: center;
  font-size: 0.8em;
  color: #bbb;
  line-height: 1.4;
}
/* line 13, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide.swiper-slide-active, #slider-tabs .swiper-slide.swiper-slide-prev {
  border-right: 1px solid #bbb;
}
/* line 22, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 27, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-slide.warning-color3, #slider-tabs .swiper-slide.warning-color3 a {
  color: #278e45;
}
/* line 31, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-button-prev, #slider-tabs .swiper-button-next {
  width: 1.5em;
  height: 1.5em;
  margin-top: -0.75em;
}
/* line 35, ../../sass/module/_slidetab.scss */
#slider-tabs .swiper-button-prev::before, #slider-tabs .swiper-button-next::before {
  border-color: #888;
}

/* line 4, ../../sass/units/guide.scss */
.article-guide {
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 6em;
}
/* line 9, ../../sass/units/guide.scss */
.article-guide > h3 {
  line-height: 2;
  border-bottom: 1px solid #bbb;
}
/* line 14, ../../sass/units/guide.scss */
.article-guide .article-guide-intro {
  padding-bottom: 1em;
  border-bottom: 1px solid #bbb;
}
/* line 18, ../../sass/units/guide.scss */
.article-guide > ul {
  padding-left: 0;
}
/* line 20, ../../sass/units/guide.scss */
.article-guide > ul > li {
  padding-bottom: 1em;
  border-bottom: 1px solid #bbb;
}
/* line 21, ../../sass/units/guide.scss */
.article-guide > ul > li > h3 {
  font-size: 1em;
  color: #004404;
}
/* line 27, ../../sass/units/guide.scss */
.article-guide > ul > li:last-child {
  border-bottom: 0;
}
/* line 32, ../../sass/units/guide.scss */
.article-guide .article-guide-menu {
  color: #278e45;
  border-bottom: 1px solid #bbb;
}
/* line 35, ../../sass/units/guide.scss */
.article-guide .article-guide-menu > li {
  border-bottom: 0;
}
/* line 39, ../../sass/units/guide.scss */
.article-guide .size-unit {
  font-size: 11px;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 46, ../../sass/units/guide.scss */
.article-guide-img-send {
  font-size: 1.3em;
  padding-top: 0.5em;
}
/* line 49, ../../sass/units/guide.scss */
.article-guide-img-send div {
  color: #888;
  padding: 1em 0;
}
/* line 53, ../../sass/units/guide.scss */
.article-guide-img-send img {
  width: 60%;
  max-width: 20em;
}
/* line 57, ../../sass/units/guide.scss */
.article-guide-img-send i {
  font-size: 1.8em;
  vertical-align: middle;
  margin-right: 0.2em;
}

/*# sourceMappingURL=guide.css.map */
