/* line 2, ../../sass/vendors/_extend.scss */
.product-list {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../../sass/vendors/_extend.scss */
.product-list:before, .product-list:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.product-list:after {
  clear: both;
}

/* line 3, ../../sass/units/lookbook.scss */
.layout-content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 7, ../../sass/units/lookbook.scss */
.layout-content h2 {
  color: black;
  padding-top: 0;
  line-height: 2;
  text-align: center;
}
/* line 13, ../../sass/units/lookbook.scss */
.layout-content .lookbook-describe {
  padding-left: 1em;
}
/* line 16, ../../sass/units/lookbook.scss */
.layout-content h3 {
  color: #004404;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 0.9em;
}
/* line 24, ../../sass/units/lookbook.scss */
.layout-content .lookbook-list {
  margin: 0;
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
}
/* line 30, ../../sass/units/lookbook.scss */
.layout-content .lookbook-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}
/* line 36, ../../sass/units/lookbook.scss */
.layout-content .lookbook-item:nth-child(2n) {
  margin-left: -5px;
}
/* line 41, ../../sass/units/lookbook.scss */
.layout-content .lookbook-detailimg {
  padding-top: 1em;
  display: block;
}
/* line 45, ../../sass/units/lookbook.scss */
.layout-content .lookbook-detailtext {
  font-size: 0.8em;
  line-height: 1.4;
  padding-top: 0.5em;
  padding-bottom: 1.2em;
}

/* PRODUCT LIST */
/* line 54, ../../sass/units/lookbook.scss */
.product-list {
  border-top: 1px solid #bbb;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

/* line 65, ../../sass/units/lookbook.scss */
.product-list-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.5em;
}
/* line 73, ../../sass/units/lookbook.scss */
.product-list-item:nth-child(2n) {
  margin-left: -5px;
}

/* line 77, ../../sass/units/lookbook.scss */
.product-list-item-img {
  position: relative;
}

/* line 81, ../../sass/units/lookbook.scss */
.product-list-item-name {
  text-align: center;
}

/* line 85, ../../sass/units/lookbook.scss */
.lookbook-detailimg-wrap {
  position: relative;
  display: block;
}

/* line 90, ../../sass/units/lookbook.scss */
.lookbook-detailimg-wrap:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*# sourceMappingURL=lookbook.css.map */
