/* line 2, ../../sass/vendors/_extend.scss */
.member-level-list {
  padding-left: 0;
  list-style: none;
}

/* line 3, ../../sass/units/member.scss */
.forgot-pw {
  display: inline-block;
  margin-right: 1em;
}
/* line 7, ../../sass/units/member.scss */
.forgot-pw::before {
  content: '!';
  display: inline-block;
  margin-right: 0.5em;
  padding-top: 0.1em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  font-size: 0.7em;
  background-color: #278e45;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 24, ../../sass/units/member.scss */
.remember-me {
  color: #777;
}

/* line 36, ../../sass/units/member.scss */
.show-timeout {
  display: none;
}

/* line 39, ../../sass/units/member.scss */
h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
  color: black;
}

/* line 47, ../../sass/units/member.scss */
.member-level-list {
  padding-left: 0;
}

/* line 51, ../../sass/units/member.scss */
.member-level-item {
  color: #bbb;
  border: 1px solid #bbb;
  margin-bottom: 2em;
}
/* line 56, ../../sass/units/member.scss */
.member-level-item.style-highlight .member-level-title {
  background-color: #004404;
  color: white;
}
/* line 60, ../../sass/units/member.scss */
.member-level-item.style-highlight .member-level-text {
  color: black;
}
/* line 63, ../../sass/units/member.scss */
.member-level-item.style-highlight h4 {
  color: #655138;
}

/* line 68, ../../sass/units/member.scss */
.member-level-title {
  font-size: 0.9em;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

/* line 73, ../../sass/units/member.scss */
.member-level-text {
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.6;
}
/* line 78, ../../sass/units/member.scss */
.member-level-text h4 {
  color: #bbb;
}
/* line 81, ../../sass/units/member.scss */
.member-level-text li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*# sourceMappingURL=member.css.map */
