/* line 4, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info {
  display: flex;
  align-content: flex-start;
  position: relative;
  margin-top: 1.125em;
}
/* line 11, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image {
  width: 33%;
  max-width: 10em;
  margin-right: 0.5em;
}
/* line 16, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image img {
  width: 100%;
}
/* line 21, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail {
  display: inline-block;
  width: 67%;
  font-size: 16px;
}
/* line 25, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail > * {
  margin: 0 0 0.375em 0;
  font-size: 0.8em;
}
/* line 32, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .close-button {
  width: 24px;
  height: 24px;
  background: url("/assets/images/icon-close-small.svg") left top no-repeat;
  border-radius: 100%;
  border-color: #828282;
  position: absolute;
  top: 0;
  right: 0;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 45, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary {
  display: flex;
  align-items: center;
}
/* line 49, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .summary-label {
  margin-right: 0.5em;
  color: #828282;
}
/* line 55, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .btn-sq-color-action {
  border: 4px solid #004404;
}
/* line 59, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .module-form-input {
  margin-right: 1.625em;
  width: 2em;
}
/* line 64, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0.625em;
}
/* line 70, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .origin-price {
  color: #828282;
}
/* line 73, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .sp-price {
  display: inline-block;
}
/* line 77, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price .sp-price {
  display: none;
  color: #c50000;
}

/* line 4, ../../sass/units/mypage-order-detail.scss */
.serial-color {
  color: #998668;
}

/* line 7, ../../sass/units/mypage-order-detail.scss */
.layout-view {
  padding-bottom: 7em;
}
/* line 10, ../../sass/units/mypage-order-detail.scss */
.layout-view .order-list-title.-detail {
  margin-left: 1em;
}
/* line 14, ../../sass/units/mypage-order-detail.scss */
.layout-view .order-list-title > h3 {
  margin: 0.875em 0 0.5em;
}
/* line 29, ../../sass/units/mypage-order-detail.scss */
.layout-view .content p {
  margin-bottom: 0.5em;
}
/* line 34, ../../sass/units/mypage-order-detail.scss */
.layout-view .content input[type=text] {
  background: none;
  border: none;
}
/* line 41, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .total-record {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.4em 2em 0;
  line-height: 1.5em;
}
/* line 47, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .total-record .record-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1.5em;
}
/* line 54, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .total-record .record-cash {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* line 61, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .total-record {
  margin: 0;
}
/* line 64, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .total-record .record-label > label,
.layout-view .content .total-record .record-cash > label {
  font-size: 0.8em;
  color: #000;
}
/* line 72, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form {
  display: flex;
  justify-content: flex-start;
  margin: 1.25em 0 1.25em 0;
  line-height: 1.5em;
}
/* line 78, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form.-indent {
  margin-left: 1em;
}
/* line 82, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form > .title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0.75em;
}
/* line 89, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form > .content-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 95, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form > .title-label > label,
.layout-view .content .simple-form > .content-label > label {
  font-size: 0.8em;
  color: #000;
}
/* line 103, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .simple-form.-contact {
  margin-left: 0.25em;
}
/* line 107, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .buttons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
/* line 112, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .buttons .module-btn {
  width: 8em;
}
/* line 120, ../../sass/units/mypage-order-detail.scss */
.layout-view .content .buttons .style-black {
  background-color: #000;
}

/*# sourceMappingURL=mypage-order-detail.css.map */
