/* line 1, ../../sass/units/mypage-order-list.scss */
.layout-view {
  padding-bottom: 7em;
}
/* line 4, ../../sass/units/mypage-order-list.scss */
.layout-view .order-list-title > h3 {
  margin: 0.875em 0 0.5em;
}
/* line 10, ../../sass/units/mypage-order-list.scss */
.layout-view .content {
  padding: 0 1.5em;
}

/* line 15, ../../sass/units/mypage-order-list.scss */
.order-block {
  border-top: 3px solid #268f46;
  border-left: 3px solid #268f46;
  border-right: 3px solid #268f46;
  background: #fff;
  padding-top: 0.5em;
  margin-bottom: 1em;
}
/* line 23, ../../sass/units/mypage-order-list.scss */
.order-block p {
  padding-left: 1em;
  line-height: 1.6;
}
/* line 30, ../../sass/units/mypage-order-list.scss */
.order-block .view-button {
  width: 100%;
  height: 2em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #268f46;
  text-align: center;
}
/* line 43, ../../sass/units/mypage-order-list.scss */
.order-block .view-button img {
  width: 0.8125em;
  height: 0.8125em;
  margin-right: 0.5em;
}

/*# sourceMappingURL=mypage-order-list.css.map */
