/* line 5, ../../sass/units/news.scss */
.layout-content h2 {
  color: black;
  margin-bottom: 1em;
  padding-top: 0.5em;
  border-bottom: 1px solid #bbb;
  line-height: 2;
  text-align: center;
}
/* line 13, ../../sass/units/news.scss */
.layout-content .news-list {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
/* line 22, ../../sass/units/news.scss */
.layout-content .news-item.is-active .btn-morenews i {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 26, ../../sass/units/news.scss */
.layout-content .news-item.is-active .news-item-content {
  border-bottom: 1px solid #ccc;
  max-height: 999vh;
  padding-bottom: 1em;
}
/* line 33, ../../sass/units/news.scss */
.layout-content .news-item-title {
  margin: 0;
  padding: 0;
  line-height: 2;
}
/* line 38, ../../sass/units/news.scss */
.layout-content .news-item-date {
  color: #655138;
  font-size: 0.85em;
}
/* line 42, ../../sass/units/news.scss */
.layout-content .btn-morenews {
  float: right;
  font-size: 0.85em;
  padding-left: 2em;
  cursor: pointer;
  color: #278e45;
}
/* line 48, ../../sass/units/news.scss */
.layout-content .btn-morenews i {
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 54, ../../sass/units/news.scss */
.layout-content .news-item-content {
  border-top: 1px solid #ccc;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding-top: 1em;
  padding-left: 1em;
  line-height: 1.6;
  color: #808080;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height, padding;
  -o-transition: max-height, padding;
  transition: max-height, padding;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 68, ../../sass/units/news.scss */
.layout-content .btn-sns-wrap {
  padding-top: 1em;
}
/* line 72, ../../sass/units/news.scss */
.layout-content .btn-sns {
  color: #808080;
  font-size: 1.5em;
}
/* line 75, ../../sass/units/news.scss */
.layout-content .btn-sns:active {
  color: #333;
}

/*# sourceMappingURL=news.css.map */
