/* line 4, ../../sass/units/product-detail.scss */
#slider-detailImage {
  margin-bottom: 0.5em;
  height: 94vw;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
/* line 10, ../../sass/units/product-detail.scss */
#slider-detailImage .swiper-slide {
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 19, ../../sass/units/product-detail.scss */
#slider-detailImage .btn-wrap {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 2;
}

/* line 42, ../../sass/units/product-detail.scss */
#slider-relativeItem {
  padding-left: 0;
  padding-right: 0;
  height: auto;
}
/* line 47, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-prev, #slider-relativeItem .swiper-button-next {
  font-size: 12px;
}
/* line 49, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-prev::before, #slider-relativeItem .swiper-button-next::before {
  border-top: 2px solid #bbb;
}
/* line 53, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-prev {
  left: 20%;
  left: calc( 25% - 0.71em);
}
/* line 56, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-prev::before {
  border-left: 2px solid #bbb;
}
/* line 60, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-next {
  right: 20%;
  right: calc( 25% - 0.71em);
}
/* line 63, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-next::before {
  border-right: 2px solid #bbb;
}
/* line 67, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-button-prev, #slider-relativeItem .swiper-button-next {
  top: 20vw;
  top: calc((100vw - 2em) / 4 );
}
/* line 71, ../../sass/units/product-detail.scss */
#slider-relativeItem .swiper-slide {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*Kelly less*/
/* line 79, ../../sass/units/product-detail.scss */
.layout-view .product-navigation {
  text-align: center;
}
/* line 82, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .navigate {
  color: #bbb;
  display: inline-block;
  position: relative;
  width: 48%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 92, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .navigate:last-child:first-child {
  width: 98%;
}
/* line 98, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .navigate:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #bbb;
  width: 1px;
  height: 1.2em;
  left: 0;
  bottom: 0.4em;
}
/* line 111, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .navigate:active {
  background-color: #eee;
  color: #bbb;
}
/* line 116, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .previous {
  text-align: left;
}
/* line 120, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .vline {
  width: 0.125em;
  margin: 0.375em 0.625em 0.1875em;
  background: #bbb;
}
/* line 126, ../../sass/units/product-detail.scss */
.layout-view .product-navigation .next {
  text-align: right;
}
/* line 132, ../../sass/units/product-detail.scss */
.layout-view #slider-detailImage .swiper-slide {
  overflow: auto;
}
/* line 135, ../../sass/units/product-detail.scss */
.layout-view #slider-detailImage .swiper-slide img {
  display: none;
}
/* line 143, ../../sass/units/product-detail.scss */
.layout-view #slider-detailImage .swiper-wrapper {
  position: relative;
}
/* line 147, ../../sass/units/product-detail.scss */
.layout-view #slider-detailImage .zoom-like-btn {
  position: absolute;
  right: 0.8em;
  bottom: 0.5em;
  display: flex;
  z-index: 9999;
}
/* line 154, ../../sass/units/product-detail.scss */
.layout-view #slider-detailImage .zoom-like-btn .icon {
  margin: 0 0.4em;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 177, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item {
  margin: 0 1em;
  border: 0 none;
}
/* line 183, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item.on .accordion-item-content {
  border-bottom: 1px solid #dddddd;
  max-height: 500vh;
}
/* line 188, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content {
  background-color: white;
  border-top: 1px solid #dddddd;
  font-size: 0.8em;
  line-height: 1.6;
}
/* line 194, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  overflow: auto;
}
/* line 200, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .title-margin {
  margin-top: 1em;
}
/* line 204, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .size-table {
  overflow-x: scroll;
}
/* line 206, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .size-table img {
  max-width: 100%;
}
/* line 211, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .content-margin {
  margin-bottom: 1.2em;
}
/* line 219, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .commodity-title {
  padding: 0.31em;
  margin-top: 0.56em;
  background-color: #777777;
  color: white;
  width: 5em;
}
/* line 227, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .format {
  display: flex;
}
/* line 229, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .format .format-left {
  display: flex;
  flex-direction: column;
}
/* line 234, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .format .format-right {
  padding-left: 2.3em;
  display: flex;
  flex-direction: column;
}
/* line 242, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .commodity-guarantee {
  display: flex;
  flex-direction: column;
}
/* line 248, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .accordion-font-color {
  color: #999999;
}
/* line 252, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .size-table {
  margin-top: 0.56em;
}
/* line 256, ../../sass/units/product-detail.scss */
.layout-view .layout-accordion .accordion-item-content-inner .title-margin {
  margin-top: 0.56em;
}
/* line 262, ../../sass/units/product-detail.scss */
.layout-view .alsoLike-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 267, ../../sass/units/product-detail.scss */
.layout-view .alsoLike-title h3:nth-child(1) {
  margin-bottom: 0;
}
/* line 270, ../../sass/units/product-detail.scss */
.layout-view .alsoLike-title h3:nth-child(2) {
  margin-top: 0;
}
/* line 275, ../../sass/units/product-detail.scss */
.layout-view .commodity-data {
  padding: 0.63em 1em 0 1em;
}
/* line 279, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-data-title h2 {
  margin: 0;
}
/* line 283, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-data-title .commodity-cost {
  display: flex;
  justify-content: space-between;
}
/* line 287, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-data-title .commodity-cost p {
  color: #998668;
}
/* line 295, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row {
  display: flex;
  align-items: center;
  padding: 0.6em 0 0.6em 1em;
}
/* line 300, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .label {
  width: 3.2em;
}
/* line 304, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  width: 80%;
}
/* line 310, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content .btn-sq {
  font-size: 11px;
  font-weight: 500;
  width: 3em;
  height: 3em;
  line-height: 3em;
  line-height: calc(3em - 4px);
  text-align: center;
  margin-right: 0.3em;
  margin-bottom: 0.5em;
  background-color: #777777;
  border: 1px solid #ddd;
}
/* line 324, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content .btn-sq-size {
  color: #004404;
  border: 2px solid #004404;
  background-color: white;
}
/* line 330, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content .btn-sq-size-action {
  color: white;
  background-color: #004404;
}
/* line 335, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content .btn-sq-color-action {
  border: 3px solid #004404;
}
/* line 339, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .commodity-order-row .content input {
  width: 3.6em;
  height: 3em;
  font-size: 11px;
  margin: 0;
  margin-right: 0.3em;
  padding: 0;
  text-align: center;
  color: #777777;
}
/* line 353, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 358, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .order-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5625em;
}
/* line 364, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .order-btn a img {
  height: 1.125em;
  padding-right: 0.375em;
}
/* line 371, ../../sass/units/product-detail.scss */
.layout-view .commodity-data .commodity-order .purchase {
  background-color: #8e1437;
  margin-right: 1.25em;
}

/* line 380, ../../sass/units/product-detail.scss */
.layout-popup-wrap.draggable {
  pointer-events: auto;
}
/* line 384, ../../sass/units/product-detail.scss */
.layout-popup-wrap .tcenter {
  overflow: scroll;
  width: 100%;
  height: 100%;
}
/* line 389, ../../sass/units/product-detail.scss */
.layout-popup-wrap .tcenter img {
  width: 150%;
}

/* line 397, ../../sass/units/product-detail.scss */
.layout-accordion .accordion-item-title {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2;
  font-size: 1em;
}
/* line 403, ../../sass/units/product-detail.scss */
.layout-accordion i.fa {
  color: black;
}

/*# sourceMappingURL=product-detail.css.map */
