/* line 2, ../../sass/vendors/_extend.scss */
ul {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../../sass/vendors/_extend.scss */
.layout-content:before, .heading-icon:before, .clearfix:before, .layout-content:after, .heading-icon:after, .clearfix:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.layout-content:after, .heading-icon:after, .clearfix:after {
  clear: both;
}

/* line 1, ../../sass/module/_clause.scss */
.layout-content {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  line-height: 1.8;
  padding-bottom: 2em;
  width: 100%;
}
/* line 9, ../../sass/module/_clause.scss */
.layout-content.style-upper {
  padding-bottom: 0;
}
/* line 12, ../../sass/module/_clause.scss */
.layout-content.style-fullsize {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 21, ../../sass/module/_clause.scss */
.layout-content.style-fullmylist {
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 33, ../../sass/module/_clause.scss */
.layout-content .module-clause {
  padding-right: 0;
  padding-left: 0;
}
/* line 37, ../../sass/module/_clause.scss */
.layout-content .module-clause-title {
  font-size: 1em;
}
/* line 40, ../../sass/module/_clause.scss */
.layout-content p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 44, ../../sass/module/_clause.scss */
.layout-content h1 {
  font-size: 1.2em;
  font-weight: bolder;
}
/* line 47, ../../sass/module/_clause.scss */
.layout-content h1.large {
  font-size: 1.5em;
  line-height: 1.4;
}
/* line 52, ../../sass/module/_clause.scss */
.layout-content h2 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: #004404;
}
/* line 60, ../../sass/module/_clause.scss */
.layout-content h3 {
  font-size: 1em;
}
/* line 63, ../../sass/module/_clause.scss */
.layout-content h4 {
  color: #c8242b;
  font-size: 1em;
}
/* line 67, ../../sass/module/_clause.scss */
.layout-content .mb1 {
  margin-bottom: 2.8em;
}
/* line 70, ../../sass/module/_clause.scss */
.layout-content .mb2 {
  margin-bottom: 5.6em;
}

/* line 76, ../../sass/module/_clause.scss */
.heading-icon:before {
  content: '';
  float: left;
  display: block;
  margin-top: 4px;
  margin-right: 5px;
  background-image: url("/assets/images/logo-black.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.46em;
  height: 1.6em;
}

/* line 88, ../../sass/module/_clause.scss */
.clause-level-1 {
  list-style-type: cjk-ideographic;
  list-style-position: inside;
}

/* line 92, ../../sass/module/_clause.scss */
.clause-level-2 {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 97, ../../sass/module/_clause.scss */
.clause-level-3 {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 102, ../../sass/module/_clause.scss */
.clause-level-4 {
  list-style-type: lower-roman;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 107, ../../sass/module/_clause.scss */
.appendix-text {
  color: #606060;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8;
}

/* line 113, ../../sass/module/_clause.scss */
.tcenter {
  text-align: center;
}

/* line 116, ../../sass/module/_clause.scss */
.uline {
  text-decoration: underline;
}

/* line 119, ../../sass/module/_clause.scss */
.warning-color {
  color: #c50000;
}

/* line 122, ../../sass/module/_clause.scss */
.warning-color2 {
  color: #004404;
}

/* line 125, ../../sass/module/_clause.scss */
.warning-color3 {
  color: #278e45;
}

/* line 128, ../../sass/module/_clause.scss */
.warning-color4 {
  color: #655138;
}

/* line 131, ../../sass/module/_clause.scss */
.normal-color {
  color: black;
}

/* line 134, ../../sass/module/_clause.scss */
.pb0 {
  padding-bottom: 0;
}

/* line 137, ../../sass/module/_clause.scss */
.pt1 {
  padding-top: 1em;
}

/* line 140, ../../sass/module/_clause.scss */
.style-small {
  font-size: 0.7em;
}

/* line 143, ../../sass/module/_clause.scss */
.style-alignright {
  text-align: right;
}

/* line 146, ../../sass/module/_clause.scss */
.text-large {
  font-size: 1.2em;
  line-height: 1.5;
  /* 1.8/1.2 */
}

/* line 150, ../../sass/module/_clause.scss */
.style-italic {
  font-style: italic;
}

/* line 153, ../../sass/module/_clause.scss */
.style-italicgreenbg {
  display: inline-block;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.4;
  vertical-align: text-bottom;
  background-color: #004404;
  color: white;
  margin-right: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-transform: skewX(-12deg) skewY(0);
  -ms-transform: skewX(-12deg) skewY(0);
  -o-transform: skewX(-12deg) skewY(0);
  transform: skewX(-12deg) skewY(0);
}

/* line 166, ../../sass/module/_clause.scss */
.style-font-roots {
  font-family: 'Coustard','Noto Serif';
  font-weight: 900;
}

/* line 170, ../../sass/module/_clause.scss */
ul {
  padding-left: 1em;
}

/* line 174, ../../sass/module/_clause.scss */
.list-style-disc {
  list-style: disc;
}

/* line 177, ../../sass/module/_clause.scss */
.list-style-decimal {
  list-style: decimal;
}

/* PRODUCT CATEGORY */
/* line 5, ../../sass/units/product-category.scss */
.product-category-banner {
  height: 31vw;
  /* 90x290 => 360x1160 */
  width: 100%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid white;
  background-position: center top;
}
/* line 11, ../../sass/units/product-category.scss */
.product-category-banner a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 16, ../../sass/units/product-category.scss */
.product-category-banner .product-category-banner-name {
  display: block;
  line-height: 31vw;
  height: 100%;
  width: 50%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
/* line 25, ../../sass/units/product-category.scss */
.product-category-banner:last-child {
  border-bottom: 0;
}
/* line 28, ../../sass/units/product-category.scss */
.product-category-banner:nth-child(odd) {
  background-position: left top;
}
/* line 30, ../../sass/units/product-category.scss */
.product-category-banner:nth-child(odd) .product-category-banner-name {
  margin-left: 50%;
}
/* line 34, ../../sass/units/product-category.scss */
.product-category-banner:nth-child(even) {
  background-position: right top;
}
/* line 36, ../../sass/units/product-category.scss */
.product-category-banner:nth-child(even) .product-category-banner-name {
  margin-left: 0%;
}

/*# sourceMappingURL=product-category.css.map */
