/* line 3, ../../sass/units/product-payment-complete.scss */
.layout-view {
  padding-bottom: 87px;
}
/* line 6, ../../sass/units/product-payment-complete.scss */
.layout-view .content {
  padding: 0 1.5em;
}
/* line 9, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav {
  display: flex;
  justify-content: space-between;
  font-size: 0.81em;
  font-weight: bold;
  -ms-transform: skewX(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg);
  /* Safari */
  transform: skewX(-10deg);
  /* Standard syntax */
  margin: 0.625em 0;
  line-height: 1.2em;
}
/* line 20, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav .item-num {
  display: flex;
  justify-content: center;
  background: #828282;
  width: 1.1em;
  color: #ffffff;
}
/* line 28, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav > span {
  color: #828282;
}
/* line 32, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav .num-active {
  background: #204B2C;
}
/* line 36, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav .word-active {
  color: #204B2C;
}
/* line 41, ../../sass/units/product-payment-complete.scss */
.layout-view .content .product-cart-nav {
  margin-top: 1.25em;
}
/* line 45, ../../sass/units/product-payment-complete.scss */
.layout-view .content .order-title {
  margin-bottom: 0.625em;
}
/* line 48, ../../sass/units/product-payment-complete.scss */
.layout-view .content .order-title > h1 {
  font-size: 0.875em;
  margin: 1.25em 0 0.625em;
  color: #004404;
}
/* line 55, ../../sass/units/product-payment-complete.scss */
.layout-view .content .order-number {
  display: flex;
  justify-content: center;
}
/* line 59, ../../sass/units/product-payment-complete.scss */
.layout-view .content .order-number > * {
  margin: 0;
}
/* line 64, ../../sass/units/product-payment-complete.scss */
.layout-view .content p {
  font-size: 0.75em;
  margin: 0.25em 0;
}
/* line 69, ../../sass/units/product-payment-complete.scss */
.layout-view .content p.-hint {
  font-size: 0.6875em;
  margin: 0 0 0.25em;
  color: #808080;
}
/* line 75, ../../sass/units/product-payment-complete.scss */
.layout-view .content .module-btn {
  height: 2em;
  margin: 1.25em auto 0.25em;
}

/*# sourceMappingURL=product-payment-complete.css.map */
