/* line 4, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info {
  display: flex;
  align-content: flex-start;
  position: relative;
  margin-top: 1.125em;
}
/* line 11, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image {
  width: 33%;
  max-width: 10em;
  margin-right: 0.5em;
}
/* line 16, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image img {
  width: 100%;
}
/* line 21, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail {
  display: inline-block;
  width: 67%;
  font-size: 16px;
}
/* line 25, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail > * {
  margin: 0 0 0.375em 0;
  font-size: 0.8em;
}
/* line 32, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .close-button {
  width: 24px;
  height: 24px;
  background: url("/global/front/images/icon-close-small.svg") left top no-repeat;
  border-radius: 100%;
  border-color: #828282;
  position: absolute;
  top: 0;
  right: 0;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 45, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary {
  display: flex;
  align-items: center;
}
/* line 49, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .summary-label {
  margin-right: 0.5em;
  color: #828282;
}
/* line 55, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .btn-sq-color-action {
  border: 4px solid #004404;
}
/* line 59, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .module-form-input {
  margin-right: 1.625em;
  width: 2em;
}
/* line 64, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0.625em;
}
/* line 70, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .origin-price {
  color: #828282;
}
/* line 73, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .sp-price {
  display: inline-block;
}
/* line 77, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price .sp-price {
  display: none;
  color: #c50000;
}

/* line 6, ../../sass/units/product-payment.scss */
.layout-view .product-payment {
  padding: 0.9375em;
}
/* line 9, ../../sass/units/product-payment.scss */
.layout-view .product-payment .product-cart-nav {
  display: flex;
  justify-content: space-between;
  font-size: 0.81em;
  font-weight: bold;
  -ms-transform: skewX(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg);
  /* Safari */
  transform: skewX(-10deg);
  /* Standard syntax */
  margin: 0.625em 0;
  line-height: 1.2em;
}
/* line 20, ../../sass/units/product-payment.scss */
.layout-view .product-payment .product-cart-nav .item-num {
  display: flex;
  justify-content: center;
  background: #828282;
  width: 1.1em;
  color: #ffffff;
}
/* line 28, ../../sass/units/product-payment.scss */
.layout-view .product-payment .product-cart-nav > span {
  color: #828282;
}
/* line 32, ../../sass/units/product-payment.scss */
.layout-view .product-payment .product-cart-nav .num-active {
  background: #204B2C;
}
/* line 36, ../../sass/units/product-payment.scss */
.layout-view .product-payment .product-cart-nav .word-active {
  color: #204B2C;
}
/* line 42, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .font-gray {
  color: #828282;
}
/* line 51, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-title i.fa {
  color: #004404;
}
/* line 56, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content {
  width: auto;
  background-color: transparent;
  margin: 0 1em;
}
/* line 61, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information {
  border-top: 1px solid #dddddd;
  padding-top: 1em;
}
/* line 65, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-data {
  display: flex;
  padding-bottom: 0.8em;
}
/* line 69, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-data .commodity-img {
  width: 33%;
  max-width: 10em;
  margin-right: 0.5em;
}
/* line 74, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-data .commodity-img img {
  width: 100%;
}
/* line 79, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-data .data {
  display: inline-block;
  width: 67%;
  font-size: 16px;
}
/* line 83, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-data .data > * {
  margin: 0 0 0.375em 0;
  font-size: 0.8em;
}
/* line 91, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
}
/* line 97, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary .label {
  font-size: 0.625em;
  margin-right: 0.5em;
}
/* line 102, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary .number {
  margin-right: 1.625em;
}
/* line 106, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary .btn-color-action {
  border: 4px solid #004404;
}
/* line 110, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary .price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0.625em;
}
/* line 117, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .commodity-information .commodity-sumary .original-price {
  color: #828282;
  margin-right: 0.7em;
}
/* line 125, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount {
  padding: 0 0em 1em 0;
}
/* line 129, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount .discount-input, .layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount .discount-use {
  font-size: 0.9em;
  display: inline;
  padding: 0.375em 0.75em;
}
/* line 135, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount .discount-input {
  width: 70%;
  margin-right: 0.5em;
}
/* line 139, ../../sass/units/product-payment.scss */
body[data-lang=kr] .layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount .discount-input {
  width: 60%;
  max-width: calc(100% - 7em);
}
/* line 145, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount .discount-use {
  width: 30%;
}
/* line 150, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .accordion-item-content .discount > span {
  display: block;
  font-size: 0.8em;
  padding-left: 1em;
  padding-top: 0.75em;
}
/* line 161, ../../sass/units/product-payment.scss */
.layout-view .product-payment .layout-accordion .accordion-item .commodity-information:first-child {
  border-top: 0 none #dddddd;
  padding-top: 0;
}
/* line 169, ../../sass/units/product-payment.scss */
.layout-view .product-payment .total-record {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.4em 2em 0;
  line-height: 1.5em;
}
/* line 175, ../../sass/units/product-payment.scss */
.layout-view .product-payment .total-record .record-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1.5em;
}
/* line 182, ../../sass/units/product-payment.scss */
.layout-view .product-payment .total-record .record-cash {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* line 188, ../../sass/units/product-payment.scss */
.layout-view .product-payment .total-record {
  margin-bottom: 5em;
}
/* line 192, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form {
  display: flex;
  justify-content: flex-start;
  margin: 1.25em 0 1.25em 0;
  line-height: 1.5em;
}
/* line 198, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form.-indent {
  margin-left: 1em;
}
/* line 202, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form > .title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0.75em;
}
/* line 209, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form > .content-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 215, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form > .title-label > label,
.layout-view .product-payment .simple-form > .content-label > label {
  font-size: 0.75em;
  color: #000;
}
/* line 223, ../../sass/units/product-payment.scss */
.layout-view .product-payment .simple-form {
  margin-top: 0;
}
/* line 227, ../../sass/units/product-payment.scss */
.layout-view .product-payment .payment-btn {
  padding-bottom: 2.5em;
  text-align: center;
}
/* line 234, ../../sass/units/product-payment.scss */
.layout-view .product-payment .payment-btn .module-btn {
  display: inline-block;
  margin-left: 0.125em;
  margin-right: 0.125em;
  width: 7.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}
/* line 249, ../../sass/units/product-payment.scss */
.layout-view .product-payment .form-block {
  margin: 1em 0 0.5em;
}
/* line 252, ../../sass/units/product-payment.scss */
.layout-view .product-payment .form-block .module-form-select {
  margin-bottom: 0.5em;
}
/* line 257, ../../sass/units/product-payment.scss */
.layout-view .product-payment .form-block.receiver {
  margin-top: 0;
}
/* line 261, ../../sass/units/product-payment.scss */
.layout-view .product-payment .accordion-item-content.contact {
  padding-bottom: 0.5em;
}
/* line 265, ../../sass/units/product-payment.scss */
.layout-view .product-payment .accordion-item-content.receipt > .form-block:nth-child(1) {
  margin-top: 0;
}
/* line 270, ../../sass/units/product-payment.scss */
.layout-view .style-red {
  background-color: #8e1437;
}

/*# sourceMappingURL=product-payment.css.map */
