/* line 4, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info {
  display: flex;
  align-content: flex-start;
  position: relative;
  margin-top: 1.125em;
}
/* line 11, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image {
  width: 33%;
  max-width: 10em;
  margin-right: 0.5em;
}
/* line 16, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-image img {
  width: 100%;
}
/* line 21, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail {
  display: inline-block;
  width: 67%;
  font-size: 16px;
}
/* line 25, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .item-detail > * {
  margin: 0 0 0.375em 0;
  font-size: 0.8em;
}
/* line 32, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-info .close-button {
  width: 24px;
  height: 24px;
  background: url("/assets/images/icon-close-small.svg") left top no-repeat;
  border-radius: 100%;
  border-color: #828282;
  position: absolute;
  top: 0;
  right: 0;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 45, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary {
  display: flex;
  align-items: center;
}
/* line 49, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .summary-label {
  margin-right: 0.5em;
  color: #828282;
}
/* line 55, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .btn-sq-color-action {
  border: 4px solid #004404;
}
/* line 59, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .module-form-input {
  margin-right: 1.625em;
  width: 2em;
}
/* line 64, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0.625em;
}
/* line 70, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .origin-price {
  color: #828282;
}
/* line 73, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price.is-sale .sp-price {
  display: inline-block;
}
/* line 77, ../../sass/module/_cart-list.scss */
.cart-list .cart-item .item-summary .product-price .sp-price {
  display: none;
  color: #c50000;
}

/* line 5, ../../sass/units/product-cart.scss */
.serial-color {
  color: #998668;
}

/* line 10, ../../sass/units/product-cart.scss */
.layout-view .product-cart {
  padding: 0.9375em;
}
/* line 13, ../../sass/units/product-cart.scss */
.layout-view .product-cart .product-cart-nav {
  display: flex;
  justify-content: space-between;
  font-size: 0.81em;
  font-weight: bold;
  -ms-transform: skewX(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg);
  /* Safari */
  transform: skewX(-10deg);
  /* Standard syntax */
  margin: 0.625em 0;
  line-height: 1.2em;
}
/* line 24, ../../sass/units/product-cart.scss */
.layout-view .product-cart .product-cart-nav .item-num {
  display: flex;
  justify-content: center;
  background: #828282;
  width: 1.1em;
  color: #ffffff;
}
/* line 32, ../../sass/units/product-cart.scss */
.layout-view .product-cart .product-cart-nav > span {
  color: #828282;
}
/* line 36, ../../sass/units/product-cart.scss */
.layout-view .product-cart .product-cart-nav .num-active {
  background: #204B2C;
}
/* line 40, ../../sass/units/product-cart.scss */
.layout-view .product-cart .product-cart-nav .word-active {
  color: #204B2C;
}
/* line 47, ../../sass/units/product-cart.scss */
.layout-view .product-cart .total-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25em;
  padding-right: 0.625em;
}
/* line 54, ../../sass/units/product-cart.scss */
.layout-view .product-cart .total-summary .simple-form {
  display: flex;
  justify-content: flex-start;
  margin: 1.25em 0 1.25em 0;
  line-height: 1.5em;
}
/* line 60, ../../sass/units/product-cart.scss */
.layout-view .product-cart .total-summary .simple-form.-indent {
  margin-left: 1em;
}
/* line 64, ../../sass/units/product-cart.scss */
.layout-view .product-cart .total-summary .simple-form > .title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0.75em;
}
/* line 71, ../../sass/units/product-cart.scss */
.layout-view .product-cart .total-summary .simple-form > .content-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 81, ../../sass/units/product-cart.scss */
.layout-view .product-cart .button-list {
  margin-bottom: 2em;
  text-align: center;
}
/* line 86, ../../sass/units/product-cart.scss */
.layout-view .product-cart .button-list #continue-buy {
  width: 6em;
}
@media (max-width: 400px) {
  /* line 86, ../../sass/units/product-cart.scss */
  .layout-view .product-cart .button-list #continue-buy {
    width: 13em;
  }
}
/* line 95, ../../sass/units/product-cart.scss */
.layout-view .product-cart .button-list #checkout {
  width: 13em;
}
/* line 103, ../../sass/units/product-cart.scss */
.layout-view .product-cart .button-list .module-btn {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.125em;
  margin-right: 0.125em;
  display: inline-block;
}

/* line 127, ../../sass/units/product-cart.scss */
.btn-popup.style-gray {
  background-color: #808080;
}

/* line 131, ../../sass/units/product-cart.scss */
.btn-popup {
  height: 2.5625em;
}

/*# sourceMappingURL=product-cart.css.map */
