/* line 2, ../../sass/vendors/_extend.scss */
.product-list {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../../sass/vendors/_extend.scss */
.product-list:before, .product-list:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.product-list:after {
  clear: both;
}

/* PRODUCT LIST */
/* line 4, ../../sass/units/product-list.scss */
.product-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

/* line 14, ../../sass/units/product-list.scss */
.product-list-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.5em;
}
/* line 22, ../../sass/units/product-list.scss */
.product-list-item:nth-child(2n) {
  margin-left: -5px;
}

/* line 26, ../../sass/units/product-list.scss */
.product-list-item-img {
  position: relative;
}

/* line 37, ../../sass/units/product-list.scss */
.product-list-item-name {
  text-align: center;
}

/* line 41, ../../sass/units/product-list.scss */
.module-filter-btnwrap {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  color: #888;
  text-align: center;
  font-size: 0.8em;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 50, ../../sass/units/product-list.scss */
.module-filter-btn {
  width: 48%;
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
}
/* line 55, ../../sass/units/product-list.scss */
.module-filter-btn:first-child {
  border-right: 1px solid #bbb;
}
/* line 58, ../../sass/units/product-list.scss */
.module-filter-btn .fa {
  font-size: 0.8em;
  margin-right: 0.2em;
}

/* line 64, ../../sass/units/product-list.scss */
.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/* line 70, ../../sass/units/product-list.scss */
.filter-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

/* line 76, ../../sass/units/product-list.scss */
.list-price-item {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/* line 81, ../../sass/units/product-list.scss */
.sort-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 86, ../../sass/units/product-list.scss */
.sort-list-item {
  text-align: center;
  color: #278e45;
  border-bottom: 1px solid #278e45;
  line-height: 2;
  font-weight: 700;
}
/* line 92, ../../sass/units/product-list.scss */
.sort-list-item a {
  color: #278e45;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 98, ../../sass/units/product-list.scss */
.sort-list-item:last-child {
  border-bottom: 0;
}
/* line 101, ../../sass/units/product-list.scss */
.sort-list-item:active {
  background-color: #278e45;
  color: white;
}
/* line 104, ../../sass/units/product-list.scss */
.sort-list-item:active a {
  color: white;
}

/*# sourceMappingURL=product-list.css.map */
