<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render :partial => "partial/head-meta" %>
    <%= render :partial => "partial/insert-stylesheets" %>
  </head>
  <body data-lang="kr">
    <div class="layout-container">
      <!--NO NEED TO EDIT HEADER-->
      <%= render :partial => "partial/layout-header" %>
      <!--NO NEED TO EDIT MENU-->
      <%= render :partial => "partial/layout-menu" %>
      <div class="layout-view">
        <div class="layout-view-inner">
          
        <%= render :partial => "/partial/layout-searchbar" %>
        <!--EDIT START FROM HERE:-->
        <%= yield %>
        <!--EDIT END HERE-->
        </div>
      </div>
      <!--NO NEED TO EDIT FOOTER-->
      <%= render :partial => "partial/layout-tabbar" %>
      <%= livereload_js if ENV["RACK_ENV"] != "production" %>
    </div>
    <%= yield :specific_bodylastchild %>
    <%= render :partial => "partial/insert-javascripts" %>
  </body>
</html>