<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "vendors/accordion" %>
<%= javascript_include_tag "vendors/form" %>
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });

  var html_ok_btn = '<div class="btn-popup"><a href="#">確定</a></div>';
  var html_edit_btn = '<div class="btn-popup"><a href="#">我要修改</a></div>';
  var html_cancel_btn = '<div class="btn-popup"><a>取消</a></div>';
  var popupContent1 = '<h2 class="tcenter">H2</h2><p class="tcenter">P content P content P content P content P content P content </p><div class="tcenter">' + html_ok_btn + html_edit_btn + html_cancel_btn + '</div>';
  var popupContent2 = '<div class="tcenter"><img src="http://dummyimage.com/600x400/999/ffffff&text=ANY+IMAGE"></div>';
  $("body").on('click', '.do-openpupup', function() {
      HFeature.popup(popupContent1);
      HFeature.popupOpen();

  });
  $("body").on('click', '.do-openpupup2', function() {
      HFeature.popup(popupContent2);
      HFeature.popupOpen();
      $(".layout-popup-wrap").addClass("style-nocolor");

  });
  $("body").on('click','.layout-popup-background,.layout-popup-wrap.style-nocolor,.btn-popup', function() {
    HFeature.popupClose();
  });
    </script>
<% end %>
<% content_for :header_content do %>
<% end %>
<a href="views/index/index.html">click me !!!!!!! go to INDEX page</a><br/><br/>
<a href="views/lookbook/lookbook-list.html">click me !!!!!!! go to LOOKBOOK page</a><br/><br/>
<a href="views/cafe/lodge.html">click me !!!!!!! go to CAFE page</a><br/><br/>
<a href="views/news/news-list.html">click me !!!!!!! go to NEWS page</a><br/><br/>

<h1>GUIDELINE：</h1>
<h1>0.ARTICLES</h1>
<p>.layout-content</p>
<section class="layout-content">
    <p>HERE ARE SOME TITLES in .layout-content</p>
    <h1>H1 (biggest)</h1>
    <h2>H2 (green)</h2>
    <h3>H3 (black)</h3>
    <h4>H4 (red)</h4>
    <h5>H5 (bold & small)</h5>
    <p>P (normal text)</p>
    <p class="uline">.uline</p>
    <p class="warning-color">.warning-color</p>
    <p class="warning-color2">.warning-color2</p>
    <p class="warning-color3">.warning-color3</p>
    <p class="warning-color4">.warning-color4</p>
    <p class="normal-color">.normal-color</p>
    <p class="pb0">.pb0 = padding-bottom:0</p>
    <p class="pt1">.pt1 = padding-top:1em</p>
    <p class="style-small">.style-small = font-size:0.7em</p>
    <p class="text-large">.text-large = font-size: 1.2em;line-height: 1.5;</p>
    <p class="tcenter">.tcenter = text-align:center;</p>
    <p class="style-font-roots">.style-font-roots</p>
</section>

<h1>MODULES</h1>
    <h1>1.ACCORDION</h1>
    <div class="layout-accordion">
        <ul class="accordion-list">
            <% 3.times do %>
            <li class="accordion-item">
              <div class="accordion-item-title">
                accordion-item-title
                <i role="img" class="fa fa-angle-down"></i>
              </div>
              <div class="accordion-item-content">accordion-item-content
                <div class="accordion-item-article">accordion-item-article</div>
              </div>
            </li>
            <% end %>
        </ul>
    </div>

    <h1>2.BUTTON</h1>
    <div class="module-btn"><a href="">.module-btn</a></div>
    <div class="tcenter">
      <div class="module-btn style-inline"><a href="">.module-btn.style-inline</a></div>
      <div class="module-btn style-inline"><a href="">.module-btn.style-inline</a></div>
    </div>
    <div class="module-btn style-light"><a href="">module-btn style-light</a></div>
    <div class="module-btn style-gray"><a href="">module-btn style-gray</a></div>
    <div class="module-btn style-pullleft">module-btn style-pullleft</div>
    <div class="clearfix">
      <div class="module-btn style-light style-smallright">module-btn style-smallright</div>
    </div>
    <div class="module-btn not-link">module-btn not-link(has no A inside)</div>
    <div class="btn-fancy">.btn-fancy</div>
    <div class="btn-sq">？</div>
    <span>↑.btn-sq</span>

    <h1>3.DL</h1>
    <dl class="module-dl">
        <dt>.module-dl dt</dt>
        <dd>this is .module-dl dd. this is .module-dl dd. this is .module-dl dd. this is .module-dl dd. this is .module-dl dd.</dd>
    </dl>

    <h1>4.FORM</h1>

    <div class="form-block">
        <label class="module-form-label" for="email"><i class="shape-star"></i>module-form-label</label>
        <input type="text" name="email" class="module-form-input" placeholder="module-form-input" />
        <p class="form-warning-text">form-warning-text</p>
    </div>

    <div class="form-block is-error">
        <label class="module-form-label" for="email"><i class="shape-star"></i>ERROR STYLE: add .is-error</label>
        <input type="text" name="email" class="module-form-input" placeholder="module-form-input" />
        <p class="form-warning-text">form-warning-text</p>
    </div>


  <div class="form-block">
    <label class="module-form-label style-sub" for="general">RADIO</label>
    <label class="module-radio">
      <input type="radio" name="gender" value="0"><i class="module-symbol" /></i><span>radio</span>
    </label>
    <label class="module-radio">
      <input type="radio" name="gender" value="1"><i class="module-symbol" /></i><span>radio</span>
    </label>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="general">SELECT</label>

    <select class="module-form-select select-style-half style-sub" name="general">
      <option value="0">option</option>
      <option value="1">option</option>
    </select>
  </div>

  <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>checkbox checkbox checkbox checkbox checkbox</span>
    </label>
  </div>

<h1>5.ICON</h1>
<i class="icon-pencil-o"></i>
<i class="icon-zoom-o"></i>
<i class="icon-eye-o"></i>
<i class="icon-hpoint"></i>
<i class="icon-payment-method"></i>
<i class="icon-payment-invoice"></i>
<p>.order-status-wrap has 4 status: .is-pending .is-sending .is-done .is-irregular</p>

<p>.order-status-wrap .is-pending</p>
<div class="order-status-wrap is-pending">
    <span class="order-status-circle status-pending"></span>
    <span class="order-status-circle status-sending"></span>
    <span class="order-status-circle status-done"></span>
</div>
<p>.order-status-wrap .is-sending</p>
<div class="order-status-wrap is-sending">
    <span class="order-status-circle status-pending"></span>
    <span class="order-status-circle status-sending"></span>
    <span class="order-status-circle status-done"></span>
</div>
<p>.order-status-wrap .is-done</p>
<div class="order-status-wrap is-done">
    <span class="order-status-circle status-pending"></span>
    <span class="order-status-circle status-sending"></span>
    <span class="order-status-circle status-done"></span>
</div>
<p>.order-status-wrap .is-irregular (don't show circles)</p>
<div class="order-status-wrap is-irregular : display none">
    <p>you can white down WHY IT IRREGULAR freely</p>
    <span class="order-status-circle status-pending"></span>
    <span class="order-status-circle status-sending"></span>
    <span class="order-status-circle status-done"></span>
</div>
<i class="shape-line"></i>
<p>(this is .shape-line↑)</p>
<p style="padding-left:2em;"><i class="shape-star"></i>.shape-star has margin-left: -0.5em.</p>
<p class="prefix-dollarsign">1999 (add .prefix-dollarsign to add "TWD" )</p>

<h1>6.TABLE</h1>
<p>module-table table-style-a</p>
<table class="module-table table-style-a">
    <thead>
        <tr>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
        </tr>
    </tfoot>
</table>

<p>module-table table-style-b</p>
<table class="module-table table-style-b">
    <thead>
        <tr>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
        </tr>
    </tfoot>
</table>

<p>module-table table-style-c</p>
<table class="module-table table-style-c">
    <thead>
        <tr>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
            <td>THEAD TD</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
            <td>TBODY TD</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
            <td>TFOOT TD</td>
        </tr>
    </tfoot>
</table>

<h1>7.SLIDER</h1>
<div class="swiper-container">
        <div class="swiper-wrapper">
        <% 9.times do %>
            <div class="swiper-slide">
                    <img src="http://dummyimage.com/1280x1280/999/fff" alt="" width="100%">
            </div>
        <% end %>
        </div>
      <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>

<h1>8.PRODUCT</h1>
    <p>IS NOT SALE</p>
      <div class="product-list-item" style="width:33.33%;">
          <div class="product-list-item-img">
              <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt="" width="100%">
              <div class="product-list-item-exclusive">EXCLUSIVE</div>
              <a href="/views/product/product-detail.html"></a>
          </div>
          <a href="/views/product/product-detail.html">
              <p class="product-list-item-redmark">redmark-官網獨家首賣歐歐歐歐!!!</p>
              <p class="product-list-item-name"><官網獨家首賣>MOTO-ROOTS73海狸短袖短袖短袖短袖短袖POLO衫</p>
              <p class="product-price"><!--add class .is-sale to change style-->
                  <span class="origin-price">$19999</span>
                  <span class="sp-price">$14999</span>
              </p>
          </a>
      </div>
        
    <p>IS SALE</p>
      <div class="product-list-item" style="width:33.33%;">
          <div class="product-list-item-img">
              <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt="" width="100%">
              <div class="product-list-item-exclusive">EXCLUSIVE</div>
              <a href="/views/product/product-detail.html"></a>
          </div>
          <a href="/views/product/product-detail.html">
              <p class="product-list-item-redmark">redmark-官網獨家首賣歐歐歐歐!!!</p>
              <p class="product-list-item-name"><官網獨家首賣>MOTO-ROOTS73海狸短袖短袖短袖短袖短袖POLO衫</p>
              <p class="product-price is-sale"><!--add class .is-sale to change style-->
                  <span class="origin-price">$19999</span>
                  <span class="sp-price">$14999</span>
              </p>
          </a>
      </div>
<h1>9.popup</h1>
<p class="do-openpupup">CLICK ME TO OPEN NORMAL POPUP!</p>
<p class="do-openpupup2">CLICK ME TO OPEN NO-BACKGROUNDED POPUP!</p>
<p>CLICK POPUP-BTN or OUTSIDE or ANY-IMAGE TO CLOSE.</p>
<h1>10.UL</h1>
<ul>
  <li>UL LI</li>
  <li>UL LI</li>
  <li>UL LI
    <ul>
      <li>UL LI UL LI</li>
      <li>UL LI UL LI</li>
      <li>UL LI UL LI
        <ul>
          <li>UL LI UL LI UL LI</li>
          <li>UL LI UL LI UL LI</li>
          <li>UL LI UL LI UL LI</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-style-disc">
  <li>UL.list-style-disc LI</li>
  <li>UL.list-style-disc LI</li>
  <li>UL.list-style-disc LI</li>
</ul>
<h1>done.</h1>