<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/index" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/index" %>
<script>
$("body").find(".layout-popup-wrap.style-nocolor").on("click",function(){
    $(this).remove();
});
(function() {
    
    var swiperMain = new Swiper('#slider-index-main.swiper-container', {
        pagination: '#slider-index-main .swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
    var swiperSub = new Swiper('#slider-index-sub.swiper-container', {
        nextButton: '#slider-index-sub .swiper-button-next',
        prevButton: '#slider-index-sub .swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var swiperNewArrival = new Swiper('#slider-index-newarrival.swiper-container', {
        nextButton: '#slider-index-newarrival .swiper-button-next',
        prevButton: '#slider-index-newarrival .swiper-button-prev',
        slidesPerView: 2,
        initialSlide: 1,
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });

    var swiperPopup = new Swiper('#slider-index-popup.swiper-container', {
        nextButton: '#slider-index-popup .swiper-button-next',
        prevButton: '#slider-index-popup .swiper-button-prev',
        pagination: '#slider-index-popup .swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });

})()

</script>
<% end %>
<% content_for :header_content do %>
<% end %>

<div id="slider-index-main" class="bannerbox-slider swiper-container">
        <div class="swiper-wrapper">
        <% 2.times do %>
            <div class="swiper-slide" style="background-image:url('https://m.roots.com.tw/data/images/Banners/Mobile%20BN/0413/women-1280x1200.jpg');">
              <a href="#"></a>
            </div>
        <% end %>
        </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
</div>
<div id="slider-index-sub" class="full-bannerbox bannerbox-slider swiper-container">
        <div class="swiper-wrapper">
        <% 2.times do %>
            <div class="swiper-slide" style="background-image:url('https://m.roots.com.tw/data/images/Banners/Mobile%20BN/New-Arrival-1280x320.jpg');">
              <a href="#"></a>
            </div>
        <% end %>
        </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<div class="full-bannerbox bannerbox-category" style="background-image:url('');">
<!--     <img src="http://40.media.tumblr.com/ed814de3a84725596dcd779225fbd855/tumblr_ny2uhntDri1r5z2nzo2_1280.jpg" alt="" class="bannerbox-category-bgimg" width="100%">
 -->    
    <div class="bannerbox-category-bgimg" style="background-image:url('https://m.roots.com.tw/data/images/Mobile/Banner/bannerbox-1.png');"></div>
     <ul class="bannerbox-category-submenu style-short">
        <li class="bannerbox-category-submenu-item">MEN<i class="fa fa-angle-down"></i></li>
        <% 2.times do |i| %>
        <li class="bannerbox-category-submenu-item"><a href="/views/product/product-list.html">caterogy<%= i %></a></li>
        <% end %>
     </ul>
</div>
<div class="full-bannerbox bannerbox-category style-short" style="background-image:url('');">
<!--     <img src="http://40.media.tumblr.com/fb4d914d00f411ef2673413be746300c/tumblr_ny1814FQCy1r5z2nzo1_1280.jpg" alt="" class="bannerbox-category-bgimg" width="100%">
 -->    
    <div class="bannerbox-category-bgimg" style="background-image:url('https://m.roots.com.tw/data/images/Mobile/Banner/bannerbox-2.png');"></div>
     <ul class="bannerbox-category-submenu style-short">
        <li class="bannerbox-category-submenu-item">WOMEN<i class="fa fa-angle-down"></i></li>
        <% 4.times do |i| %>
        <li class="bannerbox-category-submenu-item"><a href="/views/product/product-list.html">caterogy<%= i %></a></li>
        <% end %>
     </ul>
</div>
<div class="full-bannerbox bannerbox-category" style="background-image:url('');">
<!--     <img src="http://36.media.tumblr.com/947f6436b09e181bf0031cf0e29d68f6/tumblr_ny2uhntDri1r5z2nzo1_1280.png" alt="" class="bannerbox-category-bgimg" width="100%">
 -->    
    <div class="bannerbox-category-bgimg" style="background-image:url('https://m.roots.com.tw/data/images/Mobile/Banner/bannerbox-3.png');"></div>
    <ul class="bannerbox-category-submenu style-short">
        <li class="bannerbox-category-submenu-item">CHILDREN<i class="fa fa-angle-down"></i></li>
        <% 6.times do |i| %>
        <li class="bannerbox-category-submenu-item"><a href="/views/product/product-list.html">caterogy<%= i %></a></li>
        <% end %>
     </ul>
</div>
<div class="full-bannerbox bannerbox-category" style="background-image:url('');">
<!--     <img src="http://41.media.tumblr.com/a4ae72d1316d764456f44ee2d1111e98/tumblr_nyjebdhdnM1r5z2nzo1_1280.jpg" alt="" class="bannerbox-category-bgimg" width="100%">
 -->    
    <div class="bannerbox-category-bgimg" style="background-image:url('https://m.roots.com.tw/data/images/Mobile/Banner/bannerbox-4.png');"></div>
    <ul class="bannerbox-category-submenu">
        <li class="bannerbox-category-submenu-item">LEATHER GOODS<i class="fa fa-angle-down"></i></li>
        <% 8.times do |i| %>
        <li class="bannerbox-category-submenu-item"><a href="/views/product/product-list.html">caterogy<%= i %></a></li>
        <% end %>
     </ul>
</div>
<div class="full-bannerbox bannerbox-category" style="background-image:url('');">
<!--     <img src="http://40.media.tumblr.com/f335151ef995be011f94054df284fca3/tumblr_ny2uu9AS6W1r5z2nzo1_1280.png" alt="" class="bannerbox-category-bgimg" width="100%">
 -->    
    <div class="bannerbox-category-bgimg" style="background-image:url('https://m.roots.com.tw/data/images/Mobile/Banner/bannerbox-5.png');"></div>
    <ul class="bannerbox-category-submenu">
        <li class="bannerbox-category-submenu-item">ROOTS HOME<i class="fa fa-angle-down"></i></li>
        <% 10.times do |i| %>
        <li class="bannerbox-category-submenu-item"><a href="/views/product/product-list.html">caterogy<%= i %></a></li>
        <% end %>
     </ul>
</div>
<!-- <div class="half-bannerwrap clearfix">
    <div class="half-bannerbox"><a href="#">ACCESORIES</a></div>
    <div class="half-bannerbox"><a href="#">ROOTS HOME</a></div>    
</div> -->
<h3>NEW ARRIVALS</h3>
<div id="slider-index-newarrival" class="full-bannerbox bannerbox-slider swiper-container">
        <div class="swiper-wrapper">
        <% 9.times do %>
            <div class="swiper-slide product-list-item">
                <a href="/views/product/product-detail.html">
                <div class="product-list-item-img">
                    <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt="" width="100%">
                    <div class="product-list-item-exclusive">EXCLUSIVE</div>
                </div>
                    <p class="product-list-item-redmark">官網獨家首賣歐歐歐歐!!!</p>
                    <p class="product-list-item-name"><官網獨家首賣>MOTO-ROOTS73海狸短袖POLO衫</p>
                    <p class="product-price is-sale"><!--add class .is-sale to change style-->
                        <span class="origin-price prefix-dollarsign">19999</span>
                        <span class="sp-price prefix-dollarsign">14999</span>
                    </p>
                </a>
            </div>
        <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>

<% content_for :specific_bodylastchild do %>
<div class="layout-popup-wrap style-nocolor">

    <div id="slider-index-popup" class="swiper-container">
            <div class="swiper-wrapper">
            <% 20.times do %>
                <div class="swiper-slide">
                  <a href="#">
                      <img src="http://dummyimage.com/1080x1080/aaa/fff" width="100%" alt="">
                  </a>
                </div>
            <% end %>
            </div>
          <i class="icon-close"></i>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    </div>

</div>
<div class="layout-popup-background"></div>
<% end %>