<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "帳號啟用驗證" %>

<section class="layout-content">
<h2>非常感謝您，會員註冊只剩最後一步驟</h2>
<p>系統已將帳號驗證信寄至您剛才所註冊的e-mail。請至您的信箱啟用驗證，即可完成會員註冊。</p>
<p>若未收到系統所寄送的驗證郵件，請點擊重寄帳號驗證信，系統會再次寄送驗證信至您的信箱。</p>
<p class="mb1">若操作以上步驟仍未收到驗證信，請至<a href="/views/about/contact.html" class="uline">聯絡我們</a>。</p>
<div class="module-btn"><a href="signup-complete.html">重寄帳號確認信</a></div>
<p class="appendix-text warning-color">郵件已寄出！</p>
</section>