<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<section class="layout-content">
<h2 class="page-title">已寄送密碼到您的信箱！</h2>
<p>系統已為您重新建立一組新的密碼至您的註冊信箱，請至您的信箱確認。</p>
<p>若仍未收到系統郵件，可再前往<a href="forget-password.html" class="uline"> 忘記密碼 </a>重複操作一次 或 <a href="/views/about/contact.html" class="uline">聯絡我們</a>。</p>
<p class="mb1">若需要修改密碼，可在登入後前往 修改會員資料。</p>
  <div class="module-btn"><a href="/">完成</a></div>
</section>