<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<section class="layout-content">
<h2 class="page-title">忘記密碼</h2>
<p>請輸入所登記的網路帳號(電子郵件地址)後按下一歩、我們將會寄送連結到您的電子郵件信箱、讓您可以重新建立一組新的密碼。在此之前請先確認您已經建立了帳號、並請注意訂閲電子報並不會讓您自動擁有一組帳號。</p>
<form>
  <div class="form-fullblock is-error">
    <input type="text" name="email" class="module-form-input" placeholder="請輸入您的會員帳號/電子郵件" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="module-btn"><a href="forget-password-complete.html">下一步</a></div>
</form>
</section>