<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<section class="layout-content">
<h2 class="page-title">會員登入</h2>
<p>歡迎回來！請登入您註冊的網路帳號密碼。</p>
<i class="shape-line"></i>
<form>
  <p class="form-fullblock-title">網路帳號<span class="form-fullblock-title-append">E-MAIL</span></p>
  <div class="form-fullblock is-error">
    <input type="text" name="email" class="module-form-input" placeholder="電子郵件帳號" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>
  <p class="form-fullblock-title">密碼<span class="form-fullblock-title-append">PASSWORD</span></p>
  <div class="form-fullblock">
    <input type="password" name="password" class="module-form-input" placeholder="密碼">
    <p class="form-warning-text">錯誤訊息</p>
  </div>  
  <div class="form-fullblock is-error">
    <div class="forgot-pw"><a href="forget-password.html">忘記密碼？</a></div>
    <label class="module-radio remember-me">
      <input type="checkbox" name="agree" value="0"><i class="module-symbol"></i><span>記住會員帳號</span>
    </label>
  </div>

  <div class="module-btn"><a href="/">登入</a></div>
  <i class="shape-line"></i>
  <p class="text-large">尚未註冊成為我們的會員嗎？</p>
  <p>快加入我們！會員有更多優惠！</p>
  <div class="module-btn style-light"><a href="signup.html">立即註冊</a></div>
</form>
</section>