<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%#= javascript_include_tag "units/popup" %>
<script>
  (function () {

    $("body").find('.open-select-address').on('click', function(event) {
      event.preventDefault();
      /* Act on the event */
      var popupContentAddress = $(".layout-select-address").html();
      HFeature.popup(popupContentAddress);
      $('.layout-view').addClass("is-locking").animate({ scrollTop:(0)}, 300);
      HFeature.popupOpen();
      $("body").find(".layout-popup-wrap").addClass("style-absolute");
    });

    var popupContent = $(".layout-personal-info").html();
    HFeature.popup(popupContent);
    $("body").on('click', '.open-personal-info', function () {
      $('.layout-view').addClass("is-locking").animate({ scrollTop:(0)}, 300);
      HFeature.popupOpen();
      $("body").find(".layout-popup-wrap").addClass("style-absolute");
    });

    $("body").on('click','.layout-popup-background,.style-nocolor.layout-popup-wrap,.btn-popup-close', function() {
      $("body").find(".is-locking").removeClass("is-locking");
      var newHeight = $("body").find("#privateStatus").offset().top;
      $('.layout-view').animate({ scrollTop:( newHeight )}, 300);
      HFeature.popupClose();
    });

    $("body").on('click','.do-check-agree', function() {
      $("body").find("#privateStatus").prop("checked", true);
    });
    $("body").on('click','.do-uncheck-agree', function() {
      $("body").find("#privateStatus").prop("checked", false).removeProp(check);
    });
    $("body").on('change','.do-toUpper', function() {
      var myvalue = $(this).val().toUpperCase();
      $(this).val(myvalue);
      // alert(myvalue);
    });
  })()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "加入會員" %>

<section class="layout-content">
<h2>如果您已經是Roots會員</h2>
<p>請前往認證申請網路功能，我們會將您的會員資料整合到網路帳號。</p>
<div class="module-btn"><a href="signup-physical-step1.html">前往申請</a></div>
<i class="shape-line"></i>
<h2>如果您還沒成為Roots會員</h2>
<p>請填下您的個人資料，並加入一般會員。</p>
<form class="form-signup">
  <!-- Add class "is-error" on input's parent div -->
  <div class="form-block is-error">
    <label class="module-form-label style-block" for="email"><i class="shape-star"></i>E-MAIL</label>
    <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" />
    <p class="form-warning-text">此郵件地址並沒有註冊過</p>
  </div>
  <div class="module-btn not-link style-gray style-pullleft">檢查郵件地址</div>
  <div class="form-block is-error">
    <label class="module-form-label" for="password"><i class="shape-star"></i>密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請輸入6-10位數" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="form-block is-error">
    <label class="module-form-label" for="password"><i class="shape-star"></i>確認密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請重新輸入密碼" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="form-block">
    <label class="module-form-label" for="lastname"><i class="shape-star"></i>姓名</label>
    <div class="form-style-half is-error">
      <input type="text" name="lastname" class="module-form-input" placeholder="姓氏" />
      <p class="form-warning-text">錯誤訊息</p>
    </div>
    <div class="form-style-half is-error">
      <input type="text" name="firstname" class="module-form-input" placeholder="名" />
      <p class="form-warning-text">錯誤訊息</p>    
    </div>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="general">性別</label>
    <label class="module-radio">
      <input type="radio" name="gender" value="0"><i class="module-symbol" /></i><span>男</span>
    </label>
    <label class="module-radio">
      <input type="radio" name="gender" value="1"><i class="module-symbol" /></i><span>女</span>
    </label>
<!-- 
    <select class="module-form-select select-style-half style-sub" name="general">
      <option value="0">男</option>
      <option value="1">女</option>
    </select>
 -->
  </div>
  <div class="form-block is-error">
    <label class="module-form-label" for="id">身分證字號</label>
    <input type="text" name="id" class="module-form-input do-toUpper" placeholder="請輸入身分證字號" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address"><i class="shape-star"></i>地址</label>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">台北市</option>
      <option value="1">基隆市</option>
    </select>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">大同區</option>
      <option value="1">東東東東東區</option>
    </select>
    <div class="module-btn open-select-address">選擇地址</div>
  </div>

  <div class="form-block is-error">
    <label class="module-form-label" for="address"></label>
    <input type="text" name="address" class="module-form-input" placeholder="請輸入地址" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="form-block is-error">
    <label class="module-form-label" for="tel"><i class="shape-star"></i>行動電話</label>
    <input type="text" name="tel" class="module-form-input" placeholder="請輸入行動電話" />
    <p class="form-warning-text">錯誤訊息</p>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address"><i class="shape-star"></i>出生日期</label>
    <!-- Add class "is-error" on select itself -->
    <select class="module-form-select select-style-third-one style-sub is-error" name="category">
      <option value="0">年</option>
      <option value="1">1900</option>
    </select>
    <select class="module-form-select select-style-third-one style-sub is-error" name="category">
      <option value="0">月</option>
      <option value="1">1</option>
    </select>
    <select class="module-form-select select-style-third-one style-sub is-error" name="category">
      <option value="0">日</option>
      <option value="1">1</option>
    </select>
  </div>
  <p class="warning-color">*為必填欄位，請填妥欄位資訊。</p>
  <i class="shape-line"></i>
  <div>
    <label class="module-radio">
    <input id="privateStatus" type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>我同意<a class="open-personal-info uline">會員條款</a></span>
    </label>
    <p>您必須同意本站所訂立之聲明與協議以建立一個新帳號。</p>
  </div>
<!--   <h2>訂閱電子報：</h2>
  <p>若您不願意收到本公司所發送之特別企劃、折扣及新商品訊息，請點選以下框格，我們將不會寄送相關訊息給您。</p>
   <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span> 不同意收到H:CONNECT發送的e-mail</span>
    </label>
  </div> 
  <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>不同意收到H:CONNECT發送的sms</span>
    </label>
  </div> -->
  <div class="module-btn"><a href="account-verify.html">送出會員資料</a></div>



</form>
</section>

<section class="layout-personal-info" style="display: none;">
    <h2>Roots會員條款</h2>
    <ul>
        <li>
            歡迎您在Roots網站進行瀏覽與消費，為維護您的權益，購物前請仔細閱讀以下約定條款。<br>
            認知與接受條款Branded Lifestyle(Roots),Taiwan Branch(Roots)系依據本服務條款提供Roots網站（http://www.roots.com.tw） 服務。本約定條款是為了保護「您」以及「Roots Canada Ltd.（以下簡稱Roots）」的利益，當您點選「我同意」的選項或在 Roots網站進行訂購、付款、消費或進行相關行為，即視為您事先已經知悉並同意遵守本約定條款的所有約定。<br>
            當你使用Roots網站時，即表示你已閱讀、瞭解並同意接受本約定書之所有內容。<br>
            Roots有權於任何時間修改或變更本約定書之內容，建議你隨時注意該等修改或變更。你於任何修改或變更後繼續使用Roots網站 ，視為你已閱讀、瞭解並同意接受該等修改或變更。<br>
            若你未滿十八歲，除應符合上述規定外，並應于你的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後， 方得使用或繼續使用Roots網站。當你使用或繼續使用Roots網站時，即表示你的家長（或監護人）已閱讀、瞭解並同意接受本約 定書之所有內容及其後修改變更。<br>
            您同意您與Roots間有關Roots網站相關服務使用事宜，得以電子文件（如：電子郵件或網站公告）為意思表示方法。
        </li>
        <li>
            <h3>一、Roots會員細則</h3>
            Roots好友細則 :<br><br>
            非持有Roots VIP卡及粉絲證，請於Roots官網申請加入成為Roots好友。<br>
            Roots好友可不定期收到各項產品及活動訊息。<br><br>
            Roots VIP權益細則：<br><br>
            憑Roots VIP卡號與登記之行動電話即可於Roots官網開通網路購物功能服務。<br>
            線上購物同享Roots VIP優惠，線上消費始可累積紅利點數，並可使用紅利點數扣抵。線上購物新增之紅利點數，因需作業處理時間，將於7個工作天轉入VIP持卡人之帳戶。<br>
            凡至Roots全省專櫃/專賣店或線上購物單筆消費滿10,000元即可申辦Roots VIP。<br>
            凡持Roots VIP卡消費，可享當季正價商品85折，於折扣期間8、7折商品可再享95折優惠(6折、特價品及折扣皮件商品恕不適用)。<br>
            凡持Roots VIP卡，可享Roots Café 9折優惠及Roots Home 95折優惠。<br>
            憑Roots VIP卡於專櫃/專賣店或Roots 線上購物，每消費100元即可累積紅利點數1點，每一積分點於Roots專櫃/專賣店下次消費時抵扣1元，但需本人持卡及身份証明文件方可抵扣。<br>
            紅利點數於當筆消費日7天後匯入會員帳戶中，並可開始使用。<br>
            紅利點數有效期為二年，自紅利點數匯入帳戶日起算，若於到期日前未使用，將直接移除紅利點數，恕不另行通知<br>
            每位貴賓之累積紅利點數不得轉讓他人，亦不得兌換成現金。<br>
            請妥善保管Roots VIP卡，若遺失補辦卡片需酌收辦卡手續工本費50元。<br>
            為維護您的VIP權益，Roots VIP卡僅限本人使用，每人限持一張，本公司保有變更之權利。<br>
            實體店鋪 Roots VIP商品退換時紅利點數之處理細則：<br><br>
            <ul class="list-style-disc">
                <li>
                    換貨<br>
                    (1) 更換等值商品：將直接安排換貨流程。<br>
                    (2) 更換大於原購買金額之商品：差額付款不得使用紅利點數折抵。<br>
                    (3) 更換小於原購買金額之商品：<br>
                    - 如非使用紅利點數折抵，將以原付款方式退還差額，並於未匯入會員帳戶中之紅利點數先扣除退還該差額所產生之紅利點數。<br>
                    - 如使用紅利點數折抵，則優先退還原折抵之紅利點數，若紅利點數不足時再以原付款方式退還「剩餘差額」，並於未匯入會員帳戶中之紅利點數先扣除該「剩餘差額」所產生之紅利點數。<br>
                </li>
                <li>
                    退貨<br>
                    (1) 非使用紅利點數折抵商品：將以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。<br>
                    (2) 使用紅利點數折抵商品：將紅利點數與金額部分以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。<br>
                </li>
            </ul>
            Roots粉絲證權益細則：<br><br>
            持粉絲證卡號與登記之行動電話即可於Roots官網開通網路購物功能服務。<br>
            凡至Roots全省專櫃/專賣店或線上購物單筆消費滿5,000元，即可申辦Roots粉絲證。<br>
            凡持Roots粉絲證，於Roots全省專櫃/專賣店或Roots 線上購物消費可享當季正價商品9折，折扣期8折可再享95折惠 (7折、6折、特價品及折扣皮件商品恕不適用)。<br>
            凡持Roots 粉絲證，可享Roots Café 9折<br>
            於有效期間內累積消費滿NT$20,000 (淨值價)，即可回櫃升等成為Roots VIP，粉絲證回收並失效；若於累積期間內單日單筆消費滿10,000元者，即可立即申辦Roots VIP，粉絲證回收失效。(網路商店不適用單日消費滿10,000元即升等之條款)<br>
            有效期間自發卡日起算一年內，有效期間超過者，粉絲證權益自動消失，恕不另行通知。<br>
            Roots粉絲證限本人使用，不得轉讓，結帳前出示本卡始可享消費累積。<br>
            持卡人不得同時持有Roots VIP卡及粉絲證，經查後粉絲證將自動失效。<br>
            本公司保留隨時修正或停用本卡之權利。<br>

        </li>
        <li>
            <h3>二、個人資料安全</h3>
            在您於Roots網站進行消費之前，必須設定一組會員帳號和密碼，並且填寫相關個人資料成為正式會員，您必須擔保這 些資料的完整和正確，若事後有變更，您必須主動上網登錄修改或連絡Roots客服人員處理，若您提供的資料錯誤或不實， Roots有權暫停或終止您的會員資格，並拒絕繼續對您提供服務。<br>
            您有妥善保管「會員帳號、密碼」的責任和義務，不得洩漏、出借、轉讓或其他方式或名義提供給第三人知悉，並應於每次使用 後確實登出，以防他人冒用，對於使用該組會員帳號密碼登入Roots網站後之所有一切行為，除可證明非可歸責於您之事由所致 者，都將視為您本人之行為，您須負完全責任，若非可歸責於Roots之事由致您的帳號遭盜用而產生您個人的損失，Roots不負 賠償責任。<br>
            您所留存的個人資料，Roots將依本約定條款負保密責任，除為完成交易或會員服務而提供給相關服務之配合廠商或本約定條款 另有約定外，絕不會任意洩漏或提供給第三人。<br>
            在下列情況下，Roots有權將您的個人資料給有權機關、或主張其權利受侵害並提出適當證明的第三人：<br>
            ※ 依法律之規定、或依司法、檢警調機關與其他有權機關合法之要求。<br>
            ※ 為保障其他會員或第三人之合法權益。<br>
            ※ 為維護Roots網站系統的正常運作及安全。<br>
            ※ 您違反本約定條款，而Roots依法行使權利者。
        </li>
        <li>
            <h3>三、線上購物</h3>
            Roots網站所列出之商品資訊，僅為要約之引誘，在您信用卡線上刷卡訂購程序以後，Roots網站會自動寄給您一封收到您訂購 訊息之電子郵件通知，但這不代表交易已經完成或契約已經成立，Roots保留是否接受此訂單的權利，若交易條件有誤、商品無 庫存、服務無法提供或有Roots無法接受訂單之情形，Roots會主動電話聯絡您並為您辦理退款。<br>
            您所訂購的所有商品，Roots負責對您提供品質承諾、保固及售後服務等，並協助您解決產品使用上的疑問。<br>
            您一旦在Roots網站完成消費的訂購程序，就表示您提出要約、願意依照本約定條款及相關網頁上所載明的交易條件或限制，訂 購該商品，您所留存的聯絡資料（如收件者地址、電話）如有變更，應立即連絡Roots客服人員處理，並且不得以資料不符為理由，否認訂購行為或拒絕付款。<br>
            在您使用信用卡進行購物時，您必須填寫確實的信用卡資料。若被發現有不實登錄或任何未經持卡人許可之盜刷情形時，Roots 有權暫停或終止您的會員資格並將依法追究。為了保護會員的隱私及權益，Roots不會留存會員在網站上登錄的信用卡號等金融資料。<br>
            您在Roots網站進行的所有消費行為，原則應以Roots電腦系統所自動紀錄的電子交易資料為準，如遇糾紛，Roots同意提供該 筆電子交易資料供您參考，若您仍認為該交易資料有誤，請立即通知Roots進行協商。<br>
            您所訂購的商品，若經配送兩次無法送達、且經無法聯繫超過三天者，Roots得主動取消該筆訂單並全額退款處理。
        </li>
        <li>
            <h3>四、退貨與退款</h3>
            <ul class="list-style-decimal">
                <li>
                    若您因商品瑕疵要辦理退貨，請於收到貨當日起7天鑑賞期內（含國定例假日）聯絡客服人員，我們會安排宅配公司於5個工作天內， 到您指定的地點取貨。Roots僅接受每張訂單1次退換貨之運費吸收,並請務必將商品銷售清單與發票連同商品一起退回，如已超過7天鑑賞 期限，恕不接受退貨。請注意，您所退回的商品內容必須未被穿過洗過並維持所有商品、贈品、附件、包裝、附隨文件或資料的完整性， 否則，Roots有權力拒絕您的退貨退款要求。
                </li>
                <li>
                    請注意，您所退回的商品內容必須包括未被穿過、洗過、使用過之商品，並維持所有商品、贈品、附件、包裝、附隨文件或資料的完 整性，否則，Roots有權力拒絕您的退貨退款要求。
                </li>
                <li>
                    個人試穿後，若商品因人為因素產生異味或材質變形，或購買之品項為貼身衣物，恕不接受退換貨。
                </li>
                <li>
                    退貨時，請您使用完整的原包裝袋/紙箱將欲辦理退貨之商品包裝妥當寄回；若遇原包裝袋/紙箱已遺失或破損不堪使用，請使用其他 完整袋子/紙箱進行包裝。您要求退貨之商品若有缺件或是損毀，Roots有權拒絕您的退貨退款要求；為保障您的權益，若您所訂購的商品本身出現瑕疵問題，須於收到商品後7天內向Roots請求退貨，Roots將全額退款給您。
                </li>
                <li>
                    請注意，於線上購買的商品無法直接於實體店鋪辦理退換貨，於實體店鋪購買之商品亦不可透過線上購物辦理退換貨
                </li>
                <li>
                    如因個人因素退貨次數過多，Roots將視情形決定是否暫停出貨，敬請見諒。
                </li>
            </ul>
        </li>
        <li>
            <h3>五、系統安全</h3>
            您認知並了解Roots網站不以任何明示或默示的方式保證會員所上載或傳輸的資料將被正常顯示或處理、亦不保證資料傳輸的正 確性；若您發現Roots網站有錯誤或疏失，請立即通知本公司。<br>
            Roots網站會定期備份會員資料，除非Roots網站有故意或重大過失，Roots網站不對任何資料的失誤刪除、或備份錯誤或失敗負責。
        </li>
        <li>
            <h3>六、約定條款之修改</h3>
            除本約定條款外，您還應遵守相關網頁上所擬定的其他相關交易條件及說明。<br>
            為因應政府法令規定，Roots保留隨時修訂或變更本約定<br>條款內容的權利，修改後的條款內容將公布在Roots網站，Roots將不 會個別通知會員，您應隨時注意相關內容的修改與變更。
            如您在約定條款修改內容生效後，仍繼續在Roots網站進行購物，即表示您已經瞭解且同意遵守本約定條款的所有修改或變更。若您不同意者，請勿繼續使用Roots網站相關服務。
        </li>
        <li>
            <h3>七、智慧財產權</h3>
            Roots網站所使用的軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網頁設計及網站 畫面的安排，除Roots有特別聲明外，皆由Roots或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權 、營業秘密與專有技術等。<br>
            任何人不得擅自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。任何人欲引用 或轉載前述軟體、程式或網站內容，必須依法取得Roots或其他權利人的事前書面同意。<br>
        </li>
        <li>
            <h3>八、其他約定</h3>
            本約定條款中，任何條款之全部或一部份無效時，不影響其他條款之效力。<br>
            您瞭解並同意，除法律另有規定者外，如果您或第三人因使用Roots網站服務、或無法使用Roots網站服務所致生之任何直接、 間接、衍生、或特別損害，Roots不負任何賠償責任。若您使用之服務係有對價關係者，除非法律另有規定外，您同意Roots依 法對您或第三人所應負之賠償或補償責任，以該爭議交易之實收金額為上限。
        </li>
        <li>
            <h3>九、準據法及管轄法院</h3>
            您在Roots網站上所進行的任何交易或行為，以及因此與Roots產生之權利義務關係，都以中華民國法令為準據法。<br>
            您同意除法律另有規定者外，在Roots網站上所進行的任何交易或行為，以及因本約定條款所發生的糾紛，若因此而發生涉訟， 以台灣台北地方法院為第一審管轄法院。<br>
            本約定條款若有未盡之處，應依中華民國法律解釋、補充及辦理。
        </li>
        <li>
            <h3>十、我同意透過e-mail或SMS收到Roots所發送之特別企劃、折扣及新商品訊息。</h3>
        </li>
    </ul>
    <div class="tcenter">
      <div class="btn-popup btn-popup-close do-check-agree"><a>同意</a></div>
      <div class="btn-popup btn-popup-close style-gray do-uncheck-agree"><a>不同意</a></div>    
    </div>
</section>
<section class="layout-select-address" style="display: none;">
<%= render :partial => "/partial/popup-select-address" %>
</section>