<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%= javascript_include_tag "vendors/signup-physical-steps" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step2-2">
<h2 class="style-italic"><span class="style-italicgreenbg">Step.2</span>簡訊驗證碼/更新電子郵件</h2>
<p>系統已發送「簡訊驗證碼」至您的手機，請於 <span id="mm" class="warning-color">5</span> 分 <span id="ss" class="warning-color">0</span> 秒 內輸入簡訊驗證碼，並填入您的電子郵件信箱。</p>
<form>
  <div class="form-block">
    <label class="module-form-label">電話</label>
    <span>0912345678</span>
  </div>

  <div class="form-block mb1 is-error">
    <label class="module-form-label" for="sns-verify">簡訊驗證碼</label>
    <input type="text" name="sns-verify" class="module-form-input" placeholder="請輸入簡訊驗證碼" />
    <p class="form-warning-text">簡訊驗證碼錯誤</p>
  </div>

  <p>請更新您的電子郵件信箱，注意，這將也會成為您將來的網路帳號。</p>
  <div class="form-block is-error">
    <label class="module-form-label" for="email">新的E-MAIL</label>
    <input type="text" name="email" class="module-form-input" placeholder="請輸入您的電子郵件信箱" />
    <p class="form-warning-text">電子郵件格式錯誤</p>
  </div>
  <div class="form-block is-error">
    <label class="module-form-label" for="retype-email">確認E-MAIL</label>
    <input type="text" name="retype-email" class="module-form-input" placeholder="再次輸入您的電子郵件信箱" />
    <p class="form-warning-text">電子郵件不符</p>
  </div>
</form>

<div class="tcenter pt1 show-intime">
  <div class="module-btn btn-inline"><a href="signup-physical-step2.html">確認</a></div>
  <div class="module-btn btn-inline style-gray"><a href="/views/about/contact.html">取消</a></div>
</div>

  <div class="tcenter show-timeout">
    <div class="module-btn btn-inline"><a href="signup-physical-step2c-2.html">重發驗證碼</a></div>
    <div class="module-btn btn-inline style-gray"><a href="signup-physical-step1.html">返回</a></div>
  </div>


</section>