<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%#= javascript_include_tag "vendors/signup-physical-steps" %>
<script>
(function() {
  var html_physical_signup_complete_btn = '<div class="btn-popup"><a href="/">確定</a></div></div>'; /*實體會員註冊完成鈕-點擊跳轉首頁*/

  $(".signup-physical-step3").find(".module-btn").on('click', function(){
    var popupContent = '<h2 class="tcenter">網路帳號開通成功</h2><p class="tcenter">設定密碼成功，您可以開始使用網路購物服務！</p><div class="tcenter">' + html_physical_signup_complete_btn;
    HFeature.popup(popupContent);
    HFeature.popupOpen();
  });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step3">
<h2 class="style-italic"><span class="style-italicgreenbg">Step.3</span>設定會員密碼</h2>
<p>請設定一組密碼，此密碼將成為您的網路會員帳戶密碼。</p>
<form>
  <div class="form-block is-error">
    <label class="module-form-label" for="pw">設定密碼</label>
    <input type="password" name="pw" class="module-form-input" placeholder="請輸入英文數字6-10碼" />
    <p class="form-warning-text">密碼格式不符</p>
  </div>
  <div class="form-block mb1 is-error">
    <label class="module-form-label" for="pwconform">確認密碼</label>
    <input type="password" name="pwconform" class="module-form-input" placeholder="請重新輸入密碼" />
    <p class="form-warning-text">密碼不符</p>
  </div>

  <div class="module-btn not-link">確認</div>
</form>
</section>