<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "註冊完成" %>

<section class="layout-content">
<h2>恭喜您！<br/>您已經成為我們網站會員！</h2>
<p>現在開始可以登入會員瀏覽網站最新的銷售資訊與更多折扣。</p>
<div class="module-btn"><a href="/views/mypage/mypage.html">會員專區</a></div>
<i class="shape-line"></i>
<h2>您目前的會員等級　<span class="style-font-roots">Roots 好友</span></h2>
<ul class="member-level-list">
    
  <li class="member-level-item style-highlight"><!-- add class .style-highlight if member is this level -->
    <div class="member-level-title"><span class="style-font-roots">Roots 好友</span></div>
    <ul class="member-level-text">
        <li>凡至官方網站加入成為Roots好友，填寫出生日期等個人資料以核實會員身分，即可申辦成為Roots好友。</li>
        <li>
            <h4>專屬優惠</h4>
            <ul class="list-style-disc">
                <li>您可獲得最新資訊及最即時的推廣優惠</li>
                <li>若想要擁有更多的專屬優惠及紅利積點，請參考Roots Fans 及VIP加入辦法</li>
            </ul>
        </li>
    </ul>    
  </li>

  <li class="member-level-item">
    <div class="member-level-title"><span class="style-font-roots">Fans</span></div>
    <ul class="member-level-text">
        <li>凡至Roots全台專櫃/專賣店或線上購物單筆消費滿5,000元，即可申辦Roots粉絲證。</li>
        <li>
            <h4>專屬優惠</h4>
            <ul class="list-style-disc">
                <li>凡持Roots 粉絲證可享正價商品9折，於折扣期8折可再享9.5折優惠（7折、6折、特價品及折扣皮件商品恕不適用）</li>
                <li>Roots Café 9折優惠</li>
                <li>粉絲證於有效期間內累積消費滿NT$20,000 (淨值價)，即可升等成為Roots VIP，粉絲證回收並失效；若於累積期間內單日單筆消費滿10,000元者，即可立即申辦Roots VIP，粉絲證回收失效。(網路商店不適用單日消費滿10,000元即升等之條款)</li>
            </ul>
        </li>
    </ul>    
  </li>

  <li class="member-level-item">
    <div class="member-level-title"><span class="style-font-roots">VIP</span></div>
    <ul class="member-level-text">
        <li>凡至Roots全台專櫃/專賣店或線上購物單筆消費滿10,000元，即可申辦Roots VIP。</li>
        <li>
            <h4>專屬優惠</h4>
            <ul class="list-style-disc">
                <li>凡持Roots VIP卡可享正價商品8.5折 ， 於折扣期8折、7折可再享9.5折優惠（6折、特價品及折扣皮件商品恕不適用）</li>
                <li>Roots Café 9折優惠</li>
                <li>Roots Home 9.5折優惠</li>
                <li>凡持Roots VIP卡於專櫃/專賣店或線上購物每消費100元即可累積紅利點數1點。</li>
                <li>每一積分點於Roots專櫃/專賣店或線上購物下筆消費時抵扣1元，但需本人持卡及身份証明文件方可抵扣。</li>
            </ul>
        </li>
        <li>
            <h4>紅利折抵</h4>
            <ul class="list-style-disc" l>
                <li>紅利點數於當筆消費日7天後匯入會員帳戶中，並可開始使用。</li>
            </ul>
        </li>
        <li>
            <h4>紅利有效期</h4>
            <ul class="list-style-disc">
                <li>紅利點數有效期為二年，自紅利點數匯入帳戶日起算，若於到期日前未使用，將直接移除紅利點數，恕不另行通知。</li>
                <li>每位貴賓之累積紅利點數不得轉讓他人，亦不得兌換成現金。</li>
            </ul>
        </li>
    </ul>    
  </li>
  
</ul>

</section>