<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%#= javascript_include_tag "vendors/signup-physical-steps" %>
<script>
  (function() {

    var usermail = 'user@domain.com' ;
    var html_verify_email_ok_btn = '<div class="btn-popup"><a href="signup-physical-step2.html">確定</a></div>';
    var html_verify_email_edit_btn = '<div class="btn-popup"><a href="signup-physical-step2b.html">我要修改</a></div>'; 

    $(".signup-physical-step1").find(".module-btn").on('click', function(){
      // alert("click");
      var popupContent = '<h2 class="tcenter">電子郵件確認</h2><p class="tcenter">請確認「<span class="warning-color">' + usermail + '</span>」是否為你的電子郵件信箱</p><div class="tcenter">' + html_verify_email_ok_btn + html_verify_email_edit_btn + '</div>';
      HFeature.popup(popupContent);
      HFeature.popupOpen();
    });

  })()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step1">
<h2 class="style-italic"><span class="style-italicgreenbg">Step.1</span>驗證會員資料</h2>
<p>若您已於門市加入ROOTS會員，請由此驗證並申請網路帳號。</p>
<form>
  <div class="form-block mb1 is-error"><!--if it its error, add class .is-error here-->
    <label class="module-form-label" for="tel">行動電話</label>
    <input type="text" name="tel" class="module-form-input" placeholder="請輸入註冊時的手機號碼" />
    <p class="form-warning-text">電話格式錯誤或已開通過網路帳號</p>
  </div>

  <div class="module-btn"><a>開始驗證</a></div>
</form>
</section>
<a href="signup-physical-step2c.html" style="color:#08F;">/*if 輸入電話後該user並沒有留下email: link here */</a>