<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-payment-complete" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/product-payment-complete" %>
<script>
  var popupJoinFans = $(".popup-content-joinfans").html();
  var popupJoinVip = $(".popup-content-joinvip").html();
  var popupUpgradeVip = $(".popup-content-upgradevip").html();
  HFeature.popup(popupUpgradeVip);
  HFeature.popupOpen();
  $(".layout-popup-wrap").addClass("style-absolute");
  $("body").on('click','.btn-closepopup', function() {
    HFeature.popupClose();
  });
</script>
<% end %>

<div class="content">

    <div class="product-cart-nav">
        <div class="item-num">1</div>
        <span>購物清單 ··· </span>

        <div class="item-num">2</div>
        <span>付款與寄送資訊 ··· </span>

        <div class="item-num num-active">3</div>
        <span class="word-active">完成購買</span>
    </div>

    <i class="shape-line"></i>


    <div class="tcenter">
        <div class="order-title">
            <h1>非常感謝您的購買</h1>
        </div>
        <div class="order-number">
            <p>訂單編號：</p>

            <p class="warning-color">A19120003</p>
        </div>

        <i class="shape-line"></i>


        <div class="notice">
            <p>您可在訂單成立後</p>

            <p>七個工作天內收到您的商品</p>
        </div>
        <div class="order-detail-btn">
            <div id="queryButton" class="module-btn">
                <a href="#">訂單查詢</a>
            </div>
            <p class="-hint">查詢訂單進度與訂單明細。</p>
        </div>
        <div class="connection-btn">
            <div id="contactButton" class="module-btn style-gray">
                <a href="#">聯絡我們</a>
            </div>
            <p class="-hint">若有任何問題，請至聯絡我們，</p>

            <p class="-hint">我們會盡快與您聯繫。</p>
        </div>
    </div>
</div>


<section class="popup-content-wrap" style="display:none;">

  <div class="popup-content-joinfans">
    <h2 class="tcenter">恭喜您符合Roots FANS會員資格</h2>
    <div class="pt1">
        <p>親愛的會員您好：</p>
        <p>恭喜您已達到FANS會員資格，相關人員將為您辦理發卡事項並於一個月內郵寄掛號至您註冊時填寫的地址，請您留意收件。如對發卡流程、卡片郵寄進度有任何問題，歡迎您來電Roots：0800-001-973客服專線將由專人為您服務。</p>

        <p class="pt1">Roots粉絲證權益細則：</p>
        <ul class="list-style-decimal">
        
            <li>凡至<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物</span>單筆消費滿NT$5,000，即可申辦Roots粉絲證。</li>
            <li>凡持Roots粉絲證，於<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物消費</span>可享當季正價商品9折，折扣期8折可再享95折惠 (7折、6折、特價品及折扣皮件商品恕不適用)。<span class="warning-color">消費累計恕無紅利積點。</span></li>
            <li>凡持Roots 粉絲證，可享Roots Café 9折<span class="warning-color">優惠。</span></li>
            <li>於有效期間內累積消費滿NT$20,000 (淨值價)，即可回櫃升等成為Roots VIP，粉絲證回收並失效。<span class="warning-color3">Roots官方網站線上購物恕不適用單日消費滿NT$10,000即申辦VIP會員之條款。</span></li>
            <li>有效期間自發卡日起算一年內，<span class="warning-color">超過有效期間者，其粉絲證權益自動失效，恕不另行通知。</span></li>
            <li>Roots粉絲證限本人使用，不得轉讓，結帳前出示本卡始可享消費累積。</li>
            <li>持卡人不得同時持有Roots VIP卡及粉絲證，經查後粉絲證將自動失效。</li>
            <li>本公司保留隨時修正或停用本卡之權利。</li>
        </ul>
        <p class="pt1">提醒您：</p>
        <ul class="list-style-decimal">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達FANS升等門檻，將取消您的FANS會員升等資格。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
          <li>若不同意，請至「My Page會員專區」的「會員終止」取消會員資格。</li>
        </ul>
        <p>再次感謝您對Roots的支持。<br>祝您消費愉快！</p>
        <p class="pt1">Roots敬啟</p>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol"></i><span>我<b>不同意</b>加入Roots FANS會員</span>
      </label>  
    </div>
  </div>

  <div class="popup-content-joinvip">
    <h2 class="tcenter">恭喜您符合Roots VIP會員資格</h2>
    <div class="pt1">
        <p>親愛的會員您好：</p>
        <p>恭喜您已達到VIP會員資格，相關人員將為您辦理發卡事項並於一個月內郵寄掛號至您註冊時填寫的地址，請您留意收件。如對發卡流程、卡片郵寄進度有任何問題，歡迎您來電Roots：0800-001-973客服專線將由專人為您服務。</p>

        <p class="pt1">Roots VIP權益細則：</p>
        <ul class="list-style-decimal">
            <li>線上購物同享Roots VIP優惠，<span class="warning-color">Roots官方網站線上購物</span>消費始可累積紅利點數，並可使用紅利點數扣抵。<span class="warning-color">Roots官方網站線上購物</span>新增之紅利點數，因需作業處理時間，將於7個工作天轉入VIP持卡人之帳戶。</li>
            <li>凡至<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物</span>單筆消費滿NT$10,000即可申辦Roots VIP。</li>
            <li>凡持Roots VIP卡消費，可享當季正價商品85折，於折扣期間8、7折商品可再享95折優惠(6折、特價品及折扣皮件商品恕不適用)。</li>
            <li>凡持Roots VIP卡，可享Roots Café 9折優惠及Roots Home 95折優惠。</li>
            <li>憑<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物</span>，每滿NT$100獲累積紅利點數1點，每1點可抵NT$1，Roots全台專賣店及百貨專櫃下次消費時抵扣NT$1，但須本人持卡及身份証明文件方可抵扣。</li>
            <li>紅利點數於當筆消費日7天後匯入會員帳戶中，並可開始使用。</li>
            <li>紅利點數有效期為二年，自紅利點數匯入帳戶日起算，若於到期日前未使用，將直接移除紅利點數，恕不另行通知</li>
            <li>每位貴賓之累積紅利點數不得轉讓他人，亦不得兌換成現金。</li>
            <li>請妥善保管Roots VIP卡，若遺失補辦卡片需酌收辦卡手續工本費NT$50。</li>
            <li>為維護您的VIP權益，Roots VIP卡僅限本人使用，每人限持一張，本公司保有變更之權利。</li>
        </ul>
        <p class="pt1">Roots VIP商品退貨時紅利點數之處理細則：</p>
        <p>退貨</p>
        <ul class="list-style-decimal">
            <li>非使用紅利點數折抵商品：將以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
            <li>使用紅利點數折抵商品：將紅利點數與金額部分以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
        </ul>
        <p class="pt1">提醒您：</p>
        <ul class="list-style-decimal">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達VIP升等門檻，將取消您的VIP會員升等資格。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
<!--           <li>若不同意，請至「my Page會員專區」的「會員終止」取消會員資格。</li>
 -->        </ul>
        <p>再次感謝您對Roots的支持。<br>祝您消費愉快！</p>
        <p class="pt1">Roots敬啟</p>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol"></i><span>我<b>不同意</b>加入Roots VIP會員</span>
      </label>  
    </div>
  </div>

  <div class="popup-content-upgradevip">
    <h2 class="tcenter">恭喜您符合Roots VIP會員升等資格</h2>
    <div class="pt1">
        <p>親愛的Roots FANS會員您好：</p>
        <p>恭喜您已達到升等成為<span class="warning-color">Roots VIP</span>會員資格！</p>
        <p>我們將於您完成交易<span class="warning-color">後辦理VIP卡發卡事宜(需鑑賞期間無退換貨之申請)；</span>並於一個月內以郵寄掛號寄出VIP卡，同時轉移您FANS交易紀錄至VIP帳號，並取消FANS卡使用權益<span class="warning-color">，往後您可用VIP資格進行消費並享有VIP會員之優惠。</span></p>
        <p>已失效的FANS卡片您可以至鄰近Roots專櫃或門市，交由櫃上人員回收。</p>
        <p>收到升級VIP會員信件後即可開始享VIP會員優惠。</p>
        <p class="pt1">Roots VIP權益細則：</p>
        <ul class="list-style-decimal">
            <li><span class="warning-color">Roots官方網站線上購物</span>同享Roots VIP優惠，<span class="warning-color">Roots官方網站線上購物</span>消費始可累積紅利點數，並可使用紅利點數扣抵。<span class="warning-color">Roots官方網站</span>線上購物新增之紅利點數，因需作業處理時間，將於7個工作天轉入VIP持卡人之帳戶。</li>
            <li>凡至<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物</span>單筆消費滿NT$10,000即可申辦Roots VIP。</li>
            <li>凡持Roots VIP卡消費，可享當季正價商品85折，於折扣期間8、7折商品可再享95折優惠(6折、特價品及折扣皮件商品恕不適用)。</li>
            <li>凡持Roots VIP卡，可享Roots Café 9折優惠及Roots Home 95折優惠。</li>
            <li>憑<span class="warning-color">Roots全台專賣店及百貨專櫃或Roots官方網站線上購物</span>，每滿NT$100獲累積紅利點數1點，每1點可抵NT$1，Roots全台專賣店及百貨專櫃下次消費時抵扣NT$1，但須本人持卡及身份証明文件方可抵扣。</li>
            <li>紅利點數於當筆消費日7天後匯入會員帳戶中，並可開始使用。</li>
            <li>紅利點數有效期為二年，自紅利點數匯入帳戶日起算，若於到期日前未使用，將直接移除紅利點數，恕不另行通知</li>
            <li>每位貴賓之累積紅利點數不得轉讓他人，亦不得兌換成現金。</li>
            <li>請妥善保管Roots VIP卡，若遺失補辦卡片需酌收辦卡手續工本費NT$50。</li>
            <li>為維護您的VIP權益，Roots VIP卡僅限本人使用，每人限持一張，本公司保有變更之權利。</li>
        </ul>
        <p class="pt1">Roots VIP商品退貨時紅利點數之處理細則：</p>
        <p>退貨</p>
        <ul class="list-style-decimal">
            <li>非使用紅利點數折抵商品：將以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
            <li>使用紅利點數折抵商品：將紅利點數與金額部分以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
        </ul>
        <p class="pt1">提醒您：</p>
        <ul class="list-style-decimal">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達VIP升等門檻，將取消您的VIP會員升等資格。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
<!--           <li>若不同意，請至「my Page會員專區」的「會員終止」取消會員資格。</li>
 -->        </ul>
        <p>再次感謝您對Roots的支持。<br>祝您消費愉快！</p>
        <!-- <p class="pt1">Roots敬啟</p> -->
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol"></i><span>我<b>不同意</b>加入Roots VIP會員</span>
      </label>  
    </div>

  </div>
  
</section>