<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-payment" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<%= javascript_include_tag "units/product-payment" %>
<script>
</script>
<% end %>

<div class="product-payment">
    <div class="product-cart-nav">
        <div class="item-num">1</div>
        <span>購物清單 ··· </span>

        <div class="item-num num-active">2</div>
        <span class="word-active">付款與寄送資訊 ··· </span>

        <div class="item-num">3</div>
        <span>完成購買</span>
    </div>

    <i class="shape-line"></i>

    <div class="layout-accordion">
        <ul class="accordion-list">

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    產品明細
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                
                    <% 5.times do%>
                    <div class="commodity-information">
                        <div class="commodity-data">
                            <div class="commodity-img">
                                <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0308/a.jpg" alt=""/>
                            </div>
                            <div class="data">
                                <h2 class="warning-color2">
                                    &lt;官網獨家首賣 &gt;
                                </h2>

                                <h2>MOTO-滿版印刷短袖Ｔ恤</h2>

                                <p class="font-gray">RC03023487</p>

                                <h2>尺寸 XS</h2>
                            </div>
                        </div>

                        <div class="commodity-sumary font-gray">
                            <span class="label">數量</span>
                            <span class="number">1</span>
                            <span class="label">顏色</span>

                            <div class="btn-sq btn-color-action" style="background-color: #777777"></div>
                            <p class="price">
                                <span class="prefix-dollarsign original-price"><s>1680</s></span>
                                <span class="prefix-dollarsign warning-color">1680</span>
                            </p>
                        </div>
                    </div>
                    <% end %>

                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    使用COUPON
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="discount">
                        <input id="couponText" class="discount-input" type="text" placeholder="請輸入COUPON"/>

                        <div id="couponButton" class="module-btn style-red discount-use"><!-- 使用 -->사용하기</div>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    使用點數
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="discount">
                        <input id="pointText" class="discount-input" type="text" placeholder="請輸入點數"/>

                        <div id="pointButton" class="module-btn style-red discount-use">使用</div>
                        <span class="warning-color">尚餘3214點</span>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    寄件人資訊
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="simple-form -contact">
                        <div class="title-label">
                            <label>寄件人</label>
                            <label>連絡電話</label>
                            <label>E-MAIL</label>
                            <label>地址</label>
                        </div>

                        <div class="content-label">
                            <label>DuDu Kevin</label>
                            <label>0987654321</label>
                            <label>kevin61225@yahoo.com.tw</label>
                            <label>TEST ADDRESS</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    收件人資訊
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content contact">

                    <div class="form-block receiver">
                        <label class="module-form-label" for="receiver"><i class="shape-star"></i>收件人</label>
                        <input type="text" name="receiver" id="receiver" class="module-form-input"
                               placeholder=""/>

                        <div>
                            <label class="module-radio">
                                <input type="checkbox" name="agree" value="0"><i class="module-symbol"/></i>
                                <span>同收件人</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="phone"><i class="shape-star"></i>聯絡電話</label>
                        <input type="text" name="phone" id="phone" class="module-form-input"
                               placeholder=""/>

                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="address"><i class="shape-star"></i>地址</label>


                        <select class="module-form-select select-style-half style-sub" name="general">
                            <option value="0">地址1</option>
                            <option value="1">地址2</option>
                        </select>

                        <select class="module-form-select select-style-half style-sub" name="general">
                            <option value="0">option</option>
                            <option value="1">option</option>
                        </select>
                        <input type="text" name="address" id="address" class="module-form-input"
                               placeholder="請輸入地址"/>
                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="comments"><i class="shape-star"></i>備註</label>
                        <input type="text" name="comments" id="comments" class="module-form-input"
                               placeholder=""/>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    付款方式
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">

                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="0"><i class="module-symbol"/></i><span>信用卡付款</span>
                        </label>
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>貨到付款</span>
                        </label>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title warning-color2">
                    發票選擇
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content receipt">

                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="0"><i class="module-symbol"/></i><span>二聯式發票</span>
                        </label>
                    </div>
                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>三聯式發票</span>
                        </label>
                    </div>

                    <div class="form-block">
                        <input type="text" name="serial-number" id="serial-number" class="module-form-input"
                               placeholder="請輸入統一編號"/>
                    </div>
                    <div class="form-block">
                        <input type="text" name="receipt-title" id="receipt-title" class="module-form-input"
                               placeholder="請輸入發票抬頭"/>
                    </div>
                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>請替我將發票捐做公益用途</span>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="total-record">
        <div class="record-label">
            <label>商品小計</label>
            <label>COUPON抵扣</label>
            <label>點數抵扣</label>
            <label>運費</label>
            <label>合計訂單金額</label>
        </div>

        <div class="record-cash">
            <label class="prefix-dollarsign">3320</label>
            <label class="prefix-dollarsign warning-color">-0</label>
            <label class="prefix-dollarsign warning-color">-0</label>
            <label class="prefix-dollarsign">0</label>
            <label class="prefix-dollarsign">3320</label>
        </div>
    </div>
    <div class="payment-btn">
        <div id="back-to-cart" class="module-btn style-gray"><a href="product-cart.html">回到購物車</a></div>
        <div id="checkout" class="module-btn style-red"><a href="product-payment-complete.html">結帳</a></div>
    </div>
<!--     <div class="payment-btn">
        <div id="buy" class="module-btn">確認購買</div>
    </div>
 -->
</div>