<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-cart" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/product-cart" %>
<script>
</script>
<% end %>

<div class="product-cart">
    <div class="product-cart-nav">
        <div class="item-num num-active">1</div>
        <span class="word-active">購物清單 ··· </span>

        <div class="item-num">2</div>
        <span>付款與寄送資訊 ··· </span>

        <div class="item-num">3</div>
        <span>完成購買</span>
    </div>

    <i class="shape-line"></i>

    <div class="cart-list">
        <% 7.times do |i|%>
        <div class="cart-item" data-id="<%= i %>"><!--SALE ITEM-->
            <div class="item-info">
                <div class="item-image">
                    <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0308/a.jpg" alt=""/></div>

                <div class="item-detail">
                    <h2 class="warning-color2">&lt;官網獨家首賣 &gt;</h2>

                    <h2><%= i %>MOTO-滿版印刷短袖T恤</h2>

                    <p class="serial-color">RC03023487</p>

                    <h2>尺寸 XS</h2>
                </div>

                <div class="close-button do-check-delete"></div>
            </div>

            <i class="shape-line"></i>

            <div class="item-summary">
                <span class="summary-label">數量</span>
                <input type="text" class="module-form-input input-amount" value="1"/>

                <span class="summary-label">顏色</span>

                <div class="btn-sq btn-sq-color btn-sq-color-action" style="background-color: #777777;"></div>

                <p class="product-price is-sale"><!--ADD CLASS is-sale IF origin-price > sp-price-->
                    <span class="origin-price prefix-dollarsign">1680</span>
                    <span class="sp-price prefix-dollarsign">1680</span>
                </p>
            </div>
            <i class="shape-line"></i>
        </div>
        <% end %>

        <div class="total-summary">
          <span><span class="total-amount"></span> 項目</span>
          <div class="simple-form -demargin">
              <div class="title-label"><label>商品小計</label></div>
              <div class="content-label"><label class="total-price prefix-dollarsign"></label></div>
          </div>
        </div>

        <div class="button-list">
            <div id="continue-buy" class="module-btn style-inline style-gray"><a href="">繼續購買</a></div>
            <div id="checkout" class="module-btn style-inline"><a href="product-payment.html">前往結帳並選擇付款方式</a></div>
        </div>
    </div>
</div>