<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-list" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/product-list" %>
<%= javascript_include_tag "units/popup.js" %>
    <script>
      (function() {
        var popupContentFilter = $(".content-filter").html();
        var popupContentSort = $(".content-sort").html();
        $("body").on('click','.open-filter', function() {
          $('.layout-view').addClass("is-locking").animate({ scrollTop:(0)}, 300);
          HFeature.popup(popupContentFilter);
          HFeature.popupOpen();
          $(".layout-popup-wrap").addClass("style-absolute").addClass("style-withhead").focus();
        });
         $("body").on('click','.open-sort', function() {
          $('.layout-view').addClass("is-locking").animate({ scrollTop:(0)}, 300);
          HFeature.popup(popupContentSort);
          HFeature.popupOpen();
          $(".layout-popup-wrap").addClass("style-absolute").addClass("style-withhead").focus();
        });       
      })()
    </script>
<% end %>

<%#= render :partial => "/partial/layout-filter-header" %>
<section class="layout-content layout-content-product-list">
  <p class="category-title tcenter">T-shirts</p >
  <div class="module-filter-btnwrap">
    <div class="module-filter-btn open-filter"><i class="fa fa-check"></i>商品篩選</div>
    <div class="module-filter-btn open-sort"><i class="fa fa-exchange fa-rotate-90"></i>商品排序</div>
  </div>
  <ul class="product-list">
  <% 11.times do %>
      <li class="product-list-item">
          
          <div class="product-list-item-img">
              <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt="" width="100%">
              <div class="product-list-item-exclusive">EXCLUSIVE</div>
              <a href="product-detail.html"></a>
          </div>
          <a href="product-detail.html">
              <p class="product-list-item-redmark">官網獨家首賣歐歐歐歐!!!</p>
              <p class="product-list-item-name"><官網獨家首賣>MOTO-ROOTS73海狸短袖POLO衫</p>
              <p class="product-price is-sale"><!--add class .is-sale to change style-->
                  <span class="origin-price prefix-dollarsign">19999</span>
                  <span class="sp-price prefix-dollarsign">14999</span>
              </p>
          </a>
      </li>
  <% end %>
  </ul>
</section>

<section class="content-filter" style="display:none;">
  <p class="popup-head"><i class="fa fa-check"></i>商品篩選</p>
  <p class="filter-title">尺寸</p>
  <ul class="filter-list list-size">  
    <% 15.times do %>
      <li class="btn-size">XXS</li>
    <% end %>
  </ul>
  <p class="sort-title">顏色</p>
  <ul class="filter-list list-color">  
    <% 15.times do %>
      <li class="btn-color" style="background-color:#678;"></li>
    <% end %>
  </ul>
  <p class="sort-title">價格</p>
  <ul class="filter-list list-price">  
    <li class="list-price-item">
      <label class="module-radio style-multi">
        <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>$0~$500</span>
      </label>
    </li>
    <li class="list-price-item">
      <label class="module-radio style-multi">
        <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>$501~$1,000</span>
      </label>
    </li>
    <li class="list-price-item">
      <label class="module-radio style-multi">
        <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>$1,001~$1,500</span>
      </label>
    </li>
    <li class="list-price-item">
      <label class="module-radio style-multi">
        <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>$1,501~$2,000</span>
      </label>
    </li>
    <li class="list-price-item">
      <label class="module-radio style-multi">
        <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>$2,001 以上</span>
      </label>
    </li>
  </ul>
  <div class="module-btn"><a href="product-list.html">開始篩選</a></div>
</section>

<section class="content-sort" style="display:none;">
  <p class="popup-head"><i class="fa fa-exchange fa-rotate-90"></i>商品排序</p>
  <ul class="sort-list">  
      <li class="sort-list-item"><a href="product-list.html">價格高</a></li>
      <li class="sort-list-item"><a href="product-list.html">價格低</a></li>
      <li class="sort-list-item"><a href="product-list.html">新上架日期</a></li>
      <li class="sort-list-item"><a href="product-list.html">高銷售數</a></li>
  </ul>
</section>