<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-detail" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "vendors/accordion" %>
<%= javascript_include_tag "units/product-detail" %>

    <script>
    var swiperMain = new Swiper('#slider-detailImage.swiper-container', {
        pagination: '#slider-detailImage .swiper-pagination',
        nextButton: '#slider-detailImage .swiper-button-next',
        prevButton: '#slider-detailImage .swiper-button-prev',
        noSwipingClass: 'is-zoom',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });

    var swiperRelative = new Swiper('#slider-relativeItem.swiper-container', {
        nextButton: '#slider-relativeItem .swiper-button-next',
        prevButton: '#slider-relativeItem .swiper-button-prev',
        slidesPerView: 2,
        initialSlide: 1,
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
    </script>
<% end %>
<% content_for :header_content do %>
<% end %>

        <div class="product-navigation">
            <a id="previous-product" class="navigate previous" href="">
                <span class="layout-header-goahead" role="button">
    <i role="img" class="fa fa-angle-left"></i>
  </span>
                <span>上一個產品</span>
            </a>

            <!-- <div class="vline"></div> -->
            <a id="next-product" class="navigate next" href="">
                <span>下一個產品</span>
                <span class="layout-header-goahead" role="button">
    <i role="img" class="fa fa-angle-right"></i>
  </span>
            </a>
        </div>

        <div id="slider-detailImage" class="bannerbox-slider swiper-container swiper-no-swiping">
            <div class="swiper-wrapper">
                <% 5.times do %>
                <div class="swiper-slide" style="background-image:url('https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/RC09031259Q013_d.jpg');" data-zoomimage="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/RC09031259Q013_d.jpg">
                    <!-- <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/RC09031259Q013_d.jpg" width="200%" alt=""> -->
                </div>
                <% end %>
            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- zoom-like-btn-->
            <div class="zoom-like-btn">
                <!-- <div id="zoom-button" class="zoom-btn icon"></div> -->
                <i id="like-button" class="icon-starblack"></i>
            </div>

        </div>

        <div class="commodity-data">
            <div class="commodity-data-title">
                <h2 class="warning-color2">
                    官網獨家首賣
                </h2>

                <h2>MOTO-滿版印刷短袖T恤</h2>

                <div class="commodity-cost">
                    <p>RC03023487</p>

                    <h3 class="commodity-cost-price product-price is-sale"><span class="origin-price prefix-dollarsign">99999</span><span class="sp-price prefix-dollarsign">88888</span></h3>
                </div>
            </div>
            <i class="shape-line"></i>

            <div class="commodity-order">
                <div id="choose-product-size" class="commodity-order-row">
                    <div class="label">尺寸</div>
                    <div class="content">
                        
                        <div class="btn-sq btn-sq-size">XXS</div>
                        <div class="btn-sq btn-sq-size">XS</div>
                        <div class="btn-sq btn-sq-size">S</div>
                        <div class="btn-sq btn-sq-size btn-sq-size-action">M</div>
                        <div class="btn-sq btn-sq-size">L</div>
                        <div class="btn-sq btn-sq-size">XL</div>
                        <div class="btn-sq btn-sq-size">XXL</div>
                    </div>
                </div>
                <div class="commodity-order-row">
                    <div class="label">顏色</div>
                    <div class="content">
                        <div class="btn-sq btn-sq-color" style="background-color: #777777;"></div>
                        <div class="btn-sq btn-sq-color btn-sq-color-action" style="background-color: #777777;"></div>
                        <div class="btn-sq btn-sq-color" style="background-color: #115599;"></div>
                        <div class="btn-sq btn-sq-color" style="background-color: red;"></div>
                        <div class="btn-sq btn-sq-color" style="background-color: yellow;"></div>
                        <div class="btn-sq btn-sq-color" style="background-color: blue;"></div>
                        <div class="btn-sq btn-sq-color" style="background-color: green;"></div>
                    </div>
                </div>
                <div class="commodity-order-row">
                    <div class="label">數量</div>
                    <div class="content">
                        <div class="btn-sq number-minus"></div>
                        <input id="order-number" type="text" class="module-form-input" value="0"/>

                        <div class="btn-sq number-add"></div>
                    </div>
                </div>
                <div class="order-btn">
                    <div id="purchase-button" class="module-btn purchase">
                        <a href="#">
                            <!-- <img src="../../assets/images/icon-payment-invoice.svg" alt=""/> <--><i class="icon-bagquick-small"></i></-->直接購買</a>
                    </div>
                    <div id="add-cart-button" class="module-btn">
                        <a href="#"><!-- <img src="../../assets/images/icon-payment-method.svg" alt=""/> <--><i class="icon-bag-small"></i></-->放入購物車</a>
                    </div>
                </div>
            </div>
            <i class="shape-line"></i>
        </div>


        <div class="layout-accordion">
            <ul class="accordion-list">

                <li class="accordion-item">
                    <div class="accordion-item-title">
                        商品資訊
                        <i role="img" class="fa fa-angle-down"></i>
                    </div>
                    <div class="accordion-item-content">
                        <div class="accordion-item-content-inner">
                            <div class="commodity-title tcenter title-margin">商品規格</div>
                            <div class="format content-margin">
                                <div class="format-left accordion-font-color content-line-hight">
                                    <label>尺寸</label>
                                    <label>季節</label>
                                    <label>年份</label>
                                    <label>類別</label>
                                    <label>次分類</label>
                                    <label>材質</label>
                                    <label>產地</label>
                                </div>
                                <div class="format-right accordion-font-color content-line-hight">
                                    <label>XXS、XS、S、M、L、XL</label>
                                    <label>SS</label>
                                    <label>16</label>
                                    <label>Men</label>
                                    <label>T-Shirts</label>
                                    <label>90%棉 10%蠑螺</label>
                                    <label>china</label>
                                </div>
                            </div>
                            <div class="commodity-title tcenter title-margin">商品保證</div>
                            <div class="commodity-guarantee accordion-font-color content-line-hight content-margin">
                                <label>我們所提供為全新產品，並提供以下保證：</label>
                                <label>保固範圍：新品瑕疵</label>
                                <label>顧客諮詢服務中心：本站客服中心</label>
                            </div>                            
                        </div>
                    </div>
                </li>

                <li class="accordion-item">
                    <div class="accordion-item-title">
                        尺寸選擇
                        <i role="img" class="fa fa-angle-down"></i>
                    </div>
                    <div class="accordion-item-content">
                        <div class="accordion-item-content-inner">
                            <div class="size-table">
                                <img src="../../assets/images/img-size-men.jpg" alt=""/>
                            </div>                        
                        </div>
                    </div>
                </li>

                <li class="accordion-item">
                    <div class="accordion-item-title">
                        寄送及退貨說明
                        <i role="img" class="fa fa-angle-down"></i>
                    </div>
                    <div class="accordion-item-content">
                        <div class="accordion-item-content-inner">
                            <div class="explanation-title title-margin warning-color2">【換貨】</div>
                            <div class="accordion-font-color content-margin content-line-hight">
                                於網路商店購買之商品皆不提供換貨服務，亦無法直接於實體店鋪辦理退/換貨，請將您原先購買之商品進行退貨處理，
                                再重新購買您想要的商品。如造成您的不變，煩請諒解。
                            </div>
                            <div class="explanation-title title-margin warning-color2">【取消訂單】</div>
                            <div class="accordion-font-color content-margin content-line-hight">
                                若您要取消訂單，請直接聯絡客服人員，並提供訂單編號與訂購人姓名，一收到您的需求，客服人員於週一到周五上班時間
                                (不含例假日、國定假日)盡快為您處理，並於處理完成後3個工作天內(不含例假 日、國定假日)以email的方式回覆您訂單取消的處理結果
                                ，收到回覆信件後，您亦可上網利用「訂單記錄查詢」的功能，查詢目前訂單的處理狀況。 請注意，付款方式一但選擇完成將無法變更
                                ，訂單成立後寄件人與配送資料等將無法修更。<br>
                                若您於訂單成立後欲修改配送地址或付款方式等，只要在現貨訂單出貨前或預購商品到貨通知寄發前至會員中心取消您的訂單即可。<br>
                                若您申請取消訂單之前，該商品已在配送途中，請您儘速聯絡客服中心，客服人員會嘗試連絡物流中心將商品直接運回，
                                若無法及時處理，煩請您收到 商品時，直接退回給宅配司機，或是聯絡客服人員為您辦理退貨。
                            </div>
                            <div class="explanation-title title-margin warning-color2">【退貨】</div>
                            <div class="accordion-font-color content-margin content-line-hight">
                                若您因商品瑕疵要辦理退貨，請於收到貨當日起7天鑑賞期內(含國定例假日)聯絡客服人員，我們會安排宅配公司於5個工作天內，
                                到您指定的地點取貨。Roots僅接受每張訂單1次退貨之運費吸收，並請務必將商品銷售清單與發票連同商品一起退回，
                                如已超過7天鑑賞期限，恕不接受退貨。<br>
                                請注意，您所退回的商品內容必須包括未被穿過、 洗過、使用過之商品，並維持所有商品、贈品、附 件、包裝、附 隨文件或資料的完整性，
                                否則，Roots有權力拒絕您的退貨退款要求。<br>
                                個人試穿後，若商品因人為因素產生異味或材質變形，或購買之品項為貼身衣物，恕不接受退換貨。<br>
                                退貨時，請您使用完整的原包裝袋/紙箱將欲辦理退 貨之商品包裝妥當寄回;若遇原包裝袋/紙箱已遺失或破損不堪使用，
                                請使用其他完整袋子/紙箱進行包裝。您要求退貨之商品若有缺件或是損毀，Roots有權拒絕您的退貨退款要求;
                                為保障您的權益，若您所訂購的商品本身出現瑕疵問題，須於收到商品後7天內向Roots請求退貨，Roots將全額退款給您。<br>
                                請注意，於線上購買的商品無法直接於實體店鋪辦理退換貨，於實體店鋪購買之商品亦不可透過線上購物辦理退換貨如因個人因素退貨次數過多，
                                Roots將視情形決定是否暫停出貨，敬請見諒。
                            </div>                            
                        </div>

                    </div>
                </li>

            </ul>
        </div>

        <div class="alsoLike-title">
            <h3>我想你也會喜歡</h3>

            <h3>YOU MAY ALSO LIKE</h3>
        </div>

        <div id="slider-relativeItem" class="full-bannerbox bannerbox-slider swiper-container">
            <div class="swiper-wrapper">
                <% 9.times do %>
                <!--A PRODUCT START-->
                <div class="swiper-slide product-list-item">
                    <a href="/views/product/product-detail.html">
                        <div class="product-list-item-img">
                            <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/RC09031259Q013_d.jpg" alt="" width="100%">
                        </div>
                        <p class="product-list-item-name">
                            短染庫柏海狸短袖T恤
                        </p>

                        <p class="product-price is-sale"><!--add class .is-sale to change style-->
                            <span class="origin-price prefix-dollarsign">3320</span>
                            <span class="sp-price prefix-dollarsign">3320</span>
                        </p>
                    </a>
                </div>
                <!--A PRODUCT END-->
                <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!--EDIT END HERE-->
