<% content_for :specific_stylesheet do %>
    <%= stylesheet_link_tag "vendors/swiper" %>
    <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 3,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    function switchAnchor(i) {
        $(".article-guide-menu>li").eq(i).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    }
    for (var num = 0; num < count ; num++) {
        switchAnchor(num);
    }
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>
<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>送貨說明</h3>
  <!-- <p class="article-guide-intro"></p> -->
  <ul class="article-guide-menu">
    <li>【出貨說明】</li>
    <li>【運費計算】</li>
  </ul>
  <ul class="article-guide-list">
    <li>
        <!-- <img src="" alt=""> -->
        <div class="tcenter article-guide-img-send">
            <img src="/assets/images/img-send-1.jpg"  alt="">
            <div><i class="fa fa-long-arrow-down"></i> 七天內到貨</div>
            <img src="/assets/images/img-send-2.jpg" alt="">
        </div>
        <h3>【出貨說明】</h3>
        當您的信用卡資料核對無誤後，該筆交易便完成付款程序，
        <br>我們將會在付款完成後的7個工作天內（不含週休及國定例假日）將商品宅配送達您指定的收件地址，
        <br>為了保護商品的完整，我們會妥善包裝您所訂購的商品，收到貨後請立即開箱檢查，確認商品內容完整無缺。
        <br><br>
        目前Roots網路訂購商品由統一速逹股份有限公司(黑貓宅急便)進行配送服務僅限台灣本島及離島區域；
        <br>註：以下區域恕不提供宅急便包裹收送服務
        <br>宜蘭縣-釣魚台列嶼(全)，高雄市-東沙(全)、南沙(全)，澎湖縣-馬公(虎井島、桶盤島)、
        <br>望安(全)、七美(全)、白沙(大倉嶼、員貝嶼、鳥嶼、吉貝嶼)，
        <br>金門縣-烈嶼(大膽島、二膽島)、烏坵(全)、台東縣-蘭嶼(全)
    </li>
    <li>
        <h3>【運費計算】</h3>
        台灣及離島地區單筆訂購商品總金額超過新台幣$2,000元（含）免收取運費；未滿新台幣$2,000元時，
        消費者需自付運費新台幣80元；台灣離島地區，消費者需自付運費$200元。
        <br>
        <p class="color-highlight">選用貨到付款方式需支付$30元手續費(包含已達免運門檻之訂單)</p>
    </li>
  </ul>
</div>