<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 4,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    function switchAnchor(i) {
        $(".article-guide-menu>li").eq(i).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    }
    for (var num = 0; num < count ; num++) {
        switchAnchor(num);
    }
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>
<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>常見問題</h3>
  <!-- <p class="article-guide-intro"></p> -->
  <ul class="article-guide-menu">
    <li>【訂單查詢】</li>
    <li>【付款方式】</li>
    <li>【發票】</li>
    <li>【聯絡客服】</li>
  </ul>
  <ul class="article-guide-list">
    <li>
      <h3>【訂單查詢】</h3>
      當您完成訂購程序後，您可以利用頁面主選單的「會員專區」，點選「訂單記錄查詢」，查詢目前的訂單狀態，各訂單狀態說明如下：
      <ul class="list-style-disc">
          <li>
              <h4>處理中：</h4>代表您的信用卡線上交易通過了銀行的認證或貨到付款訂購流程已完成，訂單已經正式成立，並由客服人員查詢您的訂單，正在處理中。
          </li>
          <li>
              <h4>出貨中：</h4>代表您的訂購的商品訂單已經出貨，正由宅配物流公司進行配送，現貨商品會於訂單成立日起的七個工作天內（不含週休及國定例假日）送達您指定的收件地址。
          </li>
          <li>
              <h4>已完成：</h4>代表您的訂購的商品訂單已經送達您指定的收件地址且已簽收。
          </li>
          <li>
              <h4>已取消：</h4>代表您的訂購的商品訂單因故已取消，訂單訂購流程已結束，如有任何問題，請來電0800-00-1973洽詢。
          </li>
          <li>
              <h4>取消確認中：</h4>代表您的訂購的商品訂單未出貨之前，您因故取消了訂單，將由客服人員與您連繫確認原因之後，為您完成取消訂單作業。
          </li>
          <li>
              <h4>待付款：</h4>代表您的訂購的商品訂單為貨到付款或者境外訂單，需要等候客服人員發送通知之後，回來網站完成訂單訂購之程序。
          </li>
          <li>
              <h4>付款失敗：</h4>代表您訂單在付款過程中，因斷線/資料錯誤/付款金額不正確/金流服務出錯…等等狀況，導致付款認證傳回失敗，請重新訂購商品，並重新檢視您付款資料的正確性。
          </li>
      </ul>
    </li>
    <li>
        <h3>【付款方式】</h3>
        目前提供「線上刷卡」與 「貨到付款」二種方式。
        <ul class="list-style-disc">
            <li>
                <h4>【線上刷卡】</h4>
                信用卡線上刷卡付款：當您在結帳頁面進行信用卡相關資料填寫時，請務必詳實填寫正確資料，以利銀行做信用卡資料的審核。線上刷卡的資料傳輸均採用SSL憑證加密，有效保護您的資料安全。
            </li>
            <li>
                <h4>【貨到付款】</h4>
                當您在結帳頁面點選貨到付款進行寄送相關資料填寫時，請務必詳實填寫正確資料，以確保商品可順利抵達你的收件地址。
                貨到付款除運費外需加收30元宅配貨到付款手續費(限台灣/離島地區使用)。
                選用貨到付款方式需支付$30原手續費(包含已達免運門檻之訂單)。
            </li>
        </ul>
    </li>
    <li>
        <h3>【發票】</h3>
        發票將於出貨時開立，紙本發票將會隨貨一併附上，若發生發票開立錯誤之情形,請與客服中心聯絡，並告知錯誤，我們將會進行補發，造成您的不便，煩請見諒。
        若欲辦理退貨處理，請務必附上發票以茲証明，如果訂單中只有部份商品辦理退貨，將會於退貨處理完成後，將原發票與折讓單寄回。
    </li>
    <li>
        <h3>【聯絡客服】</h3>
        若您有任何疑問，可先參考網頁上常見問題的解答，或者可於上班時間聯絡客服人員，我們將竭誠為您服務，相關資訊如下：
        上班時間：週一至週五，AM 9:00～PM 18:00。中午休息:12:30~:13:45國定例假日不上班。
        如遇例假日，請先以email方式聯絡,我們將於上班日儘速處理您的來信。
        市話直撥免付費客服專線：0800-00-1973
        客服信箱： info@roots.com.tw
    </li>
  </ul>
</div>