<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 5,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    function switchAnchor(i) {
        $(".article-guide-menu>li").eq(i).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    }
    for (var num = 0; num < count ; num++) {
        switchAnchor(num);
    }
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>
<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>尺寸指南</h3>
  <p class="article-guide-intro">
    合身版 (SLIM FIT) 成衣版型較貼合身型<br/>
    標準版 (CLASSIC FIT) 成衣版型與身型適度而有空隙<br/>
    寬鬆版 (RELAXED FIT) 成衣版型與身型間隙較寬鬆舒適
  </p>
  <ul class="article-guide-menu">
    <li>【男裝上衣】</li>
    <li>【男裝下身】</li>
    <li>【男鞋】</li>
    <li>【男帽】</li>
    <li>【女裝上衣】</li>
    <li>【女裝下身】</li>
    <li>【女鞋】</li>
    <li>【女帽】</li>
    <li>【大童】</li>
    <li>【大童配件】</li>
    <li>【小童】</li>
    <li>【小童配件】</li>
  </ul>
  <ul class="article-guide-list">
    <li>
      <h3>男裝上衣</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>胸寬</td>
            <td>肩寬</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XXS</td>
            <td>71</td>
            <td>79.25</td>
          </tr>
          <tr>
            <td>XS</td>
            <td>76.25-81.25</td>
            <td>81.25</td>
          </tr>
          <tr>
            <td>S</td>
            <td>86.5-91.5</td>
            <td>83.25</td>
          </tr>
          <tr>
            <td>M</td>
            <td>96.5-101.5</td>
            <td>85</td>
          </tr>
          <tr>
            <td>L</td>
            <td>106.5-111.75</td>
            <td>87</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>116.75-122</td>
            <td>89.5</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>127</td>
            <td>92</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>男裝下身</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>胸寬</td>
            <td>肩寬</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XXS</td>
            <td>55.75</td>
            <td>73.5</td>
          </tr>
          <tr>
            <td>XS</td>
            <td>61-66</td>
            <td>78.75-83.75</td>
          </tr>
          <tr>
            <td>S</td>
            <td>71-76.25</td>
            <td>89-94</td>
          </tr>
          <tr>
            <td>M</td>
            <td>81.25-86.5</td>
            <td>99-104</td>
          </tr>
          <tr>
            <td>L</td>
            <td>91.5-99</td>
            <td>109.25-114.25</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>106.5-111.75</td>
            <td>119.25-124.5</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>116.75</td>
            <td>129.5</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>男鞋</h3>
      <table class="module-table table-style-c">
          <thead>
            <tr>
              <td>尺碼</td>
              <td>美系尺碼</td>
              <td>歐洲尺寸</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>7</td>
              <td>39</td>
              <td>26</td>
            </tr>
            <tr>
              <td>7.5</td>
              <td>39.5</td>
              <td>26.5</td>
            </tr>
            <tr>
              <td>8</td>
              <td>40</td>
              <td>27</td>
            </tr>
            <tr>
              <td>8.5</td>
              <td>40.5</td>
              <td>27.5</td>
            </tr>
            <tr>
              <td>9</td>
              <td>41</td>
              <td>28</td>
            </tr>
            <tr>
              <td>9.5</td>
              <td>41.5</td>
              <td>28.5</td>
            </tr>
            <tr>
              <td>10</td>
              <td>42</td>
              <td>29</td>
            </tr>
            <tr>
              <td>10.5</td>
              <td>42.5</td>
              <td>29.5</td>
            </tr>
            <tr>
              <td>11</td>
              <td>43</td>
              <td>30</td>
            </tr>
            <tr>
              <td>11.5</td>
              <td>43.5</td>
              <td>30.5</td>
            </tr>
            <tr>
              <td>12</td>
              <td>44</td>
              <td>31</td>
            </tr>
          </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>男帽</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>頭圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>S</td>
            <td>56</td>
          </tr>
          <tr>
            <td>M</td>
            <td>58</td>
          </tr>
          <tr>
            <td>L</td>
            <td>60</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>62</td>
          </tr>
          <tr>
            <td>S/M</td>
            <td>56-58</td>
          </tr>
          <tr>
            <td>L/XL</td>
            <td>60-62</td>
          </tr>
          <tr>
            <td>O/S</td>
            <td>55-62</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>女裝上衣</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>胸寬</td>
            <td>肩寬</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XS</td>
            <td>81</td>
            <td>80</td>
          </tr>
          <tr>
            <td>S</td>
            <td>86</td>
            <td>81</td>
          </tr>
          <tr>
            <td>M</td>
            <td>91</td>
            <td>82</td>
          </tr>
          <tr>
            <td>L</td>
            <td>99</td>
            <td>84</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>女裝下身</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>腰圍</td>
            <td>臀圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XXS</td>
            <td>59</td>
            <td>82</td>
          </tr>
          <tr>
            <td>XS</td>
            <td>62-67</td>
            <td>86</td>
          </tr>
          <tr>
            <td>S</td>
            <td>68-73</td>
            <td>91</td>
          </tr>
          <tr>
            <td>M</td>
            <td>74-80</td>
            <td>96.5</td>
          </tr>
          <tr>
            <td>L</td>
            <td>81-83</td>
            <td>104</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>女鞋</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>美系尺碼</td>
            <td>歐洲尺寸</td>
            <td>cm</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6</td>
            <td>36</td>
            <td>22</td>
          </tr>
          <tr>
            <td>6.5</td>
            <td>36.5</td>
            <td>22.5</td>
          </tr>
          <tr>
            <td>7</td>
            <td>37</td>
            <td>23</td>
          </tr>
          <tr>
            <td>7.5</td>
            <td>37.5</td>
            <td>23.5</td>
          </tr>
          <tr>
            <td>8</td>
            <td>38</td>
            <td>24</td>
          </tr>
          <tr>
            <td>8.5</td>
            <td>38.5</td>
            <td>24.5</td>
          </tr>
          <tr>
            <td>9</td>
            <td>39</td>
            <td>25</td>
          </tr>
          <tr>
            <td>9.5</td>
            <td>39.5</td>
            <td>25.5</td>
          </tr>
          <tr>
            <td>10</td>
            <td>40</td>
            <td>26</td>
          </tr>
          <tr>
            <td>10.5</td>
            <td>41</td>
            <td>26.5</td>
          </tr>
          <tr>
            <td>11</td>
            <td>42</td>
            <td>27</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>女帽</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>頭圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>S</td>
            <td>56</td>
          </tr>
          <tr>
            <td>M</td>
            <td>58</td>
          </tr>
          <tr>
            <td>L</td>
            <td>60</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>62</td>
          </tr>
          <tr>
            <td>S/M</td>
            <td>56-58</td>
          </tr>
          <tr>
            <td>L/XL</td>
            <td>60-62</td>
          </tr>
          <tr>
            <td>O/S</td>
            <td>55-62</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>大童</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>年齡</td>
            <td>身高</td>
            <td>腰圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>S</td>
            <td>5/6</td>
            <td>112-124</td>
            <td>54.5-56</td>
          </tr>
          <tr>
            <td>M</td>
            <td>7/8</td>
            <td>127-139</td>
            <td>57-59</td>
          </tr>
          <tr>
            <td>L</td>
            <td>10</td>
            <td>142-147</td>
            <td>61-62</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>12</td>
            <td>150-154</td>
            <td>63.5-65</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>14</td>
            <td>157-159</td>
            <td>66-67.5</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>大童配件</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>年齡</td>
            <td>頭圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>S/M</td>
            <td>5-9</td>
            <td>54</td>
          </tr>
          <tr>
            <td>L/X</td>
            <td>10-14</td>
            <td>56</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>小童</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>年齡</td>
            <td>身高</td>
            <td>腰圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2T</td>
            <td>2/3</td>
            <td>89-96</td>
            <td>13-15</td>
          </tr>
          <tr>
            <td>3T</td>
            <td>3/4</td>
            <td>101-104</td>
            <td>15-16</td>
          </tr>
          <tr>
            <td>4T</td>
            <td>4/5</td>
            <td>104</td>
            <td>16-17</td>
          </tr>
          <tr>
            <td>5T</td>
            <td>5+</td>
            <td>109</td>
            <td>17-20</td>
          </tr>
        </tbody>
      </table>
      <div class="size-unit">(cm)</div>
    </li>
    <li>
      <h3>小童配件</h3>
      <table class="module-table table-style-c">
        <thead>
          <tr>
            <td>尺碼</td>
            <td>年齡</td>
            <td>頭圍</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>L/X</td>
            <td>2T-5T</td>
            <td>52</td>
          </tr>
        </tbody>

      </table>
      <div class="size-unit">(cm)</div>
    </li>
  </ul>
</div>