<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
        var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 1,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    function switchAnchor(i) {
        $(".article-guide-menu>li").eq(i).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    }
    for (var num = 0; num < count ; num++) {
        switchAnchor(num);
    }
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>
<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>隱私權保護</h3>
  <p class="article-guide-intro">
為保障您的隱私，在未經您的同意前，Roots絕不會將您的個人資料洩露給任何在Roots以外的團體或其他第三者知悉， 
您所留存的個人資料，Roots將依會員條款以及隱私權條款負保密責任，除為完成交易或會員服務而提供給相關服務之配合廠商或本約定條款另有約定外，絕不會任意洩漏或提供給第三人。<br/>
Roots明白到於流覽Roots網站時，你的資料應受到重視及保護，為了鼓勵你多流覽Roots的網站，以及通知Roots為你準備的最新品牌資訊，Roots會收集你的以下資料：
  </p>
  <ul class="article-guide-menu">
    <li>【訂閱/取消電子報】</li>
    <li>【交易安全】</li>
    <li>【抽獎或任何宣傳活動】</li>
    <li>【法律免責聲明】</li>
  </ul>
  <ul class="article-guide-list">
    <li>
        <h3>【訂閱/取消電子報】</h3>
        你或會考慮訂閱Roots的電子通訊，當你填寫你的通訊位址，Roots會假定你願意收到有關Roots的宣傳或有關資訊。
        <br>當你確認訂閱Roots的電子通訊後，Roots會尊重你的個人私隱，如沒有收到你的同意或批准，Roots不會向第三者提供你的通訊位址。
        <br>如你不想收取任何有關Roots的資訊，請電郵到info@roots.com.tw通知Roots取消訂閱或Roots官網取消訂閱電子報。
    </li>
    <li>
        <h3>【交易安全】</h3>
        Roots承諾基於您同意所 登記、授與予【Roots】的個人資料，均受到隱密且安全的保護。若您有任何疑問，請來信客服信箱：info@roots.com.tw
    </li>
    <li>
        <h3>【抽獎或任何宣傳活動】</h3>
        當你參加本網站內之抽獎或任何宣傳活動，你所提供之個人資料將作為核實你的參加資格，以及聯絡你的方法，Roots亦會將有關資料作為與你溝通有關綠適的產品資訊及宣傳活動之用。
    </li>
    <li>
      <h3>【法律免責聲明】</h3>
      此網站中所載之一切資訊僅供參考之用。Roots並不對資訊的準確性、完整性和及時性作出保證，也不會對此網站之內容所造成或引起的任何損失或損壞承擔任何法律責任（包括侵權法下和合同法下的法律責任，以及其他法律責任）。
      <br>儘管此網站中載有連接到第三方網站的連結，然而Roots並未曾參與此等其他網站的製作過程，也不對此等網站施以任何編輯管控或其他管控。你若存取或使用此等其他網站，就必須自己承擔可能出現的風險。Roots對此等網站的連結中所載之資訊的準確性和內容，均不承擔任何責任。連接到此網站的連結，以及此網站上所載之連接到其他網站的連結，均不構成Roots對第三方或其產品／服務之認可或推薦。
      <br>Roots對可能發送到第三方或提供予第三方的任何資訊之安全性，均不作出保證，並且不為因透過此網站存取其他任何網站，或因透過此網站與此等網站進行資訊交換，而蒙受之任何損失或損壞，負任何責任。
      <br>此網站根據「如是」的現況基礎提供。Roots明確排除一切形式的明示或默示的保證或陳述，包括但不限於任何默示的保證。
      <br>在下列情況下，Roots有權將您的個人資料給有權機關、或主張其權利受侵害並提出適當證明的第三人：
      <br>依法律之規定、或依司法、檢警調機關與其他有權機關合法之要求。
      <br>為保障其他會員或第三人之合法權益。
      <br>為維護Roots網站系統的正常運作及安全。
      <br>您違反本約定條款，而Roots依法行使權利者。
      <br>為了幫助我們更了解您的喜好和購物行為，進而提供您更好的服務品質，系統會保留您上網瀏覽時，伺服器自行產生的相關記錄，包括您的連線IP位址、使用時間長短、使用的瀏覽器種類、瀏覽及點選哪些商品資料等。
      <br>為了區別不同的使用者，系統會將cookies資訊寫入會員的硬碟中，其主要作用在儲存您在使用上偏好的特定資訊，方便您再次瀏覽Roots網站，cookies並不含任何可使第三者透過電話或電子郵件與您聯絡的資料。您可在瀏覽器上的設定功能選項中進行cookies的設定。
      <br>為了因應市場變化以及政府法令，當我們必須修改使用個人資料的規定時，我們會在網頁上張貼公告通知相關事項。
    </li>

  </ul>
</div>