<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 2,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    function switchAnchor(i) {
        $(".article-guide-menu>li").eq(i).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    }
    for (var num = 0; num < count ; num++) {
        switchAnchor(num);
    }
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>
<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>購物需知</h3>
  <!-- <p class="article-guide-intro"></p> -->
  <ul class="article-guide-menu">
    <li>【會員條款】</li>
    <li>【購物流程】</li>
    <li>【交易安全】</li>
  </ul>
  <ul class="article-guide-list">
    <li>
        <h3>【會員條款】</h3>
        在您進行線上購物服務前，請先詳細閱讀Roots會員條款
    </li>
    <li>
        <h3>【購物流程】</h3>
        選購商品→購物結帳→填寫資料與付款→訂購完成
        <ul>
            <li>
                <h4>※ 選購商品</h4>
                您可直接瀏覽Roots網站來找到您要的商品，我們提供全系列的商品瀏覽，還有線上販售的商品和組合，建議您也可以根據我們提供的「系列分類」和「服裝分類」、「商品分類」等，來尋找適合您的商品。
            </li>
            <li>
                <h4>※ 購物結帳</h4>
                在要購買的商品頁上先選擇購買數量，再點選「放入購物籃」，即可繼續購買其他商品，挑選完所有商品後，點選頁面上的「結帳」功能選項，即可進入結帳頁面。
            </li>
            <li>
                <h4>※ 填寫資料與付款</h4>
                填寫正確詳細的收件者與信用卡資料，完成後請點選「確認送出」。
            </li>
            <li>
                <h4>※ 訂購完成</h4>
                付款完成後訂單即成立，您的電子信箱會即時收到訂單成立的通知信件，一般現貨商品將於七個工作天內（不含週休及國定例假日，海外地區除外）送達收件地址。預購商品送達時間則請參閱販售頁面介紹。
            </li>
        </ul>
    </li>
    <li>
        <h3>【交易安全】</h3>
        <ul>
            <li>
                【Roots】在線上刷卡及線上刷卡分期交易機制上，採用花旗網路銀行先進的SSL安全機制，屬於對稱性加解密系統，將金鑰長度為延展為128位元，提供全程的資料加密功能，以確保資料在傳遞過程中的隱密性及完整性，不會被中途截取及破解，再加上多項安全防護措施，您可安心在花旗銀行進行刷卡付費。
            </li>
            <li>
                【Roots】會使用『Cookies』。『Cookies』是您的瀏覽器存在您的電腦中的瀏覽記錄資料，它可讓本網站確知 您是否重遊【Roots】，好保留您的個人喜好與設定，讓您不必重複鍵入資料。一般瀏覽器通常設定為『接收Cookies』， 您若不想接收『Cookies』，只需更改設定值即可。
            </li>
            <li>
                【Roots】極為重視您的交易安全，再三提醒，不管任何理由，我們皆不會要求會員去 ATM 櫃員機進行任何操作動作。
            </li>
            <li>
                【Roots】承諾基於您同意所登記、授與予【Roots】的個人資料，均受到隱密且安全的保護。 若您有任何疑問，請來信客服信箱：info@roots.com.tw
            </li>
        </ul>
    </li>

  </ul>
</div>