<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
    <script>
    (function () {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
    var count = $(".article-guide-menu li").size();
    // function switchAnchor(i) {
    //     $(".article-guide-menu>li").eq(i).on("click", function () {
    //         var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
    //         $('.layout-view').animate({ scrollTop: (targetHeight - 45) }, 300);
    //     })
    // }
    // for (var num = 0; num < count ; num++) {
    //     switchAnchor(num);
    // }
    $(".article-guide-menu>li").each(function(i) {
        $(this).on("click", function () {
            var nowScroll = $('.layout-view').scrollTop();
            var targetHeight = $(".article-guide-list>li").eq(i).offset().top;
            $('.layout-view').animate({ scrollTop: (targetHeight + nowScroll - 45) }, 300);
        })
    });
    $("#slider-tabs .swiper-slide-active").addClass("warning-color3");
    })()
    </script>
<% end %>

<%= render :partial => "/partial/layout-guidetab" %>

<div class="article-guide">
  <h3>退換貨申請</h3>
  <ul class="article-guide-menu">
    <li>【取消訂單】</li>
    <li>【退貨】</li>
    <li>【換貨】</li>
    <li>【退貨操作步驟說明】</li>
    <li>【退款處理說明】</li>
    <li>【鑑賞期規定】</li>
  </ul>
  <ul class="article-guide-list">
      <li>
          <h3>【取消訂單】</h3>
          <ul class="list-style-decimal">
              <li>
                  若您要取消訂單，請直接聯絡客服人員，並提供訂單編號與訂購人姓名，
                  一收到您的需求，客服人員於週一到周五上班時間(不含例假日、國定假日)盡快為您處理，
                  並於處理完成後3個工作天內(不含例假日、國定假日)以email的方式回覆您訂單取消的處理結果，
                  收到回覆信件後，您亦可上網利用「訂單記錄查詢」的功能，查詢目前訂單的處理狀況。
                  請注意，付款方式一但選擇完成將無法變更，訂單成立後寄件人與配送資料等將無法修更。
              </li>
              <li>
                  若您於訂單成立後欲修改配送地址或付款方式等，只要在現貨訂單出貨前或預購商品到貨通知寄發前至會員中心取消您的訂單即可。
              </li>
              <li>
                  若您申請取消訂單之前，該商品已在配送途中，請您儘速聯絡客服中心，客服人員會嘗試連絡物流中心將商品直接運回，
                  若無法及時處理，煩請您收到商品時，直接退回給宅配司機，或是聯絡客服人員為您辦理退貨。
              </li>
          </ul>
      </li>
      <li>
          <h3>【退貨】</h3>
          <ul class="list-style-decimal">
              <li>
                  若您因商品瑕疵要辦理退貨，請於收到貨當日起7天鑑賞期內（含國定例假日）聯絡客服人員，我們會安排宅配公
                  司於5個工作天內，到您指定的地點取貨。Roots僅接受每張訂單1次退貨之運費吸收,並請務必將商品銷售清單
                  與發票連同商品一起退回，如已超過7天鑑賞期限，恕不接受退貨。
              </li>
              <li>
                  請注意，您所退回的商品內容必須包括未被穿過、洗過、使用過之商品，並維持所有商品、贈品、附件、包裝、附
                  隨文件或資料的完整性，否則，Roots有權力拒絕您的退貨退款要求。
              </li>
              <li>
                  個人試穿後，若商品因人為因素產生異味或材質變形，或購買之品項為貼身衣物，恕不接受退換貨。
              </li>
              <li>
                  退貨時，請您使用完整的原包裝袋/紙箱將欲辦理退貨之商品包裝妥當寄回；若遇原包裝袋/紙箱已遺失或破損不堪
                  使用，請使用其他完整袋子/紙箱進行包裝。您要求退貨之商品若有缺件或是損毀，Roots有權拒絕您的退貨退款要
                  求；為保障您的權益，若您所訂購的商品本身出現瑕疵問題，須於收到商品後7天內向Roots請求退貨，Roots將全
                  額退款給您。
              </li>
              <li>
                  請注意，於線上購買的商品無法直接於實體店鋪辦理退換貨，於實體店鋪購買之商品亦不可透過線上購物辦理退換
                  貨。
              </li>
              <li>
                  如因個人因素退貨次數過多，Roots將視情形決定是否暫停出貨，敬請見諒。
              </li>
          </ul>
      </li>
      <li>
          <h3>【換貨】</h3>
          <p class="warning-color">
              於網路商店購買之商品皆不提供換貨服務，亦無法直接於實體店鋪辦理退/換貨，
              請將您原先購買之商品進行退貨處理，再重新購買您想要的商品。
              如造成您的不便，煩請諒解。
          </p>
      </li>
      <li>
          <h3>【退貨操作步驟說明】</h3>
          <ul class="list-style-decimal">
              <li>
                  欲退貨的顧客請與Roots客服中心聯絡，在網路客服人員確認商品資訊等詳情完成之後，會儘速為您安排退貨商品
                  的送返流程。
              </li>
              <li>
                  請將欲退貨的商品，連同訂單明細、Sales Memo、統一發票及完整原包裝一起寄回、請特別注意，若寄回的資料
                  不全，將無法進行退貨。另外，請務必在退貨理由欄上填上退貨理由及電滙退款資料等必須項目。
              </li>
              <li>
                  請把附件及包裝完整退貨商品交給本公司所安排的宅配公司的快遞人員回收。
              </li>
              <li>
                  本公司確認退貨商品內容無誤後，即會進行退貨處理。
              </li>
              <li>
                  如果只有部分商品需要退貨，會將原發票與折讓單寄回給您。
              </li>
          </ul>
      </li>
      <li>
          <h3>【退款處理說明】</h3>
          <p class="warning-color">
              ※退貨發票相關處理方式說明:
              因財政部規定，發票開立後若產生退款，顧客需填寫[折讓單]進行辦理。
              整筆訂單退貨需連同發票一併退回。
              請洽客服中心提問索取「退款折讓單」以及詳細填寫須知。
          </p>
          <br>
          <table class="module-table table-style-b">
            <tbody>
              <tr>
                <td>付款方式</td>
                <td>信用卡</td>
              </tr>
              <tr>
                <td>退款方式</td>
                <td>信用卡刷退</td>
              </tr>
              <tr>
                <td>退款工作天</td>
                <td>收到退貨商品確認無誤後7-14個工作天內完成退款</td>
              </tr>
              <tr>
                <td>說明</td>
                <td>
                  請聯絡客服人員協助處理刷退事宜，若作業時間跨信用卡結帳日，費用將退於次月帳單。
                  <br><br>刷退注意:
                  <br><span class="warning-color">1.若退貨後，訂單若未達免運標準，則需自行負擔退貨[物流費]80元，我們將於刷退時扣除。 </span>
                  <br><br>2.若您是購買[組合商品]，退貨後導致未達[組合商品]的優惠價，同單保留優惠商品需恢復原價，滿額贈品亦需退回。
                </td>
              </tr>
            </tbody>
          </table>

          <table class="module-table table-style-b">
            <tbody>
              <tr>
                <td>付款方式</td>
                <td>貨到付款</td>
              </tr>
              <tr>
                <td>退款方式</td>
                <td>電匯退款</td>
              </tr>
              <tr>
                <td>退款工作天</td>
                <td>依公司規定程序辦理</td>
              </tr>
              <tr>
                <td>說明</td>
                <td>
                  1.退貨後，訂單若未達免運標準，則需自行負擔退貨[物流費]80元與[貨到付款手續費]30元，我們將於退款時扣除。
                  <br><br>2.若您是購買[組合商品]，退貨後導致未達[組合商品]的優惠價，同單保留優惠商品需恢復原價，滿額贈品亦需退回。
                </td>
              </tr>
            </tbody>
          </table>
      </li>
      <li>
          <h3>【鑑賞期規定】</h3>
          <p>
              根據消費者保護法之規定，Roots將提供您享有商品到貨當日起7天鑑賞期的權益，鑑賞期間是提供您評估是否購買該商品，並非提供您試用該商品，您可在鑑賞期間內要求退貨退款，但提醒您，所退回的商品內容必須保維持所有商品、贈品、附件、包裝、附隨文件或資料的完整性，否則Roots有權力拒絕您的退貨退款要求。
          </p>
      </li>
  </ul>
</div>