<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/cafe" %>
<% end %>
<% content_for :specific_javascript do %>
  <%#= javascript_include_tag "units/cafe" %>
<% end %>


<section class="layout-content">
  <h2>Roots Lodge</h2>
  <img src="https://www.roots.com.tw/global/front/images/rootscafe/logo-cafe.jpg" class="cafe-logo" alt="">
  <ul class="cafe-content-list">
    <li>
        <h3>迎接慢活初夏 Roots Café 慢哲學打造全新加拿大風味菜單<br/>師承米其林二星主廚的料理熱情 演繹源於加拿大的自然美味</h3>
        春意盎然，時序邁入初夏。Roots Café推出2015年嶄新菜色，以慢活初夏為靈感，結合輕鬆氛圍、自然慢食、悠閒空間打造Roots Café全新慢哲學。並由新任主廚劉宥辰將其對料理的熱情與創意發揮於全新菜色中，呈現多元加拿大「楓」味的品牌精神！
    </li>
    <li>
        <h3>輕鬆、自然、活力  Roots Café溫馨悠閒氛圍重新享受慢活寧靜</h3>
        現代社會的繁忙步調，讓人們習慣於緊繃的生活型態。Roots Café提供一個都會叢林中「慢步」的空間，帶來生活中片刻的寧靜悠閒；並將「輕鬆、自然、活力」的品牌精神注入店內，以溫暖的木質裝潢為基調、同時使用加拿大原裝進口Roots手工皮革沙發及木質桌椅，營造溫馨悠閒的慢活空間。
    </li>
    <li>
        <h3>加拿大風味美食饗宴  全新菜單重現傳統中洋溢活潑創意</h3>
        Roots Café以慢哲學概念，推出2015年全新菜單。由新任主廚劉宥辰細心研發，並以師承米其林二星主廚的精湛手藝、及對於加拿大飲食文化的深入研究，展現經典加拿大那奈摩、普丁薯條、厚切燻鮭魚酸豆蕃茄麵…等多道加拿大風味料理，讓味蕾徜徉繽紛多元的美味體驗中。
        <br>其中，傳統家常甜點「加拿大那奈摩」以三層式的內餡融合黑巧克力的苦甜香氣、卡士達醬的清甜柔軟以及手工餅乾的酥脆口感、並加入楓糖畫龍點睛綜合多重甜蜜口感；「普丁薯條」則為加拿大饒富歷史的傳統小吃，使用熬煮16小時的牛肉汁、搭配濃郁起士塊重現加拿大傳統美味。除了那奈摩及普丁薯條外，更使用加拿大代表性食材-鮭魚烹飪出「厚切燻鮭魚酸豆蕃茄麵」，以自製燻鮭魚的鮮甜油脂及入口即化的肉質，佐以酸豆、番茄碎丁及慢熬茄汁酸中帶甜的口味勾勒清爽開胃同時富含營養價值的一道料理。
        <br><br>不能錯過的還有美味營養兼具的法式鹹派、英式下午茶組等特色料理；以及使用加拿大Second Cup咖啡豆、茶葉等原料調配而成的各式飲品。2015年Roots Café全新菜單讓選擇更加多元化，並完整呈現源於加拿大的自然美味！
    </li>
    <li>
        <h3>
            以慢生活哲學為基調 全台擬再拓店
        </h3>
        Roots Café以愜意、輕鬆的生活風格為核心精神，希望提供消費者一個在逛街之餘可歇腳休息的空間並提供專屬加拿大風味的美食饗宴。未來Roots Café也計畫於台北及台中以外的城市持續展店；並冀望在都會叢林中展開樸實悠閒的慢活哲學，成為忙裡偷閒亦或是假日朋友聚會的最佳休憩空間，讓現代都市人體現「慢活」哲學。
        <br><br>
        <img src="https://www.roots.com.tw/global/front/images/rootscafe/photo-cafe-01.jpg" width="100%">
    </li>
    <li class="warning-color4">
        <h3 class="warning-color4">【Roots Café品牌故事】</h3>
        Roots在台扎根多年一直以「輕鬆、自然、活力」為設計主軸，提供消費者品質優良的服飾配件以及皮革商品。自2011年開設Roots Café 後，完整涵蓋衣食育樂的商品線更加體現了Lifestyle的品牌精神以及加拿大原創經典風格!
        <br>Roots Café的設立初衷希望提供消費者一個逛街之餘能歇腳休息、同時品嚐加拿大風味咖啡的地方。空間設計以溫暖的木質裝潢為基調、並使用加拿大原裝進口的Roots手工皮革沙發，以呈現溫馨悠閒的北美鄉村風格。爾後因應消費者對休閒生活的重視以及下午茶風潮的興起，更推出了鬆餅、三明治等輕食選擇；Roots Café也由稍作休息的歇腳處轉變成為聚會放鬆的絕佳選擇!
        <br>在Roots Café您將親身體驗加拿大楓情的原汁原味、像在「家」一樣的輕鬆自在。質樸又溫馨的慢活氛圍提供繁忙生活中片刻的安逸寧靜，多樣化的飲品及餐點更讓忙碌的步伐能停留片刻，享受簡單美好的悠閒時光！
    </li>
  </ul>
  
  <h2>Roots Café 專櫃資訊</h2>
  <ul class="cafe-store-list">

    <li class="cafe-store-item">
      <h3>新光三越信義 A11 館</h3>
      <p>(02)27239320</p>
      <p>台北市信義區松壽路 11 號 4 樓</p>
      <h3>營業時間</h3>
      <p>平日 AM 11:00~PM 09:30<br>假日 AM 11:00~PM 10:00</p>
      <h3>供餐時間</h3>
      <p>平日至PM 08:30<br>假日至PM 09:00</p>
      <h3>飲品供應時間</h3>
      <p>平日至PM 09:30<br>假日至PM 10:00</p>
      <div class="module-btn style-gray"><a href="">線上菜單</a></div>
    </li>

    <li class="cafe-store-item">
      <h3>仁愛專賣店</h3>
      <p>(02)27111256</p>
      <p>台北市大安區仁愛路 4 段 101 號 2 樓</p>
      <h3>營業時間</h3>
      <p>平日 AM 11:00~PM 09:30<br>假日 AM 11:00~PM 09:30</p>
      <h3>供餐時間</h3>
      <p>平/假日至PM 08:30</p>
      <h3>飲品供應時間</h3>
      <p>平/假日至PM 09:30</p>
      <div class="module-btn style-gray"><a href="">線上菜單</a></div>
    </li>

    <li class="cafe-store-item">
      <h3>台中廣三 SOGO</h3>
      <p>(04)23288611</p>
      <p>台中市西區台灣大道二段 459 號 3 樓</p>
      <h3>營業時間</h3>
      <p>平日 AM 11:00~PM 10:00<br>假日 AM 10:30~PM 10:00</p>
      <h3>供餐時間</h3>
      <p>平/假日至PM 09:00</p>
      <h3>飲品供應時間</h3>
      <p>平/假日至PM 10:00</p>
      <div class="module-btn style-gray"><a href="">線上菜單</a></div>
    </li>

    <li class="cafe-store-item">
      <h3>華泰名品城</h3>
      <p>(03)2870632</p>
      <p>桃園市中壢區春德路 189 號 2 樓</p>
      <h3>營業時間</h3>
      <p>平日 AM 10:00~PM 09:00<br>假日 AM 10:00~PM 10:00</p>
      <h3>供餐時間</h3>
      <p>平日至PM 08:00<br>假日至PM 09:00</p>
      <h3>飲品供應時間</h3>
      <p>平日至PM 09:00<br>假日至PM 10:00</p>
      <div class="module-btn style-gray"><a href="">線上菜單</a></div>
    </li>

  </ul>
</section>