.layout-accordion {
  margin-top: 0;
  margin-bottom: 0;

  .accordion-list {
  margin-top: 0;
  margin-bottom: 0;
  @extend %listUnstyled;
    &.status-full{
    min-height: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
    background-color: nth($color-table, 2);
    }
  }
  ul{
    list-style-type: decimal;
    padding-left: 1.5em;
  }
  .accordion-item{
    border-bottom: 1px solid nth($color-table, 2);
    &.on {
      .accordion-item-content{
        max-height: 200vh;
      }
    }
  }

  .accordion-item-title{
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 1.1em;
    line-height: 1.8;
    background-color: white;
  }

  .accordion-item-dot{
    display: inline-block;
    letter-spacing: 0.3em;
    padding-right: 0.5em;
  }

  .icon-q{
    display: inline-block;
    margin-right: 0.5em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    color: white;
    background-color: nth($color-accordion, 3);
    @include border-radius(50%);
  }

  .accordion-item-name{
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    max-width: calc(100vw - 6em);        
  }
  
  i.fa{
    float:right;
    @include transition(transform);
    @include transition-duration(.2s);
    @include transition-timing-function(ease);
    color: nth($color-table, 2);;
    line-height: 1.8em;
    font-size: 1.1em;
  }

  .accordion-item-content{
    max-height: 0;
    width: 100%;
    overflow: hidden;
    @include transition(max-height);
    @include transition-duration(.5s);
    @include transition-timing-function(ease);
    background-color: nth($color-table, 1);
  }
  .accordion-item-article{
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    line-height: 1.8;
    p{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.privacy-list{
  .accordion-item-name{
    max-width: 70%;
    max-width: calc(100vw - 10em);
  }
}