.module-btn{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  // padding-left: 0.5em;
  // padding-right: 0.5em;
  padding-left: 0;
  padding-right: 0;
  background-color: nth($color-green, 1);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  @include border-radius(2px);
  @include transition(background-color , 0.2s , ease);
  &.style-pullleft{
    margin-left: 0;
  }
  &.style-light{
    border: 1px solid nth($color-green, 2);
    color: nth($color-green, 2);
    background-color: white;
    a{
      color: nth($color-green, 2);      
    }
  }
  &.style-gray{
    background-color: #808080;
  }
  &.style-smallright{
    float: right;
    display: inline-block;
    width: auto;
    font-size: 0.8em;
    line-height: 1;
    margin-top: 0.2em;
    margin-bottom: 0;
  }
  &:active{
    opacity: 0.9;
  }

  a{
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    height: 100%;
    color: white;
  }
  &.not-link{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  &.btn-inline{
    display: inline-block;
    width: auto;
    min-width: 7em;
    margin-bottom: 0.5em;
    
  }
  i{
    margin-right: 4px;
  }
}

.btn-popclosex{
  font-size: 1.5em;
  float: right;
  color: nth($color-gray, 4);
}

.btn-popup{
  display: inline-block;
  margin-top: 1.4em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: white;
  line-height: 2.6;
  width: 8em;
  text-align: center;
  vertical-align: middle;
  // border: 1px solid nth($color-button, 1);
  background-color: nth($color-green,1);
  @media only screen and (max-height : 500px) {
    margin-top: 0.5em;
    margin-bottom: 0;
  }  
  &:active{
    color: white;
  }
  a{
    color: white;
    display: block;
    width: 100%;
  }
  &.style-gray{
    background-color: #808080;
  }
  &.style-short{
    width: 6em;
  }
  &.style-xshort{
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.btn-fancy{
  border: 3px solid #777777;
  border-top-color: #bcbcbc;
  background: url('/assets/images/bg-banner.jpg') left top no-repeat;
  text-align: center;
  @include backgroundSize(cover);
  @include border-radius(6px);
  &:active{
    border: 3px solid #555555;
    border-bottom-color: #777777;
    color: nth($color-gray, 3);
    i{
      opacity: 0.8;
    }
  }
  a{
    width: 100%;
    height: 100%;
  }
}

.btn-sq{
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: nth($color-gray, 5);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  font-weight: bold;
  @include transition(opacity .2s ease);
  @include transition-property(opacity,color,background-color,border-color);
  &.on,&:active{
    background-color: white;
    color: nth($color-gray, 5);
    opacity: 1;
  }
}
.btn-love{
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-image: url('/assets/images/heart-o.svg');
  @include backgroundSize(1em);
  &.liked{
    background-image: url('/assets/images/heart-g.svg');
    opacity: 1;
  }
}

.btn-info{
  position: absolute;
  top: calc(2.5em + 4px);/*0.5+2em +4px*/
  right: 0.5em;
  font-style: italic;
  &::before{
    content: 'i';
  }
}

.btn-more{
  position: absolute;
  top: calc(4.5em + 8px);/*0.5+2em +4px +2em +4px*/
  right: 0.5em;
  font-style: italic;
  &::before{
    content: '...';
  }
}

.btn-bgcolor{
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.2;
  @include border-radius(4px);
  a{
    color: white;
    &:active{
      color: nth($color-accordion, 1);
    }
    img{
      height: 1.3em;
      vertical-align: middle;
      padding-right: 0.3em;
    }
    .fa{
      font-size: 1.3em;
      vertical-align: middle;
      padding-right: 0.3em;
      margin-top: -0.2em;
      color: white;
    }
  }
}
.btn-buynow,.btn-bgcolor-green{
  background-color: #2fad9b;/*#1b9987*/
  @include gradient-directional($start-color: nth($color-green, 1), $end-color: nth($color-green, 1), $deg: 0deg);
  &:active{
    @include gradient-directional($start-color: nth($color-green, 1), $end-color: nth($color-green, 1), $deg: 0deg);
  }
}
.btn-addcart,.btn-bgcolor-gray{
  background-color: #808080;
  // background-color: #d76969;/*#cd5f5f*/
  // @include gradient-directional($start-color: nth($color-pink, 6), $end-color: nth($color-pink, 5), $deg: 0deg);
  &:active{
  // @include gradient-directional($start-color: nth($color-pink, 5), $end-color: nth($color-pink, 6), $deg: 0deg);
  }
}

.btn-cart-sq{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: nth($color-gray, 4); 
  border: 1px solid nth($color-gray, 4);
  &:active{
    border-color: black;
    color: black;
  }
}
.btn-cart-sq-color{
  &.choosed{
    border: 4px solid black;
  }   
}
.btn-cart-sq-size{
  &.choosed{
    background-color: black;
    color: white;
  }
}

.btn-size{
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  width: 3em;
  height: 3em;
  line-height: 3em;
  line-height: calc(3em - 4px);
  text-align: center;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  background-color: white;
  color: nth($color-green,1);
  border: 2px solid nth($color-green,1);
  &.is-chosen{
    background-color: nth($color-green,1);
    color: white;
  }
}
.btn-color{
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  width: 3em;
  height: 3em;
  line-height: 3em;
  line-height: calc(3em - 4px);
  text-align: center;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  border: 2px solid white;
  &.is-chosen{
    border-color: nth($color-green,1);
  }
}

.btn-sq{
  &.number-minus,&.number-add{
  position: relative;
    &::before{
      content:'';
      display: block;
      position: absolute;
      background-color: white;
      width: 50%;
      height: 1px;
      top: 50%;
      left: 25%;
    }
  }
  &.number-add{
    &::after{
      content:'';
      display: block;
      position: absolute;
      background-color: white;
      width: 1px;
      height: 50%;
      left: 50%;
      top: 25%;
    }
  }
}