.cart-list {

  .cart-item {
    .item-info {

      display: flex;
      align-content: flex-start;
      position: relative;
      margin-top: 1.125em;

      .item-image {
        width: 33%;
        max-width: 10em;
        margin-right: 0.5em;

        img {
          width: 100%;
        }
      }

      .item-detail {
        display: inline-block;
        width: 67%;
        font-size: 16px;
        > * {
          margin: 0 0 0.375em 0;
          font-size: 0.8em;
          // font-size: 0.625em;
        }
      }

      .close-button {
        width: 24px;
        height: 24px;
        background: url('/assets/images/icon-close-small.svg') left top no-repeat;
        border-radius: 100%;
        border-color: #828282;
        position: absolute;
        top: 0;
        right: 0;
        @include backgroundSize(contain);
      }
    }

    .item-summary {
      display: flex;
      align-items: center;

      .summary-label {
        margin-right: 0.5em;
        color: #828282;
        // font-size: 0.625em;
      }

      .btn-sq-color-action {
        border: 4px solid #004404;
      }

      .module-form-input {
        margin-right: 1.625em;
        width: 2em;
      }

      .product-price {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin-right: 0.625em;
        &.is-sale{
          .origin-price {
            color: #828282;
          }           
          .sp-price{
            display: inline-block;
          }
        }
        .sp-price{
          display: none;
          color: nth($color-red,1);
        }
      }
    }
  }
}//.cart-list end