.layout-content {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  line-height: 1.8;
  padding-bottom: 2em;//padding-bottom: $layout-tabbar-height + $layout-tabbar-foot-height;
  width: 100%;
  @extend %clearFix;
  &.style-upper{
    padding-bottom: 0;
  }
  &.style-fullsize {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;  
  }
  &.style-fullmylist {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;  
  }

  .module-clause {
    padding-right: 0;
    padding-left: 0;
  }
  .module-clause-title {
    font-size: 1em;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1{
    font-size: 1.2em;
    font-weight: bolder;
    &.large{
      font-size: 1.5em;
      line-height: 1.4;
    }
  }
  h2{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: nth($color-green,1);
  }
  h3{
    font-size: 1em;
  }
  h4{
    color: #c8242b;
    font-size: 1em;
  }
  .mb1{
    margin-bottom: 2.8em;
  }
  .mb2{
    margin-bottom: 5.6em;
  }
}
.heading-icon {
  @extend %clearFix;
  &:before {
    content: '';
    float: left;
    display: block;
    margin-top: 4px;
    margin-right: 5px;
    background-image: url('/assets/images/logo-black.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    @include size(1.46em, 1.6em);
  }
}
.clause-level-1 {
  list-style-type: cjk-ideographic;
  list-style-position: inside;
}
.clause-level-2 {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2em;
}
.clause-level-3 {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 2em;
}
.clause-level-4 {
  list-style-type: lower-roman;
  list-style-position: outside;
  padding-left: 2em;
}
.appendix-text{
  color: nth($color-button, 1);
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8;
}
.tcenter{
  text-align: center;
}
.uline{
  text-decoration: underline;
}
.warning-color{
  color: nth($color-red, 1);
}
.warning-color2{
  color: nth($color-green, 1);
}
.warning-color3{
  color: nth($color-green, 2);
}
.warning-color4{
  color: nth($color-brown, 1);
}
.normal-color{
  color: black;
}
.pb0{
  padding-bottom: 0;
}
.pt1{
  padding-top: 1em;
}
.style-small{
  font-size: 0.7em;
}
.style-alignright{
  text-align: right;
}
.text-large{
  font-size: 1.2em;
  line-height: 1.5;/* 1.8/1.2 */
}
.style-italic{
  font-style: italic;
}
.style-italicgreenbg{
  display: inline-block;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.4;
  vertical-align: text-bottom;
  background-color: nth($color-green,1);
  color: white;
  margin-right: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  @include skew(-12deg,0);
}
.style-font-roots{
  font-family: 'Coustard','Noto Serif';
  font-weight: 900;
}
ul{
  padding-left: 1em;
  @extend %listUnstyled;
}
.list-style-disc{
  list-style: disc;
}
.list-style-decimal{
  list-style: decimal;

}
.clearfix{
  @extend %clearFix;
}