.module-dl {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  @extend %clearFix;
  dt {
    float: left;
    width: 50%;
    clear: left;
  }
  dd {
    float: left;
    width: 50%;
    margin-left: 0;
    text-align: right;
    & + dd {
      width: 100%;
    }
  }
}