.module-form-input{
  border: 1px solid #bbb;
  height: 1.8em;
  padding-left: 0.5em;
}

.module-form-select{
  background-color: transparent;
  border: 1px solid #bbb;
  border-color: #bbb;
  vertical-align: top;
  line-height: 2;
  height: 1.8em;
  &.is-error{
    border-color: nth($color-red, 1);
  }
}

.module-form-textarea{
  // border: 0;
  // border-bottom: 1px solid #bbb;
  border: 1px solid #bbb;
}

.module-radio{
  position: relative;
  input{
    z-index: 3;
    position: absolute;
    margin-top: 0.2em;
    width: 1.1em;
    height: 1.1em;
    opacity: 0;
  }
  span{
    padding-left: 1.5em;
    padding-right: 1em;
  }
}

.module-symbol{
  @include border-radius(50%);
  position: absolute;
  display: inline-block;
  margin-top: 0.25em;
  border-color: #bbb;
  border-style: solid;
  background-color: white;
  border-width: 1px;
  width: 1.1em;
  height: 1.1em;
  z-index: 0;
  
  &::before {
    @include border-radius(50%);
    position: absolute;
    top: 2px;
    left: 2px;
    width: 1.1em;
    width: calc( 1.1em - 6px);
    height: 1.1em;
    height: calc( 1.1em - 6px);
    background-color: nth($color-green, 2);
    // @include gradient-directional($start-color: nth($color-green, 1), $end-color: nth($color-green, 2), $deg: 135deg);
  }
}

input:checked + .module-symbol{
  border-color: nth($color-green, 2);
  &:before {
    content: '';
  }
}
.style-multi input + .module-symbol{
  @include border-radius(0);
  &:before {
    @include border-radius(0);
  }
}
input[type="checkbox"] + .module-symbol{
  @include border-radius(0);

  &:before{
    top: 0;
    left: 0;
    width: 1.1em;
    width: calc( 1.1em - 2px);
    height: 1.1em;
    height: calc( 1.1em - 2px);
    background-color: nth($color-green, 2);
    @include border-radius(0);
    background: url('/assets/images/tick.svg') center center no-repeat nth($color-green, 2);
  }
}
.style-multi input:checked + .module-symbol{
  &:before {
    // content: url('/assets/images/tick.svg');
  }
}


input[type="checkbox"]:checked + .module-symbol{
  &:before {
    // content: url('/assets/images/tick2.svg');
  }
}



.form-block{
  position: relative;
  line-height: 2em;
  margin-bottom: 0.8em;
  // min-height: 2.8em;
  &.style-inline{
    float: left;
    width: 50%;
    .module-form-select{
      width: 100%;
      width: calc(100% - 0.5em);
    }
  }
  .module-form-label{
    display: block;
    // display: inline-block;
    // width: 35%;
    // width: $module-form-label-width;
    vertical-align: top;
    &+span{
      display: inline-block;
      width: 60%;
      // width: calc(100% - 35% - 5px );
      width: calc(100% - 35% - 15px );
    }
  }
  .module-form-input{
    // width: 60%;
    // width: calc(100% - 8px -  #{$module-form-label-width});
    width: 100%;
    width: calc(100% - 0.5em);
    &.style-inline{
      width: 4em;
    }
  }
  .module-form-select{
    // width: 60%;
    // width: calc(100% - 8px -  #{$module-form-label-width});
    width: 100%;
    width: calc(100% - 0.5em);
    &.select-style-half{
      width: 30%;
      // width: calc( (100% - 20px -  #{$module-form-label-width}) / 2 );
      width: calc( (100% - 20px)  / 2 );
      &:nth-child(2){
        margin-right: 6px;
      }
    }
    &.select-style-third-one{
      width: 20%;
      // width: calc( (100% - 30px -  #{$module-form-label-width}) / 3 );
      width: calc( (100% - 30px) / 3 );
      &:nth-child(2),&:nth-child(3){
        margin-right: 6px;
      }
    }

  &.style-wborder{
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  }
  .module-form-textarea{
    // width: 60%;
    // width: calc(100% - 8px -  #{$module-form-label-width});
    width: calc(100% - 8px);
  }
  .form-style-half{
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 45%;
      // width: calc( (100% - 20px -  #{$module-form-label-width}) / 2);
      width: calc( (100% - 20px) / 2);
      &.no-label{
        width: 45%;
      }
    .module-form-input{
      width: 100%;
    }
    &:nth-child(2){
      margin-right: 6px;
    }
    .form-warning-text{
      padding-left: 0;
      text-indent: 0;
      .normal-color{
        color: black;
      }
    }
  }
  .style-sub{
    vertical-align: sub;
  }
  .form-warning-text{
    // padding-left: $module-form-label-width;
    text-indent: 0.2em;
  }
}

.form-fullblock{
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  .module-form-input{
    width: 100%;
  }
}

.form-warning-text{
  display: none;
  color: nth($color-red, 1);
  line-height: 1;
  padding-top: 0.5em;
}

.form-block-verify{
  .module-form-input{
    width: 60%;
    width: calc(100% - 12px - 8em - #{$module-form-label-width});
    min-width: 2.5em;
  & +div{
      width: 8em;
      display: inline-block;
      text-align: right;
    img{
      vertical-align: middle;
    }
      i.fa{
        @include border-radius(50%);
        padding-top: 0.1em;
        margin-left: 0.5em;
        width: 1.6em;
        height: 1.6em;
        line-height: 1.6em;
        font-size: 1em;
        text-align: center;
        vertical-align: middle;
        color: white;
        background-color: #bbb;
        &:hover{
          background-color: black;
        }
      }
    }
  }
  &.is-error{
    &::after{
      top: 0.6em;
      margin-right: 11.5em;
    }
  }
}

.is-error{
    .module-form-input{
      border-color: nth($color-red, 1);
    }
    .form-warning-text{
      display: block;
    }
  &.form-fullblock{
  }
  &.form-block{
    &::after{
      top: 0.6em;
    }
  }
  &.form-style-half{
    &::after{
      top: 0.6em;
      margin-right: 0.1em;
    }
  }
    &::after{
      // content: '!';
      // display: inline-block;
      position: absolute;
      right: 0;
      top: 1.2em;
      margin-right: 0.5em;
      padding-top: 0.1em;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      font-size: 0.7em;
      background-color: nth($color-green, 2);
      color: white;
      text-align: center;
      vertical-align: middle;
      font-weight: bolder;
      @include border-radius(3px);
    }
}

.form-fullblock-title{
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  .form-fullblock-title-append{
    padding-left: 0.5em;
    color: #808080;
  }
}

.style-after-radio{
  padding-left: 1.5em;
}
.hide-form{
  display: none;
}

.form-error-text {
  color: #c50000;
}