.prefix-dollarsign{
  &::before{
    display: inline-block;
    // padding-right: 0.5em;
    content: '$';
    body[data-lang=zh-tw] &{
      content: '$';
    }
    body[data-lang=kr] &{
      content: '₩';
    }
    body[data-lang=zh-cn] &{
      content: '￥';
    }
  }
}

.shape-line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #bbb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.shape-star{
  width: 0.5em;
  margin-left: -0.5em;
  font-style: normal;
  color: nth($color-red, 1);
  // padding-right: 0.25em;
  &::before{
    display: inline-block;
    content: '*';
  }
}
.shape-pentaarrow{
  display: inline-block;
  width: 0.5em;
  height: 0.9em;
  font-style: normal;
  position: relative;
  margin-right: 2px;
  vertical-align: middle;
  &::before{
    content: '';
    @include skew(15deg,0);
    display: block;
    width: 100%;
    height: 50%;
    background-color: #bbb;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after{
    content: '';
    @include skew(-15deg,0);
    display: block;
    width: 100%;
    height: 50%;
    background-color: #bbb;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &.style-red{
    &::before,&::after{
      background-color: nth($color-red,1);
    }
  }
  &:last-child{
    margin-right: 0.5em;
  }
}

/* Swiper Icons - pagination & arrow */
.swiper-container{
  
  .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      background: #ffffff;
      opacity: 1;
      margin: 0 3px;
      // border-bottom: 1px solid #dddddd;
  }
  .swiper-pagination-bullet-active {
      opacity: 1;
      background: nth($color-green,1);
      // border-bottom: 1px solid nth($color-green,1);
  }

  .swiper-button-prev,.swiper-button-next{
    background-image: none;
    margin-top: -1em;
    font-size: 12px;
    width: 2em;
    height: 2em;
    // background-color: yellow;
    &::before{
      content:'';
      display: block;
      position: relative;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      border-top: 2px solid #bbb;
    }
  }
  .swiper-button-prev{
    left: 0;
    &::before{
      @include rotate(-45deg);
      border-left: 2px solid #bbb;
    }
  }
  .swiper-button-next{
    right: 0;
    &::before{
      @include rotate(45deg);
      border-right: 2px solid #bbb;
    }
  }
}

/*Roots Icons*/
.icon-user{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-user.svg') left top no-repeat;
  //@include backgroundSize(contain);
  &.is-active{
    background-image: url('/assets/images/icon-user-f.svg');
  }
}

.icon-bag{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-bag.svg') left top no-repeat;
  &.is-active{
    background-image: url('/assets/images/icon-bag-f.svg');
  }
}
.icon-bag-small{
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('/assets/images/icon-bag-small.svg') left top no-repeat;
}
.icon-bagquick-small{
  display: inline-block;
  width: 1.88em;
  height: 1em;
  background: url('/assets/images/icon-bagquick-small.svg') left top no-repeat;
}
.icon-logo{
  display: inline-block;
  width: 50px;
  height: 35px;
  background: url('/assets/images/icon-logo2x.png') left top no-repeat;
  @include backgroundSize(contain);
}
.icon-logo-large{
  display: inline-block;
  width: 80px;
  height: 60px;
  background: url('/assets/images/icon-logo-large2x.png') left top no-repeat;
  @include backgroundSize(contain);
}

.icon-hamburger{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-hamburger.svg') left top no-repeat;
}
.icon-marker{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-marker.svg') left top no-repeat;
  &.is-active{
    background-image: url('/assets/images/icon-marker-f.svg');
  }
}
.icon-star{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-star.svg') left top no-repeat;
  &.is-active{
    background-image: url('/assets/images/icon-star-f.svg');
  }
}
.icon-starblack{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-starblack.svg') left top no-repeat;
  &.is-active{
    background-image: url('/assets/images/icon-starblack-f.svg');
  }
}
.icon-top{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-top.svg') left top no-repeat;
}
.icon-beaver{
  // margin-top: -22px;
}
.icon-logo-footer{
  display: inline-block;
  font-size: 16px;
  width: 1.5em;
  height: 1.13em;
  background: url('/assets/images/icon-logo-footer2x.png') left top no-repeat;
  @include backgroundSize(contain);
}
.icon-question{
  display: inline-block;
  font-size: 16px;
  width: 1em;
  height: 1em;
  background: url('/assets/images/icon-question.svg') left top no-repeat;
}
.icon-bullet{
  display: inline-block;
  font-size: 16px;
  width: 1em;
  height: 1em;
  background: url('/assets/images/icon-bullet.svg') left top no-repeat;
}
.icon-mail{
  display: inline-block;
  font-size: 16px;
  width: 1em;
  height: 1em;
  background: url('/assets/images/icon-mail.svg') left top no-repeat;
}
.cart-num{
  display: inline-block;
  // padding: 0.3em;
  font-size: 0.6em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: nth($color-green,2);
  color: white;
  @include border-radius(50%);
}
.icon-close{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/images/icon-close.svg') left top no-repeat;
}