.member-exp{
    width: 100%;
    line-height: 1;
    font-size: 11px;
    .style-font-roots{
      color: nth($color-green,2);
      display: inline-block;
      vertical-align: top;
    }
   .member-exp-bar{
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #ddd;
    width: calc(100% - 10em - 4px);
    height: 10px;
  }
  .member-exp-bar-value{
    position: relative;
    background-color: nth($color-green,2);
    height: 100%;
  }

  .member-exp-num{
    color: nth($color-red,1);
    &::after{
      content: '%';
    }
  } 
}
