.layout-popup-wrap{
  position: fixed;
  z-index: 999;
  top: 15%;
  left:5vw;
  width: 90vw;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  background-color: white;
  border: 5px solid nth($color-green,2);
  @media only screen and (max-height : 500px) {
    padding-bottom: 1em;
  }
  h2{
    font-size: 1.05em;
    color: nth($color-green,2);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    // border-bottom: 1px solid nth($color-button, 2);
    @media only screen and (max-height : 500px) {
      padding-bottom: 0.2em;
      margin-bottom: 0.2em;
    }
  }
  .icon-close{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 2;
  }
  &.style-nocolor{
    background-color: transparent;
    color: white;
    text-align: center;
    pointer-events: none;
    border: 0;
    padding: 0;
  }
  &.style-nocolor-full{
    background-color: transparent;
    color: white;
    padding: 0;
    border: 0;
    top: 0; 
    right: 0; 
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 100%; 
    text-align: center;
    pointer-events: none;
  }
  &.style-absolute{
    position: absolute;
    margin-bottom: 5em;
    -webkit-overflow-scrolling: touch !important;
  }
  &.style-withhead{
    padding-top: 0;
  }
  .form-block{
    min-height: 2em;
  }
}
.layout-popup-background{
  position: fixed;
  z-index: 998;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
}
.style-indexpopup{
  background-image: url('/assets/images/icon-cross.svg');
  background-repeat: no-repeat;
  background-position: right top;
}
.popup-head{
  margin-top: 0;
  padding-top: 0;
  width: 90vw;
  width: calc( 90vw - 10px);
  margin-left: -1em;
  line-height: 2;
  text-align: center;
  background-color: nth($color-green,2);
  border-bottom: 5px solid nth($color-green,2);;
  color: white;
}

#select-addr-container{
  .col{
    display: inline-block;
    vertical-align: text-bottom;
    padding-left: 20px;
    padding-bottom: 0.5em;
    width: 50%;
    &:nth-child(2){
      margin-left: -5px;
    }
    &:nth-child(3){
      width: 100%;
      input{
        width: 100%;
        border-width: 0 0 1px 0;
        margin-top: 0.5em;
      }
    }
    &:nth-child(4){
      width: 100%;
      line-height: 2;
    }
    .warning-color2{
      display: block;
      padding-bottom: 5px;
    }
    .module-form-select{
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  #addr-result-table{
    max-height: 300px;
    max-height: 60vw;
    overflow: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  thead td {
    background-color: #808080;
    padding:4px;
  }
  tbody td {
    padding: 4px;

  }
  tbody tr:hover{
    .btn-tick {
        background-color: #004404;
        i {opacity: 1;}
    }
  }
  td {
    border: 1px solid #cccccc;
    text-align: center;
  }

  .btn-tick {
    display: inline-block;
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
  }

  .btn-tick i {
    display: inline-block;    
    width: 10px;
    height: 6px;
    border: 2px solid white;
    border-width: 0 0 2px 2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 0;
    opacity: 0;
    vertical-align: middle;
  }

}