.product-list-item{
  p{
    font-size: 12px;
    text-align: center;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.product-list-item-img{
  position: relative;
  margin-bottom: 0.1em;
  a{
    display: block;
    position: absolute;
    width: 65%;
    height: 65%;
    top: 17.5%;
    left: 17.5%;
  }
  .product-list-item-exclusive{
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 13px;
    background-color: nth($color-green,1);
    color: white;
    text-align: center;
  }
}
.product-list-item-redmark{
  color: nth($color-green, 1);
}
.product-price{
  text-align: center;
  .origin-price,.sp-price{
      padding-left: 0.25em;
      padding-right: 0.25em;    
  }
  .origin-price{
    display: inline-block;
  }
  .sp-price{
    color: nth($color-red, 1);
    display: none;
  }
  &.is-sale{
    .origin-price{
      text-decoration: line-through;
      color: #888;
      &::before{
        text-decoration: line-through;
      }
    }
    .sp-price{
      display: inline-block;
    }
  }
}
.style-color-sale{
  color: nth($color-pink, 4);
}


.mypagelist-product-item{/*wish list*/
  line-height: 1;
  float: left;
  width: 33.3%;
  width: calc(100% / 3);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  // height: calc(100vw / 9 * 4);
  // @include backgroundSize(cover);
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}