#slider-tabs{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bbb;
  .swiper-wrapper{
  }
  .swiper-slide {
      // border-right: 1px solid #bbb;
      text-align: center;
      font-size: 0.8em;
      color: #bbb;
      line-height: 1.4;
      &.swiper-slide-active,&.swiper-slide-prev{
        border-right: 1px solid #bbb;
      }
      &.swiper-slide-active{
        // color: nth($color-green,2);
        a{
          // color: nth($color-green,2);        
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
      &.warning-color3,&.warning-color3 a{
        color: nth($color-green,2);
      }
  }
  .swiper-button-prev,.swiper-button-next{
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.75em;
    &::before{
      border-color:#888;
    }
  }
}