.module-table {

  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #777;

  &.table-style-a {
    thead {
      background-color: #999;
      text-align: center;
      color: white;
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #ddd;
        }
      }
      td {
        text-align: left;
        &:first-child {
          text-align: center;
          min-width: 6em;
        }
      }
    }
  }

  &.table-style-b {
    thead {
      background-color: #777;
      text-align: center;
      color: white;
    }
    tbody {
      td {
        &:nth-child(1){
          // text-align: center;
          background-color: #777;
          color: white;
          width: 8em;
        }
      }
    }
  }

  &.table-style-c { /*size sheet*/
    margin-bottom: 0.2em;
    table-layout: fixed;
    thead {
      background-color: #777;
      text-align: center;
      color: white;
    }
    tbody {
      td {
        text-align: center;
        &:nth-child(1){
          background-color: #777;
          color: white;
          max-width: 6em;
        }
      }
    }
  }

  td {
    border: 1px solid #ddd;
    padding-top: 0.4em;
    padding-right: 1em;
    padding-bottom: 0.4em;
    padding-left: 1em;
  }

}
