<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 7,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>

<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">社區支持</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            自Roots於1973年成立以來，創辦人Michael Budman和Don Green就抱著堅定的決心持續的致力於關心生態環境、關懷弱勢團體、愛護動物等人道工作，不遺餘力支持公益活動向來是Roots的核心價值之一；Roots Taiwan也抱持著同樣理念紮根於我們的故鄉，期望能為當地弱勢團體盡一份心力，將愛護地球與與關懷弱勢族群的品牌宗旨在亞洲地區發揚光大。
            <br><br>
            於2011年推動流浪動物公益桌曆計畫，Roots本著關懷、支持與愛的出發點特別為台灣本地公益團體主動發起的慈善義賣活動；每本售價250元的公益桌曆，義賣所得扣除百貨租金成本後，以Roots Taiwan公司名義，每本實際捐贈180元予流浪動物花園協會及臺北市流浪貓保護協會。
            <br><br>
            本次計畫關懷對象是流浪動物花園協會與臺北市流浪貓保護協會，協會皆非公立機構並無政府補助，因此所有的協會費用皆須靠民眾捐款或義工自掏腰包籌措而得。兩個非營利公益協會致力幫助流浪動物結紮，並提供收容場所及醫療照顧，每年協助平均超過1000隻流浪動物脫離苦難的命運；為了使更多受難貓狗找到幸福的歸宿，協會期許能夠每年持續舉辦接近100場的送養活動、義工培訓、校園推廣活動，因此，我們更需要您的支持來落實台灣動物保護觀念。
            <br><br>
            Roots希望能結合長久以來一直支持愛護Roots並擁有相同理念的朋友們，讓我們一同秉持著人道關懷的精神，尊重每一個生命，用行動響應關懷弱勢團體。
        </div>
</section>