<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 6,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>

<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">榮譽與獎項</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            Roots憑借著品牌的成功以及其產品於質量上的名聲，於很久以前已很成為加拿大最具代表性的品牌之一。
            <br><br>
            近年，Roots得到各方面，無論是產品創新或品牌對社會的企業責任等，均獲得表揚及稱讚。以下是其中一些例子：
            <br><br>
            <h2>2014</h2>
            加拿大零售協會頒發「2014年卓越零售業創辦人終生成就獎項」給予Roots兩位創辦人Michael Budman與Don Green。
            <br><br>
            <h2>2010</h2>
            在由國際品牌專家所發表、探討國際品牌集團的最新「2010年加拿大最佳品牌：加拿大最有價值的品牌指南」中指出，Roots在私人企業集團類別有著顯著的表現，內容是這麼描述的：「Roots向來被視為加拿大零售業裡的一個迷人品牌，在2010年仍舊以充滿了多元文化的特質，同時蘊含粗曠卻精緻的運動休閒風格維持品牌堅強實力且獨特的個性….」
            <br><br>
            <h2>2009</h2>
            在資產顧問機構Brand Finance於一項關於加拿大公司與消費者態度的研究「2009年加拿大最有價值的品牌」裡，給予Roots「AA」的等級認可，並且將之排名為前20名的公司。超越了像是CIBC加拿大帝國商業銀行、TD加拿大信託和Shoppers Drug Mart連鎖大藥房等當地知名企業。
            <br><br>
            <h2>2008</h2>
            《Marketing Magazine》選出Roots為加拿大歷史中，10個最具代表性的加拿大品牌之一。引述其中的一些報導：「Roots的創辦人Michael Budman及Don Green無論於加拿大或世界各地，於展示屬於加拿大的獨特風格以及形象上，均扮演著一個非常重要的角色。他們是一個擁有高度可信性及名聲的組合，Budman及Green將他們的熱忱變成了一個能代表整個國家的品牌。」&nbsp;
            <br><br>
            <h2>2008</h2>
            於新書《Ikonica: A Field Guide to Canada's Brandscape》的其中一個章節《Movers and Shakers》中提到：「基於Roots對文化的熱衷及高度的敏感，即使產品設計不斷創新，但品牌對其主要價值及生活態度的堅持依然不變。」&nbsp;
            <br><br>
            由世界品牌評估機構Interbrand一個名為《Competing in the Global Brand Economy：Best Canadian Brands 2008》中指出：「沒有任何一間企業能巧妙地把加拿大大自然景色中的元素及精髓融會於品牌當中。確保每一件推出市場的新產品均會出現阿爾貢金省立公園(那個孕育Roots精神價值的地方)的元素，（Roots）是一個成功建立品牌認同感的好例子。」&nbsp;
            <br><br>
            <h2>2007</h2>
            由《Strategy》雜誌舉辦的「擁有最頂尖設計的加拿大品牌」票選中，Roots擁有68%最高投票率。其他還有連鎖大藥房Shoppers Drug Mart、加拿大電信公司Telus以及加拿大太陽劇團Cirque du Soleil。
            <br><br>
            <h2>2007</h2>
            由資產顧問機構Brand Finance Canada出版的《2007加拿大最有價值品牌》Roots於零售界別中被選為最佳品牌，並於所有類別中排行第四。
            <br><br>
            <h2>2006</h2>
            Roots加拿大的新總部公司辦公室，分別由加拿大安大略省裝潢設計協會(ARIDO)與美國室內設計師協會(ASID)裡獲得了兩個主要獎項，表揚其對於工作環境所做出的模範榜樣。
            <br><br>
            <h2>2006</h2>
            加拿大公共關係協會(CPRS)頒贈傑出公共關係傳播獎項，給予Michael Budman)與Don Green。
            <br><br>
            <h2>2005</h2>
            加拿大市場推廣傳奇名人堂(MHOL)在多倫多的特別典禮內宣布Michael Budman與Don Green成為其中一員，包括他們在內的其他優秀成員，乃是由200個商業社群人士於250個提名者名單內所作出的投票結果。而這個來自MHOL的肯定，被Roots的創辦人視為是極大的鼓勵，等同於是品牌發展的一個重要里程碑。
            <br><br>
        </div>
</section>