<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 3,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">綠色時尚</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            Roots特別發表了一個以環保概念為題的「綠色Roots(ROOTS GREEN) 」服裝系列。這系列的產品主要以有機棉，以及其它天然物料如竹、木、黃豆等為材料，是Roots不斷實踐對環保的承諾的見證。Roots深信時尚與環保可以共存，希望為顧客提供優質服飾之餘，可藉此系列推廣環保的訊息。
            <br><br>
            <h2>「綠色Roots」服裝系列分別以有機棉及有機彩棉為材料，實踐Roots的環保理念： </h2>
            <br>
            <h2>有機棉</h2>
            有機棉是以有機方法種植的棉，種植方法及用料不會對環境造成傷害。有機種植法能保持土壤肥沃，不需使用化學農藥、化學除鏽劑或合成化學肥料等，並不會對環境造成傷害。
            <br><br>
            [特點]：有效保護環境、不需使用化學農藥或合成化學肥料、使用天然除蟲劑。質感柔軟、容易處理。
            <br><br>
            <h2>
                有機彩棉
            </h2>
            有機彩棉的研發主要針對有毒染料對環境造成傷害的問題。有多款天然的色澤可供選擇。有機彩棉種植於植物的莖部，分別有棕色、紅棕色、米色、綠色及黃色。
            <br><br>
            [特點]：有效保護環境、由於不使用有毒染料及任何染劑，因此顏色不會自然轉淡；反之，清洗過後，顏色會有些微轉深。適合對化學劑敏感的皮膚、質感柔軟質感、容易處理。
        </div>
</section>