<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 5,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">皮件製造中心</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            Roots對於能夠生產皮革一直感到自豪，因為皮革對Roots而言是最重要的部份，亦是Roots的靈魂。於1973年品牌創立時，Roots主要是生產及售賣皮鞋，這為Roots與皮革產品建立了密不可分的關系，更為Roots以後的發展奠下基石。
            <br><br>
            對於Roots，聚光燈的焦點總放在皮革產品上，這不只是由於Roots的皮革產品於世界一直被受讚賞。更重要的是Roots不單為可以設計及生產那些皮革產品而自豪，對於生產這些皮革產品的地方亦同樣感到自豪。
            <br><br>
            Roots的每一件皮革產品都是由位於多倫多的Roots皮革設計及生產中心生產，這家生產中心由世界知名的工藝師家族 - Kowalewski負責營運，他們於波蘭起家，然後再由阿根廷移居到加拿大。Kowalewski 家族對Roots的變革及發展擔當著承先啟後的角色，對品牌有著重大的影響力。
            <br><br>
            1973年，當Roots的兩位創辦人邁克爾‧龐德曼(Michael Budman)及唐‧格林(Don Green) 在商討Roots的發展計劃時，他們想到要找一個造鞋技師，為他們店鋪拓展商機。最後，他們與位於College Street的Boa Shoe Company 主理人Jan Kowalewski會面。Boa Shoe Company是家屬於家庭式的小型公司，主要生產皮革產品，特別是皮鞋，是他們家族的傳統之一。
            <br><br>
            於1973年8月15日，Roots的第一間店鋪於多倫多Yonge Street開業，隨即廣受歡迎，於開業的第一個星期，每日平均賣出過百對皮鞋，為了應付愈來愈大的市場需求，他們知道他們需要的，是更大型，以及更先進的生產設備。於1973年10月，Jan與他的孩子決定，將Boa Shoe Company遷移到位於High Park地區的Sorauren Avenue。他們不斷生產Rootsnegative-heel shoes ，而生產中心內的每一寸地方都用作生產，當時於邁克爾及唐的辦公室內，更擺放著4至5部縫紉機以增加生產量。最後，由於Kowalewski家族成員與Roots的兩位創辦人合作無間，兩位創辦人決定收購Boa Shoe Company，將其並合為Roots的一部份。
            <br><br>
            Jan以及他的孩子Richard, Henry及Karl，與他們對皮革的熟練手藝成為了Roots成功的主要因素。於推出那廣受歡迎的negative-heel shoes的半年後，Kowalewski家族成員與Roots的兩位創辦人覺得他們需要一個生產中心，以增加生產量。
        </div>
</section>