<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 4,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">有機棉</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            Roots以100%有機棉所生產的服裝產品均受到支持環保的人士歡迎，而Roots亦以生產這些與環保相關的產品而自豪。其實早於1989年，Roots已開始嘗試以有機棉生產產品，而這寶貴的經驗更廣泛應用於往後所生產的環保產品上。
            <br><br>
            一般的棉花會噴灑以及消耗全球大約25%的農藥以及多於10%的殺蟲劑，而由於有機棉不會使用上述的化學制品，故可減少對地球上的空氣、水源以及土壤的影響。另外，有機耕種可幫助農民創造更多的農業職位。
            <br><br>
            Roots使用有機棉作為服裝產品的主要材料，是品牌實踐對環境保護的一個重要及長遠的承諾，Roots會繼續支持不同的環保組織及機構所舉辦的有關環保活動，務求喚起更多人對環境保護的關注。
        </div>
</section>