<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
  <h2>關於Roots</h2>
  <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
<div class="about-content">
    Roots 始於一個簡單的理念 – 享受純真簡樸的生活，愛惜大自然環境。品牌發展至今，一直為追求實踐這理念而努力。Roots是由生於底特律的邁克爾‧龐德曼(Michael Budman)及唐‧格林 (Don Green) 所創立。1963年，他們參加於加拿大阿爾貢金省立公園(Ontario's Algonquin Park)舉辦的一個夏季露營活動而相識，由於他們均很喜愛大自然，於往後幾年，他們均相約一起到阿爾貢金省立公園參加獨木舟及營火露營活動。憑著他們對大自然以及對阿爾貢金省立公園的鐘愛，對純真簡樸生活的追求，以及共同擁有的價值觀，於1973年，他們於阿爾貢金省立公園的湖畔創立了Roots。
    <br><br>
    Roots品牌商標中的動物海狸，是加拿大的象徵之一，海狸性格非常溫和，不會襲擊其它生物，喜歡潛水、築壩及搭巢。 牠們的溫和、勤奮以及活力正好代表著Roots的精神，故Roots以牠作為品牌商標並使用於產品設計當中。
    <br><br>
    對兩位品牌創辦人來說，Roots創立的目的是要將他們對加拿大大自然的鍾愛，以及對運動的喜好變成一系列有特色的皮革產品及運動服裝。這一切均旨在宣揚一個健康、積極的生活態度，以及對大自然環境的保護及尊重。由多倫多的鞋履生意開始，Roots逐步開發不同的產品，種類包括皮革袋子、外套、配飾、天然纖維服裝以及家居用品。為了設計及生產更有特色及更高質的皮革產品，Roots於加拿大多倫多開設了頂級皮具生產及設計中心。
    <br><br>
    由於擁有高質素的設計與手工工藝，以及創新的零售點設計與陳列，慢慢地Roots發展成一個世界知名的品牌，更成為多個國家及地區，包括加拿大、美國及英國，奧林匹克運動會隊伍的指定服裝供貨商。
    <br><br>
    多年來，盡管Roots的形像風格與產品不斷改變，但是那些於創立時已堅持著的基本原則依舊保留，包括品牌對工作伙伴及顧客的真誠的尊重及感謝。Roots更將這個原則向外延伸，變得更寬更廣；並將它應用到產品的設計及生產、對社會推動健康教育的支持、以及對環境保護的關注。相信這個早於1973年已抱持的品牌價值直到今天，甚至往後的日子，Roots仍會堅守著。
</div>
</section>