<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 1,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">名稱與商標</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            1973年的夏天，當綠適兩位創辦人邁克爾‧龐德曼(Michael Budman)及唐‧格林(Don Green)著手籌劃他們的經營計劃時，突然發現自己未為即將開業的天然皮革鞋店取名字。當然，還未有店鋪名字之前，品牌商標也未出現。
            <br><br>
            幸運地，當時唐正好在翻閱朋友的生物學教科書，突然被""roots""(樹的根部)這個字吸引著，他喜歡""roots""所代表的大自然的含義，更即時想起我們的腳其實就好像是樹木的根部，因為它們同樣可與大地直接接觸。而邁克爾亦喜歡""roots""這個字的發音及形態，以及它的內在意思。就此，他們決定以""Roots""作為品牌及店鋪的名字，而這名字便從此代表著品牌那恆久的實力及吸引力。
            <br><br>
            至於品牌商標，是由兩位70年代加拿大著名平面設計師 Heather Cooper 及 Robert Burns 所設計，他們以 Cooper 字體加上加拿大的像征之一海狸為素材，設計出綠適的品牌商標。恰巧兩位品牌創辦人起初也有意以海狸作品牌商標，因為其中一個於阿爾貢金省立公園(Ontario's Algonquin Park) 舉辦露營活動的組織 Camp Tamakwa 是以海狸作品牌商標，而兩位品牌創辦人就是因為參加該組織的夏季露營活動而相識，並從此愛上並對阿爾貢金省立公園產生了深厚的感情。故此，他們便決定以海狸作為品牌商標。而跟品牌名字一樣，海狸商標同樣經得起時間的考驗，成為加拿大甚至國際知名的品牌。
        </div>
</section>