<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 2,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>
<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
        <h2 class="about-title">環保與承諾</h2>
        <img class="about-banner" src="https://www.roots.com.tw/global/front/images/temp/banner-about-1.jpg" width="100%" alt="">
        <div class="about-content">
            自1973年品牌成立以來，Roots一直以推動環保為主要的企業責任，對於推動環保教育一向不遺餘力，而環境保護更是Roots的主要品牌價值。故此，Roots不斷努力以減少對環境所造成的影響，即使早於1973年成立，Roots對保護環境依然抱有強烈的熱忱，透過於營運上的不斷創新，積極從事環境保護的工作。
            <br><br>
            <h2>Roots為何視保護環境為品牌的重要價值之一</h2>
            Roots的創立，是基於兩位創辦人邁克爾‧龐德曼(Michael Budman)及唐‧格林(Don Green)對大自然的鍾愛，以及對環境保護抱有的強烈熱忱，故品牌發展至今，關愛地球，保護環境一直是Roots的重要品牌價值。
            <br><br>
            <h2>問：生態環境對Roots來說是否重要？</h2>
            答：生態環境對Roots來說是非常重要。Roots會以保護環境為社會的一個重要課題，認為環境保護對每間機構，甚至每個人來說都是義不容辭的，應及早減少對環境所產生的影響。早在全球暖化未成為每個人所關注的話題前，Roots已注意到環境保護的重要性，不但支持有關環境保護的倡議，並與多個世界知名的環境保護學者，聯同各國政府、私人機構以及非牟利團體參與多個保護環境的活動。
            <br><br>
            <h2>問：生態環境對Roots來說是否重要？</h2>
            問：Roots是怎樣實踐對保護環境的承諾？
            答：Roots會以不同的方法實踐對保護環境的承諾。由產品設計及生產，到零售店的裝修及設計；由對環保團體於財政上的支持，到內部員工的培訓，以及對顧客的宣傳及教育等各方面皆不遺餘力，無論減少浪費抑或是資源的運用上，Roots都是環境保護的擁護 者。
            <br><br>
            <h2>問：Roots有否生產與環保相關的產品？</h2>
            答：Roots每季皆不斷開發及生產各種與環保相關的產品，如選用有機棉為衣服的主要材料，以及其它天然物料如竹、木、黃豆等均被廣泛使用。另外，Roots亦推出了一個名為「綠色Roots」 (ROOTS GREEN)的環保概念服飾系列，產品包括以有機棉生產的T恤、手提袋以及帽子等。
        </div>
</section>