<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "vendors/form" %>
<%#= javascript_include_tag "units/popup.js" %>
    <script>
      (function() {
        var popupContent = $(".layout-personal-info").html();
        HFeature.popup(popupContent);
        $("body").on('click','.open-personal-info', function() {
          $('.layout-view').addClass("is-locking").animate({ scrollTop:(0)}, 300);
          HFeature.popupOpen();
          $(".layout-popup-wrap").addClass("style-absolute");
        });

      $("body").on('click','.layout-popup-background,.style-nocolor.layout-popup-wrap,.btn-popup-close', function() {
        $("body").find(".is-locking").removeClass("is-locking");
        $('.layout-view').animate({ scrollTop:( $('.layout-view-inner').height() )}, 300);
        HFeature.popupClose();
      });
      
      $("body").on('click','.do-check-agree', function() {
        $("body").find("#agreePrivate").prop("checked", true);
      });
      $("body").on('click','.do-uncheck-agree', function() {
        $("body").find("#agreePrivate").prop("checked", false).removeProp(check);
      });

        var swiperTab = new Swiper('.swiper-container', {
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 3,
            initialSlide: 9,//this page number
            loopAdditionalSlides: 1,
            paginationClickable: true,
            spaceBetween: 0,
            centeredSlides: true,
            autoplayDisableOnInteraction: false
        });
        
      })()
    </script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>

<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
  <h2 class="about-title style-color">聯絡我們</h2>
  <p>若對於本公司有任何問題，歡迎留下您的訊息，請填妥你的聯絡資訊，我們會儘快回覆您，或撥打我們的客服專線。</p>
<form>
  <div class="form-block is-error">
    <label class="module-form-label" for="name"><i class="shape-star"></i>姓名</label>
    <input type="text" name="name" class="module-form-input" placeholder="請填寫真實姓名" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block is-error">
    <label class="module-form-label" for="email"><i class="shape-star"></i>E-MAIL</label>
    <input type="text" name="email" class="module-form-input" placeholder="請輸入E-MAIL" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block is-error">
    <label class="module-form-label" for="email"><i class="shape-star"></i>行動電話</label>
    <input type="text" name="email" class="module-form-input" placeholder="請輸入行動電話" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block">
    <label class="module-form-label style-sub" for="category"><i class="shape-star"></i>主旨</label>
    <select class="module-form-select style-sub" name="category">
      <option value="1">訂單相關問題</option>
      <option value="2">結帳相關問題</option>
      <option value="3">送貨相關問題</option>
      <option value="4">退貨相關問題</option>
      <option value="5">網站系統操作問題</option>
      <option value="6">Fans/VIP會員相關問題</option>
      <option value="7">商品資訊詢問</option>
      <option value="8">櫃點相關問題</option>
      <option value="9">其他問題</option>
    </select>
  </div>
  <div class="form-block is-error">
    <label class="module-form-label" for="msg"><i class="shape-star"></i>留言訊息</label>
    <textarea name="msg" class="module-form-textarea" placeholder=""></textarea>
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <!-- <div class="form-block form-block-verify is-error">
    <label class="module-form-label" for="verify"><i class="shape-star"></i>驗證碼</label>
    <input type="text" name="verify" class="module-form-input" placeholder="" />
    <div class="verify-block">
    <img src="../../assets/images/sample-verify.jpg" alt="驗證碼"/>
    <i class="fa fa-refresh"></i></div>
    <p class="form-warning-text">錯誤訊息</p> 
  </div>-->
  <div>
    <label class="module-radio">
    <input id="agreePrivate" type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>同意<a class="open-personal-info uline">個人資料使用聲明</a></span>
    </label>
    <p class="warning-color">*為必填欄位，請填妥欄位資訊。</p>
  </div>

  <div class="module-btn"><a href="#">確認送出</a></div>
  <!-- <p class="appendix-text">客服專線：<span class="warning-color">0800-698-800</span></p> -->
</form>
</section>

<section class="layout-personal-info" style="display:none;">
  <%= render :partial => "/partial/layout-personal-info" %>
    <div class="tcenter">
      <div class="btn-popup btn-popup-close do-check-agree"><a>同意</a></div>
      <div class="btn-popup btn-popup-close style-gray do-uncheck-agree"><a>不同意</a></div>    
    </div>
</section>
