<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "個資聲明" %>

  <section class="layout-content personal-info">
  <h2>個人資料使用聲明：</h2>
  <p>閣下於本顧客資料卡填報指定的個人資料，即表示您同意英屬維京群島商利時有限公司台灣分公司(下稱「本公司」或「我們」)得於本公司存續期間處理及利用您的個人資料，以便就產品、服務和其他推廣活動與您聯絡。 
  本公司得於其海內外附屬機構、服務供應商及其他單位分享您的個人資料。關於閣下於本網站上填報的個人資料，閣下可以向本公司行使以下權利：</p>
  <ul>
     <li>查詢或請求閱覽您的個人資料</li>
     <li>請求製給您個人資料的複製本</li>
     <li>請求補充或更正您的個人資料</li>
     <li>請求停止蒐集、處理或利用您的個人資料</li>
     <li>請求刪除您的個人資料。</li>
   </ul> 
  <p>如閣下不願意提供個人資料，或所提供之個人資料不正確或不完整，可能會影響您參與本公司Roots忠誠計畫之資格。</p> 
  <p>如欲在本公司聯絡或郵寄推廣名錄上刪除您的姓名，又或有任何關於本顧客資料戶與個人資料利用的查詢， 
  請登入官方網站</p>
  <p class="mb1"><a href="https://www.roots.com.tw/">https://www.roots.com.tw/</a></p>
  <h2>Personal Information Collection Statement:</h2>
  <p>By providing the personal information requested in this form, you agree that BRANDED LIFESTYLE ENTERPRISES LIMITED, TAIWAN BRANCH (“Company” or “We”) may process and use your personal information for marketing and promotion purposes.</p> 
  <p>We reserve the right to share the personal information collected and stated on this form with our onshore and offshore affiliates, service providers and other agencies. You may exercise the following rights:</p>
  <ul>
    <li>request to check or view,</li>
    <li>request for duplicates of,</li>
    <li>request us to supplement or modify,</li>
    <li>request us to cease to collect, dispose of or use, or</li>
    <li>delete the personal information you provided to us in this form.</li>
  </ul>
  <p>Refusal to provide or submission of inaccurate or incomplete personal information may affect your eligibility to participate in our Roots loyalty program.</p> 
  <p>If you wish to be removed from the Company’s contact and mailing list or for other inquiries about this form and how the personal information is used, please visit</p> 
  <p><a href="https://www.roots.com.tw/">https://www.roots.com.tw/</a></p>
</section>