<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "units/store-map" %>
<%= javascript_include_tag "units/gps" %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var storeLat = 25.0356839;
    var storeLng = 121.56681;

    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 8,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>

<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
  <h2 class="about-title">
  店鋪查詢
  <div class="module-btn clearfix style-smallright style-light "><a href="stores.html">重新搜尋</a></div>
  </h2>
  <!-- <i class="shape-line"></i> -->
  <p>搜尋結果</p>
  <!-- <div id="store-map"> Loading...</div> -->
  <% 50.times do%>
<a class="result-item" href="store_detail.html">
  <i role="img" class="fa fa-angle-right"></i>
  <h2>XX店</h2>
  <!-- <p class="style-small">營業時間：11:00 - 23:00</p> -->
  <!-- <p class="style-small">電話：<a tel="+886227238951">(02)2723-8951</a></p> -->
  <p class="style-small">地址：<!-- <a href="https://www.google.com.tw/maps/place/@25.0356839,121.56681,17z/data=!3m1!4b1!4m2!3m1!1s0x3442abb0bd26651b:0xdbcac58a3fe3803a">110 台北市信義區松壽路18號</a> -->110 台北市信義區松壽路18號110 台北市信義區松壽路18號</p>
  <i class="shape-line"></i>
</a>
  <% end %>
</section>
