<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "units/store-map" %>
<%= javascript_include_tag "units/gps" %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
    var storeLat = 25.0356839;
    var storeLng = 121.56681;
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 8,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於Roots" %>

<%= render :partial => "/partial/layout-abouttab" %>

<section class="layout-content">
  <h2 class="about-title">
  店鋪查詢
  <div class="module-btn clearfix style-light style-smallright"><a href="store_list.html">回列表</a></div>
  </h2>
  <!-- <i class="shape-line"></i> -->
  <!-- <p>搜尋結果</p> -->
  <h2>XX店</h2>
  <p class="style-small">營業時間：11:00 - 23:00</p>
  <p class="style-small">電話：<a tel="+886227238951">(02)2723-8951</a></p>
  <p class="style-small">地址：<a href="https://www.google.com.tw/maps/place/@25.0356839,121.56681,17z/data=!3m1!4b1!4m2!3m1!1s0x3442abb0bd26651b:0xdbcac58a3fe3803a">110 台北市信義區松壽路18號</a></p>
  <div id="store-map"> Loading...</div>
<!--   <i class="shape-line"></i>
  <p>商店位置搜尋</p>
  <p class="style-small">請輸入位置，我們將會為您顯示最近的商店。</p>
  <i class="shape-line"></i>
  <div id="btn-search-store" class="module-btn not-link">搜尋附近商店</div>
  <i class="shape-line"></i>
  <div class="form-blockwrap clearfix">
    
    <div class="form-block style-inline">
    <p>國家</p>
      <select class="module-form-select style-sub" name="category">
        <option value="0">台灣</option>
        <option value="1">台灣</option>
      </select>
    </div>
    <div class="form-block style-inline">
      <p>地區</p>
      <select class="module-form-select style-sub" name="category">
        <option value="0">基隆</option>
        <option value="1">台北</option>
      </select>
    </div>
    <div class="form-blocke">
      <p>分店</p>
      <select class="module-form-select style-sub" name="category">
        <% 50.times do %>
        <option value="0">板橋大遠百店</option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="module-btn clearfix"><a href="store_detail.html">搜尋商店</a></div> -->
</section>
