<% @og = [{
    property: "og:title",
    content: "Hconnect Mobile"
  },{
    property: "og:type",
    content: "website"
  },{
    property: "og:url",
    content: ""
  },{
    property: "og:image",
    content: "assets/images/share.jpg"
  },{
    property: "og:site_name",
    content: "Hconnect"
  },{
    property: "og:description",
    content: "Description"
  },{
    property: "og:locality",
    content: "Taipei"
  },{
    property: "og:country-name",
    content: "Taiwan"
}] %>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<meta name="Title" content="Roots" />
<meta name="Author" content="" />
<meta name="Description" content="Description" />
<!-- iOS -->
<%#= render :partial => "head-ios-homescreen-seting" %>
<!-- Android -->
<%#= render :partial => "head-android-homescreen-seting" %>
<% @og.each do |og| %>
  <meta property="<%= og[:property] %>" content="<%= og[:content] %>" />
<% end %>
<link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>ROOTS</title>