<!-- Allow web app to be run in full-screen mode. -->
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- Make the app title different than the page title. -->
<meta name="apple-mobile-web-app-title" content="iOS 8 web app">

<!-- Configure the status bar. -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Disable automatic phone number detection. -->
<meta name="format-detection" content="telephone=no">

<!-- ICONS -->

<!-- iPhone 6 Plus icon -->
<link href="https://placehold.it/180" sizes="120x120" rel="apple-touch-icon-precomposed">

<!-- iPhone retina icon (iOS < 7) -->
<link href="https://placehold.it/114" sizes="114x114" rel="apple-touch-icon-precomposed">

<!-- iPhone non-retina icon (iOS < 7) -->
<link href="https://placehold.it/57" sizes="57x57" rel="apple-touch-icon-precomposed">

<!-- STARTUP IMAGES -->

<!-- iPhone 6 Plus portrait startup image -->
<link href="https://placehold.it/1242x2148" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" rel="apple-touch-startup-image">
 
<!-- iPhone 6 Plus landscape startup image -->
<link href="https://placehold.it/1182x2208" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" rel="apple-touch-startup-image">
 
<!-- iPhone 6 startup image -->
<link href="https://placehold.it/750x1294" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
<!-- iPhone 5 startup image -->
<link href="https://placehold.it/640x1096" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
<!-- iPhone < 5 retina startup image -->
<link href="https://placehold.it/640x920" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
<!-- iPhone < 5 non-retina startup image -->
<link href="https://placehold.it/320x460" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">