<%= javascript_include_tag "vendors/fastclick" %>
<%= javascript_include_tag "vendors/jquery.min" %>
<%= javascript_include_tag "vendors/svg4everybody.min" %>
<%= javascript_include_tag "initialization" %>
<%= javascript_include_tag "vendors/menu" %>
<%= javascript_include_tag "vendors/header" %>
<%= javascript_include_tag "vendors/footer" %>
<%= yield :specific_javascript %>