<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag "font-awesome/css/font-awesome.min" %>
<link href='https://fonts.googleapis.com/css?family=Coustard:400,900' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "global" %>
<%= yield :specific_stylesheet %>