<div class="layout-searchbar">
  <div class="form-block">
    <!-- <label class="module-form-label style-block" for="email"><i class="shape-star"></i>E-MAIL</label> -->
    <input type="text" name="email" class="module-form-input" placeholder="商品搜尋" />
    <!-- <p class="form-warning-text">此郵件地址並沒有註冊過</p> -->
  </div>
</div>