    <% @guidePage = [{
      title: "退換貨申請",
      href: "guide1.html",
    },{
      title: "隱私權保護",
      href: "guide2.html",
    },{
      title: "購物需知",
      href: "guide3.html",
    },{
      title: "送貨說明",
      href: "guide4.html",
    },{
      title: "常見問題",
      href: "guide5.html",
    },{
      title: "尺寸指南",
      href: "guide6.html",
    },{
      title: "會員條款",
      href: "guide7.html",
    }] %>
<div id="slider-tabs" class="swiper-container">
        <div class="swiper-wrapper">
        <% @guidePage.each_with_index do |guidePage,index| %>
            <div class="swiper-slide">
            <a href="<%= guidePage[:href] %>"><%= guidePage[:title] %></a>
            <%#= index %>
            </div>
        <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>