<header role="heading" class="layout-header">
  <h1 class="layout-header-center">
    <a href="/views/index/index.html"><i class="icon-logo"></i></a>
  </h1>

  <a class="layout-header-right" role="button" href="/views/product/product-cart.html">
    <i class="icon-bag"></i>
    <span class="cart-num">8</span>
  </a>

  <div class="layout-header-left" role="button">
    <a href="/views/member/login.html">
      <i class="icon-user"></i>
      <a href="/views/mypage/mypage.html"><span class="welcome-msg">HI!<span>ROOTS好友</span></span></a>
    </a>
  </div>
</header>