
    <% @aboutPage = [{
      title: "關於 Roots",
      href: "about.html",
    },{
      title: "名稱與商標",
      href: "about2.html",
    },{
      title: "環保與承諾",
      href: "about3.html",
    },{
      title: "綠色時尚",
      href: "about4.html",
    },{
      title: "有機棉",
      href: "about5.html",
    },{
      title: "皮件製造中心",
      href: "about6.html",
    },{
      title: "榮譽與獎項",
      href: "about7.html",
    },{
      title: "社區支持",
      href: "about9.html",
    },{
      title: "店鋪查詢",
      href: "stores.html",
    },{
      title: "聯絡我們",
      href: "contact.html",
    }] %>
<div id="slider-tabs" class="swiper-container">
        <div class="swiper-wrapper">
        <% @aboutPage.each_with_index do |aboutPage,index| %>
            <div class="swiper-slide">
            <a href="<%= aboutPage[:href] %>"><%= aboutPage[:title] %></a>
            <%#= index %>
            </div>
        <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>
