    <% @mypagePage = [{
      title: "我的帳戶",
      href: "mypage.html",
    },{
      title: "願望清單",
      href: "mypage-wishlist.html",
    },{
      title: "我的點數",
      href: "mypage-point.html",
    },{
      title: "修改會員資料",
      href: "mypage-edit.html",
    },{
      title: "瀏覽紀錄",
      href: "mypage-history.html",
    },{
      title: "訂單管理",
      href: "mypage-order-list.html",
    }] %>
<div id="slider-tabs" class="swiper-container">
        <div class="swiper-wrapper">
        <% @mypagePage.each_with_index do |mypagePage,index| %>
            <div class="swiper-slide">
            <a href="<%= mypagePage[:href] %>"><%= mypagePage[:title] %></a>
            <%#= index %>
            </div>
        <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>