<div class="layout-menu">
  <i class="icon-logo-large"></i>

<nav class="layout-menu-list contentHolder">
    <ul class="menu-main-list"> <!--Add This Class-->
      
        <li class="layout-menu-list-item">
          
            <a href="#">
              <span>NEW ARRIVALS</span>
            </a>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">MEN</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">WOMEN</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">CHILDREN</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">ACCESORIES</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">SHOES</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">BAGS</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory1</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory2</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory3</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory4</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory5</span>
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem">
                  <a href="/views/product/product-list.html">
                    <span>subcategory6</span>
                  </a>
                </li>
              
            </ul>
          
        </li>
        <li class="layout-menu-list-item have-sub-item">
          
            <span class="trigger">OUTLET</span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              
                <li class="layout-menu-list-subitem have-secondsub-item"><!--Add This Class"have-secondsub-item"-->
                  <a>
                    <span class="trigger2nd">2nd-subcategory1<i class="fa fa-angle-right" aria-hidden="true"></i></span><!-- Add This i -->
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem have-secondsub-item">
                  <a>
                    <span class="trigger2nd">2nd-subcategory2<i class="fa fa-angle-right" aria-hidden="true"></i></span><!-- Add This i -->
                  </a>
                </li>
              
                <li class="layout-menu-list-subitem have-secondsub-item">
                  <a>
                    <span class="trigger2nd">2nd-subcategory3<i class="fa fa-angle-right" aria-hidden="true"></i></span><!-- Add This i -->
                  </a>
                </li>
              
            </ul>
          
        </li>
        <li class="layout-menu-list-item ">
          
            <a href="#">
              <span>NEWS ROOM</span>
            </a>
          
        </li>
      
    </ul>

    <ul class="menu-second-sublist"><!-- Remind: Every .menu-second-sublist is a sibling of main menu -->
    <li class="btn-backmainmenu"><i class="fa fa-angle-left" aria-hidden="true"></i>2nd-subcategory1</li>
      <% 20.times do %>
      <li><a href="#">2nd-sub1-item</a></li>
      <% end %>
    </ul>

    <ul class="menu-second-sublist">
    <li class="btn-backmainmenu"><i class="fa fa-angle-left" aria-hidden="true"></i>2nd-subcategory2</li>
      <li><a href="#">2nd-sub2-item</a></li>
      <li><a href="#">2nd-sub2-item</a></li>
      <li><a href="#">2nd-sub2-item</a></li>
    </ul>

    <ul class="menu-second-sublist">
    <li class="btn-backmainmenu"><i class="fa fa-angle-left" aria-hidden="true"></i>2nd-subcategory3</li>
      <li><a href="#">2nd-sub3-item</a></li>
      <li><a href="#">2nd-sub3-item</a></li>
      <li><a href="#">2nd-sub3-item</a></li>
    </ul>

  </nav>

</div>