<div class="layout-tabbar">
<ul class="layout-tabbar-list">
    
      <li role="button" class="layout-tabbar-list-item do-openmenu">
        <a class="layout-tabbar-list-link" href="/views/product/product-list.html">
          <i role="img" class="icon-hamburger"></i>
          <span class="layout-tabbar-list-name">商品列表</span>
        </a>
      </li>
    
      <li role="button" class="layout-tabbar-list-item">
        <a class="layout-tabbar-list-link" href="/views/about/stores.html">
          <i role="img" class="icon-marker"></i>
          
          <span class="layout-tabbar-list-name">店鋪查詢</span>
        </a>
      </li>
    
      <li role="button" class="layout-tabbar-list-item">
        <a class="layout-tabbar-list-link" href="">
          <!-- <img class="icon-beaver" src="/assets/images/img-beaver.png" alt=""> -->
          <!-- <img class="icon-beaver" src="/assets/images/img-beaver-02.gif" width="45ox" alt=""> -->
          <img class="icon-beaver" src="/assets/images/img-beaver-welcome.gif" style="margin:4px 0;" width="50ox" alt="">
          
          <span class="layout-tabbar-list-name">LIVE HELP</span>
        </a>
      </li>
    
      <li role="button" class="layout-tabbar-list-item">
        <a class="layout-tabbar-list-link" href="/views/mypage/mypage-wishlist.html">
          <i role="img" class="icon-star"></i>
          <span class="cart-num">99+</span>
          <span class="layout-tabbar-list-name">願望清單</span>
        </a>
      </li>
    
      <li role="button" class="layout-tabbar-list-item do-goto-top">
        <a class="layout-tabbar-list-link">
          <i role="img" class="icon-top"></i>
          <span class="layout-tabbar-list-name">回到頂端</span>
        </a>
      </li>
  </ul>
</div>
<div class="layout-tabbar-foot">
  <div class="layout-tabbar-foot-head style-font-roots"><i class="fa fa-angle-down"></i><span>About roots</span></div>
  <div class="layout-tabbar-foot-body">
    <ul class="layout-tabbar-foot-list">
      <li>
        <p><i class="icon-logo-footer"></i>關於品牌</p>
        <ul class="style-listinline clearfix">
          <li><a href="/views/about/about.html">關於 Roots</a></li>
          <li><a href="/views/about/about.html">名稱與商標</a></li>
          <li><a href="/views/about/about.html">環保與承諾</a></li>
          <li><a href="/views/about/about.html">綠色時尚</a></li>
          <li><a href="/views/about/about.html">有機棉</a></li>
          <li><a href="/views/about/about.html">皮件製造中心</a></li>
          <li><a href="/views/about/about.html">榮譽與獎項</a></li>
          <li><a href="/views/about/about.html">社區支持</a></li>
        </ul>
      </li>
      <li>
        <p><i class="icon-question"></i>購物說明</p>
        <ul class="style-listinline clearfix">
          <li><a href="/views/mypage/mypage-order-list.html">訂單管理</a></li>
          <li><a href="/views/guide/guide1.html">退換貨申請</a></li>
          <li><a href="/views/guide/guide2.html">隱私權保護</a></li>
          <li><a href="/views/guide/guide3.html">購物須知</a></li>
          <li><a href="/views/guide/guide4.html">送貨說明</a></li>
          <li><a href="/views/guide/guide5.html">常見問題</a></li>
          <li><a href="/views/guide/guide6.html">尺寸指南</a></li>
          <li><a href="/views/guide/guide7.html">會員條款</a></li>
        </ul>
      </li>
      <li>
        <p><i class="icon-bullet"></i>聯絡我們</p>
        <ul>
          <li><a href="/views/about/contact.html">Branded Lifestyle Enterprises Limited Taiwan Branch</a></li>
          <li><a href="/views/about/contact.html">地址　台北市內湖區瑞光路70號</a></li>
          <li><a href="/views/about/contact.html">電話　0800-001-973</a></li>
        </ul>
      </li>
      <li>
        <p><i class="icon-mail"></i>訂閱電子報</p>
        <div class="form-block form-block-epaper">
          <input type="text" name="email" class="module-form-input" placeholder="請輸入E-mail" />
          <a class="btn-send-epaper">送出</a>
          <a class="btn-send-epaper style-o">取消訂閱</a>
        </div>
      </li>
    </ul>
    <div class="layout-tabbar-foot-listfoot">Roots Taiwan @@ 2016</div>   
  </div>
</div>