<div id="select-addr-container">
    <div id="container" class="container-selection clearfix">
        <div class="col">
            <span class="warning-color2">도 를 입력해 주세요</span>
            <label class="module-form-label style-sub">
                <select class="chkDefault module-form-select select-style-third-one style-sub" name="pop-ddlState" id="pop-ddlState">
                    <option value="">@FormValidation.PleaseSelect</option>
                        <% 6.times do%>
                        <option value="@item.Code">@item.StateName</option>
                        <% end %>
                </select>
            </label>
        </div>
        <div class="col">
            <span class="warning-color2">도 를 입력해 주세요</span>
            <label class="module-form-label style-sub">
                <select class="chkDefault module-form-select select-style-third-one style-sub" name="pop-ddlCity" id="pop-ddlCity">
                    <option value="">@FormValidation.PleaseSelect</option>
                </select>
            </label>
        </div>
        <div class="col">
            <input type="text" id="addr-input" placeholder="Enter address here." class="style-underline" value="" />
        </div>
        <div class="col">
            <div class="module-btn" id="search-addr-btn" title="">SEARCH</div>
        </div>
    </div><!-- end of container -->
    <div id="addr-result-table" class="container-table">
        <table>
            <thead>
                <tr>
                    <td>우편번호 (zipcode)</td>
                    <td>도로명주소 (street)</td>
                    <td>지번주소 (land address)</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody>
                <% 60.times do %>
                <tr>
                    <td>우편번호 (zipcode)</td>
                    <td>도로명주소 (street)</td>
                    <td>지번주소 (land address)</td>
                    <td><span class="btn-tick"><i></i></span></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>