<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/lookbook" %>
<% end %>
<% content_for :specific_javascript do %>
  <%#= javascript_include_tag "units/lookbook" %>
<script>

  (function() {
      $("body").on('change','.lookbook-volselect', function() {
      var newVol = $(this).val();
      alert( "go to vol." + newVol );
    });
  })()

</script>
<% end %>

<section class="layout-content">

  <h2>Lookbook</h2>
  <div class="form-block">
    <select class="module-form-select style-wborder lookbook-volselect" name="vol">
      <option value="0" >NO.1 2016/01/19</option>
      <option value="1" >option</option>
    </select>
  </div>
  <div class="lookbook-describe">
    <h3>2015 Fashion Show</h3>
    <p class="warning-color4 style-small">Spring/Summer</p>
  </div>
  <ul class="lookbook-list">
    <% 11.times do %>
    <li class="lookbook-item">
      <a href="lookbook-detail.html"><img src="https://www.roots.com.tw/data/images/Products/2016/BANNER/2015%20SS%20Banner12.jpg" width="100%" alt=""></a>
    </li>
    <% end %>
  </ul>

</section>