<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/lookbook" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/jquery.touchSwipe" %>
<script>
(function() {

  //link to other pages
  var prevItemUrl = "lookbook-detail.html";
  var nextItemUrl = "lookbook-detail.html";
  $("body").swipe( {
    allowPageScroll:"horizontal",
    swipeLeft:function(event, direction, distance, duration, fingerCount) {
        popAlert("go to Next item");
        // window.location.href = prevItemUrl;
    },
    swipeRight:function(event, direction, distance, duration, fingerCount) {
        popAlert("go to Prev item");
        // window.location.href = nextItemUrl;
    }
  });
  $(".lookbook-detailimg").on("click", function () {
      popAlert("go to Next item");
      // window.location.href = prevItemUrl;
  });
  $("body").on('change','.lookbook-volselect', function() {
    var newVol = $(this).val();
    alert( "go to vol." + newVol );
  });

})()
</script>

<% end %>

<section class="layout-content">

  <h2>Lookbook</h2>
  <div class="form-block">
    <select class="module-form-select style-wborder lookbook-volselect" name="vol">
      <option value="0" >NO.1 2016/01/19</option>
      <option value="1" >option</option>
    </select>
  </div>
  <div class="lookbook-describe">
    <a href="lookbook-list.html">
      <h3>2015 Fashion Show</h3>
      <p class="warning-color4 style-small">Spring/Summer</p>
    </a>
  </div>
<!--   <a href="lookbook-detail.html" style="display: block;"> -->
  <a class="lookbook-detailimg-wrap">
      <img src="https://www.roots.com.tw/data/images/Products/2016/BANNER/2015%20SS%20Banner12.jpg" class="lookbook-detailimg" width="100%" style="display: block;" alt="">
  </a>
<!--   </a> -->
  <p class="lookbook-detailtext">文字敘述...文字敘述...文字敘述...文字敘述...文字敘述...文字敘述...文字敘述...文字敘述...</p>

  <ul class="product-list">
    <% 11.times do %>
      <li class="product-list-item">
          
          <a href="/views/product/product-detail.html">
          <div class="product-list-item-img">
              <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt="" width="100%">
              <!-- <div class="product-list-item-exclusive">EXCLUSIVE</div> -->
          </div>
              <!-- <p class="product-list-item-redmark">官網獨家首賣歐歐歐歐!!!</p> -->
              <p class="product-list-item-name">MOTO-ROOTS73海狸短袖POLO衫</p>
              <p class="product-price"><!--add class .is-sale to change style-->
                  <span class="origin-price prefix-dollarsign">19999</span>
                  <span class="sp-price prefix-dollarsign">14999</span>
              </p>
          </a>
      </li>
    <% end %>
  </ul>

</section>