<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "units/mypage-order-list" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>
<%= render :partial => "/partial/layout-mypagetab" %>

<section class="layout-content">
<h2>訂單查詢</h2>
<% 15.times do %>
  <div class="order-block">
      <p>訂單編號：<span class="warning-color">A19110003</span></p>

      <p>訂單時間：2016/2/28</p>

      <p>訂單金額：<span class="prefix-dollarsign">3320</span></p>

      <p>訂單狀態：<i class="shape-pentaarrow style-red"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i>處理中</p>
      <a href="mypage-order-detail.html" class="view-button"><img src="../../assets/images/icon-search.svg" alt=""/> 查看明細</a>
  </div>
<% end %>
</section>