<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>
<%= render :partial => "/partial/layout-mypagetab" %>

<section class="layout-content">
<h2>瀏覽紀錄</h2>
<% 35.times do %>
  <div class="mypagelist-product-item">
    <a href="/views/product/product-detail.html?origin=history"><img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" width="100%" alt=""></a>
  </div>
<% end %>
</section>