<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
    <%= stylesheet_link_tag "units/mypage-order-detail" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>
<%= render :partial => "/partial/layout-mypagetab" %>

<section class="layout-content">
<h2>訂單明細</h2>
<div class="content">
    <div class="block">
        <div class="order-detail">
            <p>訂單編號：A19110003</p>

            <p>訂單時間：2016/2/28</p>

            <p>訂單金額：<span class="prefix-dollarsign">3320</span></p>

            <p>訂單狀態： <i class="shape-pentaarrow style-red"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i><i class="shape-pentaarrow"></i>處理中</p>
        </div>
    </div>
    <i class="shape-line"></i>


    <div class="cart-list">
        <% 3.times do %>
        <div class="cart-item">
            <div class="item-info">
                <div class="item-image">
                    <img src="https://www.roots.com.tw/data/images/Products/2016/Breat%E6%9A%AB%E6%94%BE%E4%B8%8A%E5%82%B3%E5%9C%96/0302/RC25020183Q102_a.jpg" alt=""/></div>

                <div class="item-detail">
                    <p>&lt;官網獨家首賣 &gt;</p>

                    <p>MOTO-滿版印刷短袖T恤</p>

                    <p class="serial-color">RC03023487</p>

                    <p>尺寸 XS</p>
                </div>
            </div>

            <i class="shape-line"></i>

            <div class="block">
                <div class="item-summary">
                    <span class="summary-label">數量</span>
                    <input type="text" disabled="disabled" class="module-form-input" value="1"/>

                    <span class="summary-label">顏色</span>

                    <div class="btn-sq btn-sq-color btn-sq-color-action"
                         style="background-color: #777777;"></div>

                    <p class="product-price is-sale">
                    <span class="origin-price">$1680</span>
                    <span class="sp-price">$1680</span>
                    </p>
                </div>
            </div>
            <i class="shape-line"></i>
        </div>
        <% end %>

        <div class="block clearfix">
            <div class="discount-describe warning-color style-small" style="float:left;padding-bottom: 1em;">
                使用COUPON hdfjklsghdfjkl 折抵50元<br/>
                使用COUPON hdfjklsghdfjkl 折抵50元<br/>
                使用COUPON hdfjklsghdfjkl 折抵50元
            </div>
            <div class="total-record" style="float:right;">
                <div class="record-label">
                    <label>商品小計</label>
                    <label>COUPON抵扣</label>
                    <label>點數抵扣</label>
                    <label>運費</label>
                    <label>合計訂單金額</label>
                </div>

                <div class="record-cash">
                    <label class="prefix-dollarsign">3320</label>
                    <label class="prefix-dollarsign warning-color">-0</label>
                    <label class="prefix-dollarsign warning-color">-0</label>
                    <label class="prefix-dollarsign">0</label>
                    <label class="prefix-dollarsign">3320</label>
                </div>
            </div>
        </div>

        <i class="shape-line"></i>

        <div class="block">
            <div class="order-list-title">
                <h3>收件人資訊</h3>
            </div>

            <div class="simple-form -contact">
                <div class="title-label">
                    <label>寄件人</label>
                    <label>連絡電話</label>
                    <label>E-MAIL</label>
                    <label>地址</label>
                </div>

                <div class="content-label">
                    <label>DuDu Kevin</label>
                    <label>0987654321</label>
                    <label>kevin61225@yahoo.com.tw</label>
                    <label>TEST ADDRESS</label>
                </div>
            </div>
        </div>
        <i class="shape-line"></i>

        <div class="block">
            <div class="order-list-title">
                <h3>付款方式</h3>
            </div>
            <p>信用卡付款</p></div>
        <i class="shape-line"></i>

        <div class="block">
            <div class="order-list-title">
                <h3>發票資訊</h3>
            </div>


            <div class="simple-form">

                <div class="title-label">
                    <label>三聯式發票</label>
                    <label>統一編號</label>
                    <label>發票抬頭</label>
                </div>

                <div class="content-label">
                    <label> &nbsp;</label>
                    <label>12345678</label>
                    <label>多瑪太平洋</label>
                </div>
            </div>
        </div>
        <i class="shape-line"></i>

        <div class="buttons">
            <div id="query-item" class="module-btn style-black"><a href="">回訂單查詢</a></div>
        </div>
    </div>

</div>