<% @exp = "69.9" %>
<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>
<%= render :partial => "/partial/layout-mypagetab" %>

<section class="layout-content">
<h2>修改會員資料</h2>
<form class="form-signup">
  <!-- Add class "is-error" on input's parent div -->
  <div class="form-block">
    <label class="module-form-label style-block" for="email"><i class="shape-star"></i>E-MAIL</label>
    <p>useruseruser@domain.com</p>
  </div>

  <div class="form-block">
    <label class="module-form-label" for="password"><i class="shape-star"></i>密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請輸入密碼" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block">
    <label class="module-form-label" for="password"><i class="shape-star"></i>確認密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請重新輸入密碼" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block">
    <label class="module-form-label" for="lastname"><i class="shape-star"></i>姓名</label>
    <p>YOYO HUANG</p>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="general">性別</label>
    <p>女</p>
  </div>

  <div class="form-block">
    <label class="module-form-label" for="id">身分證字號</label>
    <p>A123456789</p>
  </div>

  <div class="form-block">
    <label class="module-form-label" for="tel"><i class="shape-star"></i>行動電話</label>
    <p>0912345678</p>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address"><i class="shape-star"></i>出生日期</label>
    <p>1999/12/21</p>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address"><i class="shape-star"></i>地址</label>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">台北市</option>
      <option value="1">基隆市</option>
    </select>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">大同區</option>
      <option value="1">東東東東東區</option>
    </select>
  </div>

  <div class="form-block">
    <label class="module-form-label" for="address"></label>
    <input type="text" name="address" class="module-form-input" placeholder="請輸入地址" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <p class="warning-color">*為必填欄位，請填妥欄位資訊。</p>

  <div class="tcenter">
    <div class="module-btn btn-inline"><a href="">確認修改</a></div>
    <div class="module-btn btn-inline style-gray"><a href="">取消修改</a></div>
  </div>

</form>
</section>