<% @exp = "69.9" %>
<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
(function() {
    var swiperTab = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide: 0,//this page number
        loopAdditionalSlides: 1,
        paginationClickable: true,
        loop: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    });
})()
</script>
<% end %>
<%= render :partial => "/partial/layout-mypagetab" %>

<section class="layout-content">
  <h2>
  我的帳戶
    <div class="module-btn style-smallright style-light"><a href="#">登出</a></div>
  </h2>
  <h3>您好！YOYO HUANG</h3>
  <p>會員等級：<span class="warning-color">VIP</span></p>
  <p>會員點數：<span class="warning-color">123456789</span>點</p>
  <p>即將過期點數(60天內) <span class="warning-color">123456789</span>點</p>
  <p><span class="warning-color">2015/12/25</span>到期</p>
<!--   
  <h3>購物里程碑</h3>
    <div class="member-exp">
      <span class="style-font-roots">FANS</span>
        <div class="member-exp-bar">
          <div class="member-exp-bar-value" style="width:<%= @exp %>%;">
          </div>
        </div>
        <span class="member-exp-num"><%= @exp %></span>
      <span class="style-font-roots">VIP</span>
    </div>

  <h3>上次登入時間 <span>2015/12/21</span></h3>

  <p class="warning-color">
    提醒您：提醒您：非Fans/VIP會員，則無法累積消費金額/紅利點數。<br/>
    如何成為Fans/VIP會員？請參考<a href="#" class="uline">常見問題：會員加入辦法</a>
  </p> -->
</section>