<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<% end %>
<% @headerTitle = "會員終止申請" %>

<section class="layout-content">
<h2>網路會員終止申請</h2>
<p>如欲申請會員終止服務，請連絡H:CONNECT客服人員。</p>
<p>客服專線：<span class="warning-color">0800-698-800</span></p>
</section>