.layout-header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: $layout-heading-height;
  line-height: $layout-heading-height;
  background-color: white;
  color: nth($color-green, 1);
  font-size: 16px;
  overflow: hidden;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  .layout-menu-open & {
    // @include translateX($layout-menu-width);
    &::before{
      content: '';
      display: block;
      z-index: 101;
      background-color: rgba(255,255,255,0.8);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }
  a {
    color: nth($color-green, 1);
  }

  // 會員按鈕
  .layout-header-right {
    z-index: 1;
    margin-right: 0.5em;
    position: relative;
    float: right;
    display: inline-block;
    text-align: center;
    height: $layout-heading-height;
    min-width: $layout-heading-height;
    line-height: $layout-heading-height;
    i{
      vertical-align: middle;
    }
    .cart-num{
      position: relative;
      top: -0.75em;
      margin-left: -1.25em;
      z-index: 2;
    }
  }

  // 漢堡按鈕
  .layout-header-left {
    float: left;
    margin-left: 0.5em;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: $layout-heading-height;
    height: $layout-heading-height;
    min-width: $layout-heading-height;
    i{
      vertical-align: middle;
    }
    .welcome-msg{
      font-size: 0.7em;
      vertical-align: middle;
      line-height: 1;
      span{
        display: inline-block;
      }
    }
    // 開啟選單時，漢堡的狀態
    .layout-menu-open & {
    }
  }


  // 主標題
  .layout-header-center {
    z-index: 0;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: 0.2em;
    text-align: center;
    line-height: $layout-heading-height;
    i{
      vertical-align: middle;
    }
  }
}

//Search Bar
.layout-searchbar{
  height: $layout-heading-height;
  padding-left: 0.5em;
  border-bottom: 2.5px solid nth($color-green,1);
  &.is-hidden{
    height: 0;
    overflow: hidden;
  }
.form-block {
    position: relative;
    line-height: 1;
    margin-bottom: 0;
    padding-top: 0.5em;
}
  .module-form-input{
    padding-left: 1.5em;
    background: url('/assets/images/icon-search.svg') 0.25em center no-repeat;
    color: #E6E5E4;
    border-color: #E6E5E4;
    &:focus{
      color: #888;
      border-color: #bbb;
      background-image: url('/assets/images/icon-search-dark.svg');
      &::-webkit-input-placeholder{
        color: #bbb;
      }
    }
    &::-webkit-input-placeholder{
      color: #E6E5E4;
    }
  }
}