.layout-menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  width: $layout-menu-width;
  max-height: 100vh;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 2em;
  color: white;
  background-color: black;
  z-index: 101;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(-100%);

  // 開啟主選單時的狀態
  .layout-menu-open & {
    @include translateX(0);
  }
  
  a {
    color: white;
  }


  //LOGO
  .icon-logo-large{
    display: block;
    margin-top: 1em;
    margin-left: 1em;
  }

  // 主選單
  .layout-menu-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-height: 100%;
    max-height: calc(100% - 2.5em);
    // border-bottom: 1px solid nth($color-gray, 3);
    ul {
      @extend %listUnstyled;
      &.layout-menu-sublist {
        overflow:hidden;
        max-height: 0;
        @include transition(max-height 0.3s);
      }
    }
    .layout-menu-list-item {
      position: relative;
      line-height: 2em;
      cursor: pointer;
      font-size: 1em;

      &>a,&>span.trigger{
        display: block;
        width: 100%;
        &:first-child{
          border-bottom: 1px solid #999;
        }
      }

      &.style-grayline{
        &>a,&>span.trigger{
          &:first-child{
            border-bottom: 1px solid #999;
          }
        }
      }
      
      &:first-child{
      &>a,&>span.trigger{
        &:first-child{
          border-top: 1px solid #999;
          border-bottom: 1px solid #999;
        }
      }
      }
      i{
        position: absolute;
        right: 0;
        top: 0.25em;
        font-size: 1.4em;
        z-index: -1;
        @include transition(transform);
        @include transition-duration(.2s);
        @include transition-timing-function(ease);
      }
      &.is-active{
         .layout-menu-sublist{
          border-bottom: 1px solid white;
         }
         &.have-sub-item>i{
          @include rotate(-180deg);
          }
         &:last-child{
         .layout-menu-sublist{
          border-bottom: 0;
         }
        }
      }
    }
    .layout-menu-list-subitem {
      padding-left: 1em;
      font-size: 0.88em;
      letter-spacing: 2px;
      a {
        color: nth($color-gray, 4);
      }
    }
    &.is-opening-secondsub{
      -webkit-overflow-scrolling: initial;
    }
  }

}

.have-secondsub-item{
  position: relative;
}

.menu-main-list{
  // background-color: pink;
  position: relative;
  @include translateX(0.0000000000001%);    
  @include transition(transform,visibility,opacity);
  @include transition-duration(.4s);
  @include transition-timing-function(ease);
  .is-opening-secondsub &{
    position: relative;
    opacity: 0;
    pointer-events: none;
    @include translateX(-120%);
  }
}

.layout-menu .layout-menu-list .menu-second-sublist{
  background-color: black;
  position: absolute;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  top: 77px;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 100%;
  overflow-y: scroll;
  @include transition(transform,visibility,opacity);
  @include transition-duration(.4s);
  @include transition-timing-function(ease);
  li{
    font-size: 1em;
    line-height: 2;
    border-bottom: 1px solid #999;
    padding-left: 2em;
    &.btn-backmainmenu{
      padding-left: 0;
      cursor: pointer;
      i{
        font-size: 1.2em;
        margin-right: 0.5em;  
      }
    }
    a {
      color: nth($color-gray, 4);
    }
  }
  &.is-choosen{
    // left: 0;
    @include translateX(-100%);
    visibility: visible;
    opacity: 1;
  }
}