.layout-tabbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  .layout-menu-open & {
    // @include translateX($layout-menu-width);
    &::before{
      content: '';
      display: block;
      z-index: 101;
      background-color: rgba(255,255,255,0.8);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }

  .layout-tabbar-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2em;
    text-align: center;
    @extend %listInline;
    @include flexbox();
  }
  .layout-tabbar-list-item {
    position: relative;
    @include flex(1);
    .layout-tabbar-list-link {
      display: block;
      height: $layout-tabbar-height;
      padding-top: 0.3em;
      padding-right: 0.25em;
      padding-bottom: 0;
      padding-left: 0.25em;
      text-align: center;
      color: nth($color-green, 1);
      i{
        display: inline-block;
        height: 40px;
        margin-bottom: 7px;
        background-position: center bottom;
      }
      .layout-tabbar-list-name {
        display: block;
        color: nth($color-green, 1);
        font-size: 0.7em;
      }
      .cart-num{
        position: absolute;
        top: 1.5em; 
        right: 50%;
        margin-right: -2.5em;
      }
      .fa-shopping-cart{
        position: relative;
        &::after{
          content: attr(data-cartnum);
          display: block;
          position: absolute;
          padding-top: 0;
          padding-right: 2px;
          padding-bottom: 0;
          padding-left: 2px;
          top: 0;          
          left: calc(50% + 2em);
          font-size: 13px;
          min-width: 15px;
          line-height: 15px;
          vertical-align: center;
          color: white;
          background-color: nth($color-pink, 3);
          @include border-radius(9px);
        }
      }
    }
  }
  
}

.layout-tabbar-foot{
  z-index: 100;
  position: fixed;
  bottom: 0;
  height: 100%;
  max-height: $layout-tabbar-foot-height;
  width: 100%;
  background-color: nth($color-brown,2);
  @include transition(max-height,bottom,top);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);
  .layout-tabbar-foot-body{
    height: 100%;
    padding-top: $layout-tabbar-foot-height;
  }
  .layout-tabbar-foot-list{
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.25em;
    padding-bottom: 2em;
    font-size: 0.8em;
    color: nth($color-brown,3);
    @extend %listUnstyled;
    a{
      color: nth($color-brown,3);
      &:active,&:hover{
        text-decoration: underline;
      }
    }
    &>li{
      padding-top: 1em;
      &:first-child{
        padding-top: 0;
      }
    }
    p{
      color: nth($color-brown,1);
      margin-top: 0;
      margin-bottom: 0;
      line-height: 3;
      font-weight: 800;
      i{
        width: 24px;
        vertical-align: middle;
        margin-right: 0.5em;
        background-position: center;
      }
    }
    ul{
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 32px;
      @extend %listUnstyled;
    }
    .style-listinline{
      li{
        float: left;
        width: 33.3%;
        min-width: 7em;
      }
    }
    // @include transition(height,max-height);
    // @include transition-duration(.2s);
    // @include transition-timing-function(ease);
  }
  &.is-active{
    max-height: 100%;
    bottom: 0;
    // bottom: auto;
    // top: 0;
    .layout-tabbar-foot-body{
      overflow: scroll;
    }
    .layout-tabbar-foot-listfoot{
      bottom: 0;
    }
  }

  .layout-menu-open & {
    // @include translateX($layout-menu-width);
    &::before{
      content: '';
      display: block;
      z-index: 101;
      background-color: rgba(255,255,255,0.8);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.style-morecol{
    .layout-tabbar-foot-list {
        padding-bottom: 4em;
    }
  }
}

.is-footer-active{
  .layout-container{
    position: relative;
  }
  .layout-view,.layout-header,.layout-tabbar{
    // @include translateY(-100vh);
    // @include transition-duration(.4s);
    // @include transition-timing-function(ease);
  }
}
.layout-tabbar-foot-head{
  text-align: center;
  background-color: nth($color-green, 1);
  line-height: $layout-tabbar-foot-height;
  font-size: 1em;
  color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  span{
    font-size: 0.7em;
    padding-left: 0.5em;
  }
  i{
    font-size: 1.2em;
    margin-top: 0.1em;
  }
}
.layout-tabbar-foot-listfoot{
  background-color: nth($color-brown,1);
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 2;
  position: absolute;
  bottom: -100%;
  width: 100%;
  // @include transition(bottom);
  // @include transition-duration(.4s);
  // @include transition-timing-function(ease);
}
.style-listinline{
    @extend %listInline;  
}

.form-block.form-block-epaper{
  padding-left: 32px;
  .module-form-input{
    // width: calc(100% - 3em);
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-color: nth($color-brown,1);
    color: nth($color-brown,1);
    margin-bottom: 0.7em;
    &::-webkit-input-placeholder{
      color: nth($color-brown,1);
    }
  }
  .btn-send-epaper{
    width: 48%;
    width: calc(50% - 0.35em);
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
    // margin-left: -5px;
    text-align: center;
    background-color: nth($color-brown,1);
    color: white;
    font-size: 0.8em;
    &:active{
      opacity: 0.9;
    }
    &.style-o{
      height: 24px;
      line-height: 22px;
      color: nth($color-brown,1);
      border: 1px solid nth($color-brown,1);
      background-color: transparent;
      &:active{
        background-color: nth($color-brown,3);
        border-color: nth($color-brown,3);
        color: white;
      }
    }
    &:last-child{
      // margin-left: -5px;
      float: right;
      &:active{}
    }
  }

}