// 主容器
.layout-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // 主選單開啟時狀態
  .layout-menu-open & {
    position: relative;
  }
}

// 主內容區塊
.layout-view {
  padding-top: $layout-heading-height;
  // padding-bottom: 112px;
  // padding-bottom: $layout-tabbar-height;
  padding-bottom: $layout-tabbar-height + $layout-tabbar-foot-height;
  background-color: white;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;  

  &.is-locking{
    height: 100vh;
    overflow: hidden;
  }

  // 主選單開啟時狀態
  .layout-menu-open & {
    // @include translateX($layout-menu-width);
    .layout-view-inner{
      position: relative;
        &::before{
        content: '';
        display: block;
        z-index: 99;
        background-color: rgba(255,255,255,0.8);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}