<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/news" %>
<% end %>
<% content_for :specific_javascript do %>
  <%= javascript_include_tag "units/news" %>
<% end %>


<section class="layout-content">
  <h2>Newsroom</h2>
  <ul class="news-list">
  <% 10.times do %>
    <li class="news-item">
      <img src="https://www.roots.com.tw/data/images/Products/2016/NEWS%20ROOM/iPhone-6S.gif" class="news-item-img" width="100%" alt="">
      <h3 class="news-item-title clearfix">Roots iPhone 6/6S手機殼</h3>
      <div class="btn-morenews">了解更多 <i class="fa fa-angle-down"></i></div>
      <p class="news-item-date">發佈時間 2016/01/26 17:11</p>
      <div class="news-item-content clearfix">
        抽獎活動期間: 2016.1.29 – 2.29<br/>
        每周自該周訂單抽出三名消費者，一筆訂單即為一次抽獎資格(同消費者重複下單將視為不同抽獎資格，消費愈多次，具愈多抽獎資格。)<br/><br/>
        第一周期間: 2016.1.29 – 2016.2.7<br/>
        第二周期間: 2016.2.8 – 2016.2.14<br/>
        第三周期間: 2016.2.15 – 2016.2.21<br/>
        第四周期間: 2016.2.22 – 2016.2.29<br/><br/>
        得獎名單將於2016.3.4前統一抽出，並公布於網站及官方粉絲頁。<br/>
        並會再與得獎者個別聯絡，告知得獎、寄送細節。
        <div class="btn-sns-wrap">
          <a href="" class="btn-sns"><i class="fa fa-facebook-official"></i></a>
        </div>
      </div>
    </li>   
  <% end %>
  </ul>
</section>