@import "../initial";
@import "../module/slidetab";

#slider-tabs{
  &+.layout-content{
    padding-top: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    .about-title{
      color: black;
      margin-bottom: 1em;
      padding-top: 0.5em;
      border-bottom: 1px solid #bbb;
      line-height: 2;
      &.style-color{
        color: nth($color-green,1);
      }
    }
  }
}

.about-banner{
  padding-top: 1em;
}
.about-content{
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
}

.personal-info{
  ul{
    list-style-type: decimal;
  }
}
.result-item{
  position: relative;
  display: block;
  padding-right: 1em;
  i.fa{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    font-size: 1.2em;
    color: #888;
  }
}
#store-map{
  width: 100%;
  height: 35vh;
}