@import "../initial";

.layout-content{
  h2{
    color: black;
    margin-bottom: 1em;
    padding-top: 0;
    border-bottom: 1px solid #bbb;
    line-height: 2;
    text-align: left;
  }
  .cafe-logo{
    display: block;
    width: 70%; 
    margin: 0 auto;
    max-width: 20em; 
  }
  .cafe-content-list,.cafe-store-list{
    font-size: 0.8em;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2em;  
    margin-bottom: 0; 
    h3:not(.warning-color4){
      color: nth($color-green,1);
    }    
  }

  .cafe-store-list{
    padding-bottom: 0;
    border-bottom: 0;
    h3{
      margin-bottom: 0;
    }
    li{
      border-bottom: 1px solid #bbb;
      padding-bottom: 2em;  
    }
    p{
      line-height: 1.4;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1em;
    }
    .module-btn{
      margin-top: 2em;
      margin-bottom: 0;
    }
  }
}