@import "../initial";
@import "../module/slidetab";

.article-guide{
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 6em;
  &>h3{
    line-height: 2;
    // margin-left: 1em;
    border-bottom: 1px solid #bbb;
  }
  .article-guide-intro{
    padding-bottom: 1em;
    border-bottom: 1px solid #bbb;    
  }
  &>ul{
    padding-left: 0;
    &>li{
      &>h3{
        font-size: 1em;
        color: nth($color-green,1);
      }
      padding-bottom: 1em;
      border-bottom: 1px solid #bbb;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
  .article-guide-menu{
    color: nth($color-green,2);
    border-bottom: 1px solid #bbb;
    &>li{
      border-bottom: 0;
    }
  }
  .size-unit{
    font-size: 11px;
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.article-guide-img-send{
  font-size:1.3em;
  padding-top: 0.5em;
  div{
    color:#888;
    padding:1em 0;
  }
  img{
    width: 60%;
    max-width:20em;
  }
  i{
    font-size: 1.8em;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}