@import "../initial";
.layout-view{
  padding-bottom: 110px;
}
.full-bannerbox{
  width: 100%;
  height: 31vw;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center top;
  @include backgroundSize(cover);
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.half-bannerbox-wrap{
  @extend %clearFix;
  width: 100%;
  height: 46vw;
  .half-bannerbox{
    float: left;
    width: 50%;
    height: 46vw;
    border-bottom: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: center bottom;
    @include backgroundSize(cover);
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    &:first-child{
      border-right: 1px solid #dddddd;
    }
  }
}
.swiper-slide{
  background-repeat: no-repeat;
  background-position: center top;
  @include backgroundSize(cover);
}
#slider-index-main{
  margin-bottom: 0.5em;
  height: 90vw;
  padding-left: 0;
  padding-right: 0;

}
#slider-index-sub{
  height: 25vw;
  margin-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
#slider-index-newarrival{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  height: auto;
  .swiper-button-prev,.swiper-button-next{
    font-size: 12px;
    &::before{
      border-top: 2px solid #bbb;
    }
  }
  .swiper-button-prev{
    left: 20%;
    left: calc( 25% - 0.71em);
    &::before{
      border-left: 2px solid #bbb;
    }
  }
  .swiper-button-next{
    right: 20%;
    right: calc( 25% - 0.71em);
    &::before{
      border-right: 2px solid #bbb;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    top: 20vw;
    top: calc((100vw - 2em) / 4 );
  }
  .swiper-slide{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
#slider-index-popup{
  margin-bottom: 0.5em;
  height: 94vw;
  padding-left: 0;
  padding-right: 0;
  .swiper-pagination-bullet{
    margin: 6px 3px;
  }
}
.bannerbox-category{
  position: relative;
  height: auto;
  width: 95%;
  width: calc(100% - 1em);
  margin-left: 2.5%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  overflow: hidden;
  @media only screen and (orientation: landscape) {
    padding-top: 8em;
    padding-bottom: 8em;
  }
  @media only screen and (min-width: 768px) {
    padding-top: 8em;
    padding-bottom: 8em;
  }
  @media only screen and (min-width: 1024px) {
    padding-top: 10em;
    padding-bottom: 10em;
  }
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.is-active{
    .bannerbox-category-submenu-item{
      max-height: 2em;
      @media only screen and (orientation: landscape) {
        max-height: 4em;
      }
      @media only screen and (min-width: 768px) {
        max-height: 4em;
      }

      &:first-child{
        border-bottom: 1px solid white;
        @media only screen and (orientation: landscape) {
          margin-bottom: 1em;
        }
        @media only screen and (min-width: 768px) {
          margin-bottom: 1em;
        }
        i{
          @include rotate(-180deg);
        }
      }
      &:last-child{
        margin-bottom: 1em;
      }
    }
  }
}
.bannerbox-category-bgimg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-position: center top;
  @include backgroundSize(cover);
}
.bannerbox-category-submenu{
  z-index: 2;
  line-height: 2;
  min-width: 10.5em;
  display: inline-block;
  // background-color: black;
  border: 2px solid white;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  @extend %listUnstyled;

  @media only screen and (orientation: landscape) {
    padding-left: 6em;
    padding-right: 6em;
  }
  @media only screen and (min-width: 768px) {
    padding-left: 6em;
    padding-right: 6em;
  }

  &.style-short{
    min-width: 7em;
  }
}
.bannerbox-category-submenu-item{
  max-height: 0;
  color: white;
  overflow: hidden;
  @include transition(max-height);
  @include transition-duration(.2s);
  @include transition-timing-function(ease);
  &:first-child{
    max-height: 2em;
    color: white;
    @media only screen and (orientation: landscape) {
      max-height: 4em;
      height: 4em;
      line-height: 4;
      // margin-bottom: 1em;
    }
    @media only screen and (min-width: 768px) {
      max-height: 4em;
      height: 4em;
      line-height: 4;
      // margin-bottom: 1em;
    }
    i{
      font-size: 0.7em;
      margin-left: 0.25em;
      vertical-align: baseline;
      // margin-top: -2px;
      @include transition(transform);
      @include transition-duration(.3s);
      @include transition-timing-function(ease);
      @media only screen and (orientation: landscape) {
        margin-left: 0.5em;
      }
      @media only screen and (min-width: 768px) {
        margin-left: 0.5em;
    }
    }
  }
  a{
    color: white;
  }
}
.half-bannerwrap{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.half-bannerbox{
float: left;
  width: 50%;
  width: calc( (100% - 0.5em) / 2 );
  &:first-child{
    margin-right: 0.5em;
  }
  &:last-child{
  }
  a{
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 2;
    background-color: black;
    color: white;
  }
}
h3{
  text-align: center;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 0.3em;
}