@import "../initial";

.layout-content{
  padding-left: 0.5em;
  padding-right: 0.5em;

  h2{
    color: black;
    padding-top: 0;
    line-height: 2;
    text-align: center;
  }
  .lookbook-describe{
    padding-left: 1em;
  }
  h3{
    color: nth($color-green,1);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.9em;
  }

  .lookbook-list{
    margin: 0;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  .lookbook-item{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    &:nth-child(2n){
      margin-left: -5px;
    }
  }

  .lookbook-detailimg{
    padding-top: 1em;
    display: block;
  }
  .lookbook-detailtext{
    font-size: 0.8em;
    line-height: 1.4;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
  }
}

/* PRODUCT LIST */
.product-list{
  @extend %listUnstyled;
  @extend %clearFix;
  border-top: 1px solid #bbb;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.product-list-item{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.5em;
  &:nth-child(2n){
    margin-left: -5px;
  }
}
.product-list-item-img{
  position: relative;
}

.product-list-item-name{
  text-align: center;
}

.lookbook-detailimg-wrap {
    position: relative;
    display: block;
}

.lookbook-detailimg-wrap:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}