@import "../initial";

.forgot-pw{
  display: inline-block;
  margin-right: 1em;

  &::before{
    content: '!';
    display: inline-block;
    margin-right: 0.5em;
    padding-top: 0.1em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: 0.7em;
    background-color: nth($color-green, 2);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    @include border-radius(3px);
  }
}
.remember-me{
  color: #777;
}
.form-signup{
  .form-block:nth-child(even){
    // background-color: nth($color-table, 1);
  }
}

#mm,#ss{
  // color: nth($color-pink, 3);
}
.show-timeout{
  display: none;
}
h4{
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1;
  color: black;
}
.member-level-list{
  padding-left: 0;
  @extend %listUnstyled;
}
.member-level-item{
  color: #bbb;
  border: 1px solid #bbb;
  margin-bottom: 2em;
  &.style-highlight{
    .member-level-title{
      background-color: nth($color-green,1);
      color: white;
    }
    .member-level-text{
      color: black;
    }
    h4{
      color: nth($color-brown,1);
    }
  }
}
.member-level-title{
  font-size: 0.9em;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.member-level-text{
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.6;
  h4{
  color: #bbb;    
  }
  li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}