@import "../initial";
@import "../module/cart-list";

.serial-color {
  color: #998668;
}
.layout-view {
  padding-bottom: 7em;

  .order-list-title.-detail {
    margin-left: 1em;
  }

  .order-list-title > h3 {
    // font-size: 0.875em;
    margin: 0.875em 0 0.5em
  }

  .content {
    // padding: 0 1.5em;

    .block {
      // margin: 0.625em;
    }

    .order-detail > p {
    }

    p {
      margin-bottom: 0.5em;
      // font-size: 0.75em;
    }

    input[type=text] {
      background: none;
      border: none;
    }

    //cart-list

    .total-record {
      display: flex;
      justify-content: flex-end;
      margin: 1em 1.4em 2em 0;
      line-height: 1.5em;

      .record-label {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1.5em;
      }

      .record-cash {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .total-record {
      margin: 0;

      .record-label > label,
      .record-cash > label {
        // font-size: 0.75em;
        font-size: 0.8em;
        color: #000;
      }
    }

    .simple-form {
      display: flex;
      justify-content: flex-start;
      margin: 1.25em 0 1.25em 0;
      line-height: 1.5em;

      &.-indent {
        margin-left: 1em;
      }

      > .title-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0.75em;
      }

      > .content-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      > .title-label > label,
      > .content-label > label {
        // font-size: 0.75em;
        font-size: 0.8em;
        color: #000;
      }
    }

    .simple-form.-contact {
      margin-left: 0.25em;
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin-top: 1em;

      .module-btn {
        width: 8em;
        // font-size: 0.75em;
        // margin: 0 0.3em;
        // padding: 0.5em;
        // color: #fff;
      }

      .style-black {
        background-color: #000;
      }
    }
  }
}