@import "../initial";
@import "../module/slidetab";
@import "../module/member-exp-bar";
@import "../module/order";

#slider-tabs{
  &+.layout-content{
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    h2{
      color: black;
      margin-bottom: 1em;
      // padding-top: 0.5em;
      border-bottom: 1px solid #bbb;
      line-height: 2;
      &.style-color{
        color: nth($color-green,1);
      }
    }
  }
}
h3{
  // font-weight: 500;
}