.layout-view {
  padding-bottom: 7em;

  .order-list-title > h3 {
    // font-size: 0.875em;
    margin: 0.875em 0 0.5em
  }


  .content {
    padding: 0 1.5em;

  }
}
    .order-block {
      border-top: 3px solid #268f46;
      border-left: 3px solid #268f46;
      border-right: 3px solid #268f46;
      background: #fff;
      padding-top: 0.5em;
      margin-bottom: 1em;

      p {
        padding-left: 1em;
        line-height: 1.6;
        // margin: 0 0 0.125em 1.375em;
        // font-size: 0.75em;
      }

      .view-button {
        width: 100%;
        height: 2em;
        margin-top: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background: #268f46;
        text-align: center;
        // font-size: 0.75em;

        img {
          width: 0.8125em;
          height: 0.8125em;
          margin-right: 0.5em;
        }
      }
    }