@import "../initial";

.layout-content{

  h2{
    color: black;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-bottom: 1px solid #bbb;
    line-height: 2;
    text-align: center;
  }
  .news-list{
    margin: 0;
    padding: 0;
    font-size: 0.8em;

  }
  .news-item{
    &.is-active{
      .btn-morenews{
       i{
        @include rotate(-180deg);
        }        
      }
      .news-item-content{
      border-bottom: 1px solid #ccc;
      max-height: 999vh;
      padding-bottom: 1em;
      }
    }
  }
  .news-item-title{
    margin: 0;
    padding: 0;
    line-height: 2;
  }
  .news-item-date{
    color: nth($color-brown,1);
    font-size: 0.85em;
  }
  .btn-morenews{
    float: right;
    font-size: 0.85em;
    padding-left: 2em;
    cursor: pointer;
    color: nth($color-green,2);
    i{
      @include transition(transform);
      @include transition-duration(.2s);
      @include transition-timing-function(ease);
    }
  }
  .news-item-content{
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    line-height: 1.6;
    color: #808080;
    max-height: 0;
    overflow: hidden;
    @include transition(max-height,padding);
    @include transition-duration(.3s);
    @include transition-timing-function(ease);
  }
  .btn-sns-wrap{
    padding-top: 1em;    
  }
  
  .btn-sns{
    color: #808080;
    font-size: 1.5em;
    &:active{
      color: #333;
    }
  }
}