@import "../initial";
@import "../module/cart-list";

.layout-view {

  .product-payment {
    padding: 0.9375em;

    .product-cart-nav {
      display: flex;
      justify-content: space-between;
      font-size: 0.81em;
      font-weight: bold;
      -ms-transform: skewX(-10deg); /* IE 9 */
      -webkit-transform: skewX(-10deg); /* Safari */
      transform: skewX(-10deg); /* Standard syntax */
      margin: 0.625em 0;
      line-height: 1.2em;

      .item-num {
        display: flex;
        justify-content: center;
        background: #828282;
        width: 1.1em;
        color: #ffffff;
      }

      > span {
        color: #828282;
      }

      .num-active {
        background: #204B2C;
      }

      .word-active {
        color: #204B2C;
      }
    }

    .layout-accordion {
      .font-gray {
        color: #828282;
      }

      .accordion-item {

        .accordion-item-title {
          // font-size: 1em;

          i.fa {
            color: #004404;
          }
        }

        .accordion-item-content {
          width: auto;
          background-color: transparent;
          margin: 0 1em;

          .commodity-information {
            border-top: 1px solid #dddddd;
            padding-top: 1em;

            .commodity-data {
              display: flex;
              padding-bottom: 0.8em;

              .commodity-img {
                width: 33%;
                max-width: 10em;
                margin-right: 0.5em;

                img {
                  width: 100%;
                }
              }

              .data {
                display: inline-block;
                width: 67%;
                font-size: 16px;
                > * {
                  margin: 0 0 0.375em 0;
                  font-size: 0.8em;
                  // font-size: 0.625em;
                }
              }
            }

            .commodity-sumary {
              padding: 0.5em 0;
              display: flex;
              align-items: center;
              border-top: 1px solid #dddddd;

              .label {
                font-size: 0.625em;
                margin-right: 0.5em;
              }

              .number {
                margin-right: 1.625em;
              }

              .btn-color-action {
                border: 4px solid #004404;
              }

              .price {
                display: flex;
                justify-content: flex-end;
                flex: 1;
                margin-right: 0.625em;
              }

              .original-price {
                color: #828282;
                margin-right: 0.7em;
              }

            }
          }

          .discount {
            // padding: 0 1.25em 1em 1.25em;
            padding: 0 0em 1em 0;

            .discount-input, .discount-use {
              font-size: 0.9em;
              display: inline;
              padding: 0.375em 0.75em;
            }

            .discount-input {
              width: 70%;
              margin-right: 0.5em;
              
              body[data-lang=kr] &{
                width: 60%;
                max-width: calc(100% - 7em);
              }
            }

            .discount-use {
              width: 30%;
              body[data-lang=kr] &{}
            }

            > span {
              display: block;
              font-size: 0.8em;
              // font-size: 0.375em;
              // padding-left: 1.35em;
              padding-left: 1em;
              padding-top: 0.75em;
            }
          }
        }

        .commodity-information:first-child {
          border-top: 0 none #dddddd;
          padding-top: 0;
        }

      }
    }

    .total-record {
      display: flex;
      justify-content: flex-end;
      margin: 1em 1.4em 2em 0;
      line-height: 1.5em;

      .record-label {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1.5em;
      }

      .record-cash {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .total-record {
      margin-bottom: 5em;
    }

    .simple-form {
      display: flex;
      justify-content: flex-start;
      margin: 1.25em 0 1.25em 0;
      line-height: 1.5em;

      &.-indent {
        margin-left: 1em;
      }

      > .title-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0.75em;
      }

      > .content-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      > .title-label > label,
      > .content-label > label {
        font-size: 0.75em;
        color: #000;
      }
    }


    .simple-form {
      margin-top: 0;
    }

    .payment-btn {
      // display: flex;
      // justify-content: center;
      padding-bottom: 2.5em;
      // margin: 0 2em;
      // font-size: 0.75em;
      text-align: center;
      .module-btn {
        display: inline-block;
        margin-left: 0.125em;
        margin-right: 0.125em;
        width: 7.5em;
        // height: 2.5em;
        // margin: 0 0.3em;
        margin-top: 0;
        margin-bottom: 0.5em;
        margin-left: 0.125em;
        margin-right: 0.125em;
        // padding: 0.5em;
      }
    }

    .form-block {
      margin: 1em 0 0.5em;

      .module-form-select {
        margin-bottom: 0.5em;
      }
    }
    
    .form-block.receiver {
      margin-top: 0;
    }

    .accordion-item-content.contact {
      padding-bottom: 0.5em;
    }

    .accordion-item-content.receipt > .form-block:nth-child(1){
      margin-top: 0;
    }
  }

  .style-red {
    background-color: #8e1437;
  }
}