@import "../initial";
@import "../module/clause";

/* PRODUCT CATEGORY */
.product-category-banner{
  height: $product-category-banner-height;/* 90x290 => 360x1160 */
  width: 100%;
  @include backgroundSize(cover);
  border-bottom: 1px solid white;
  background-position: center top;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .product-category-banner-name{
    display: block;
    line-height: $product-category-banner-height;
    height: 100%;
    width: 50%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }
  &:last-child{
    border-bottom: 0;
  }
  &:nth-child(odd){
    background-position: left top;
   .product-category-banner-name{
    margin-left: 50%;
   } 
  }
    &:nth-child(even){
      background-position: right top;
      .product-category-banner-name{
        margin-left: 0%;
      }
    } 
}