@import "../initial";

/* PRODUCT LIST */
.product-list{
  @extend %listUnstyled;
  @extend %clearFix;
  // background-color: nth($color-table, 2);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.product-list-item{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-bottom: 0.5em;
  &:nth-child(2n){
    margin-left: -5px;
  }
}
.product-list-item-img{
  position: relative;
  // height: 65vw;
  // @include backgroundSize(cover);
  a{
    // display: block;
    // width: 100%;
    // height: 100%;
  }
}

.product-list-item-name{
  text-align: center;
}

.module-filter-btnwrap{
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  color: #888;
  text-align: center;
  font-size: 0.8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
.module-filter-btn{
  width: 48%;
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
  &:first-child{
    border-right: 1px solid #bbb;  
  }
  .fa{
    font-size: 0.8em;
    margin-right: 0.2em;
  }
}

.filter-title{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.filter-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 1em;
}
.list-price-item{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.sort-list{
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.sort-list-item{
  text-align: center;
  color: nth( $color-green,2);
  border-bottom: 1px solid nth( $color-green,2);
  line-height: 2;
  font-weight: 700;
  a{
    color: nth( $color-green,2);
    display: block;
    width: 100%;
    height: 100%;    
  }
  &:last-child{
    border-bottom: 0;
  }
  &:active{
    background-color: nth( $color-green,2);
    color: white;
    a{
      color: white;      
    }
  }
}