@import "../initial";

.layout-view {
  padding-bottom: 87px;

  .content {
    padding: 0 1.5em;

    .product-cart-nav {
      display: flex;
      justify-content: space-between;
      font-size: 0.81em;
      font-weight: bold;
      -ms-transform: skewX(-10deg); /* IE 9 */
      -webkit-transform: skewX(-10deg); /* Safari */
      transform: skewX(-10deg); /* Standard syntax */
      margin: 0.625em 0;
      line-height: 1.2em;

      .item-num {
        display: flex;
        justify-content: center;
        background: #828282;
        width: 1.1em;
        color: #ffffff;
      }

      > span {
        color: #828282;
      }

      .num-active {
        background: #204B2C;
      }

      .word-active {
        color: #204B2C;
      }
    }
    
    .product-cart-nav {
      margin-top: 1.25em;
    }

    .order-title {
      margin-bottom: 0.625em;

      > h1 {
        font-size: 0.875em;
        margin: 1.25em 0 0.625em;
        color: #004404;
      }
    }

    .order-number {
      display: flex;
      justify-content: center;

      > * {
        margin: 0;
      }
    }

    p {
      font-size: 0.75em;
      margin: 0.25em 0;
    }

    p.-hint {
      font-size: 0.6875em;
      margin: 0 0 0.25em;
      color: #808080;
    }

    .module-btn {
      height: 2em;
      margin: 1.25em auto 0.25em;
    }

  }
}