@import "../initial";
@import "../module/cart-list";


.serial-color {
  color: #998668;
}

.layout-view {
  .product-cart {
    padding: 0.9375em;

    .product-cart-nav {
      display: flex;
      justify-content: space-between;
      font-size: 0.81em;
      font-weight: bold;
      -ms-transform: skewX(-10deg); /* IE 9 */
      -webkit-transform: skewX(-10deg); /* Safari */
      transform: skewX(-10deg); /* Standard syntax */
      margin: 0.625em 0;
      line-height: 1.2em;

      .item-num {
        display: flex;
        justify-content: center;
        background: #828282;
        width: 1.1em;
        color: #ffffff;
      }

      > span {
        color: #828282;
      }

      .num-active {
        background: #204B2C;
      }

      .word-active {
        color: #204B2C;
      }
    }

    //cartlist

    .total-summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25em;
      padding-right: 0.625em;

      .simple-form {
        display: flex;
        justify-content: flex-start;
        margin: 1.25em 0 1.25em 0;
        line-height: 1.5em;

        &.-indent {
          margin-left: 1em;
        }

        > .title-label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-right: 0.75em;
        }

        > .content-label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

      }
    }

    //.total-summary end
    .button-list {
      // display: flex;
      // justify-content: space-between;
      margin-bottom: 2em;
      text-align: center;
      #continue-buy {
        // width: 31.25%;
        width: 6em;
        @media (max-width: 400px){
          // letter-spacing: 0;
          width: 13em;
        }
      }

      #checkout {
        // width: 56.25%;
        width: 13em;
        @media (max-width: 400px){
          // letter-spacing: 0;
        }
      }

      .module-btn {
        // font-size: 0.75em;
        // height: 2.5625em;
        // width: auto;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: 0.125em;
        margin-right: 0.125em;
        display: inline-block;
        // display: flex;
        // align-items: center;
        @media (max-width: 480px){
          // letter-spacing: 0;
        }

        > a{
          // height: auto;
        }
      }
    }
    //.button-list end
  }
}

.btn-popup.style-gray {
  background-color: #808080;
}

.btn-popup {
  height: 2.5625em;
}