@import "../initial";

//DETAIL IMAGE
#slider-detailImage{
  margin-bottom: 0.5em;
  height: 94vw;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  .swiper-slide{
    background-repeat: no-repeat;
    background-position: center top;
    @include backgroundSize(cover);

    // img{
    //   display: none;
    // }
  }
  .btn-wrap{
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
  }
  // &.is-zoom{
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   top: 0;
  //   left: 0;
  //   .swiper-slide.swiper-slide-active{
  //     overflow: scroll;
  //     img{
  //       display: block;
  //     }
  //   }
  // }
}


//YOU MAY ALSO LIKE
#slider-relativeItem{
  padding-left: 0;
  padding-right: 0;
  // padding-bottom: 2em;
  height: auto;
  .swiper-button-prev,.swiper-button-next{
    font-size: 12px;
    &::before{
      border-top: 2px solid #bbb;
    }
  }
  .swiper-button-prev{
    left: 20%;
    left: calc( 25% - 0.71em);
    &::before{
      border-left: 2px solid #bbb;
    }
  }
  .swiper-button-next{
    right: 20%;
    right: calc( 25% - 0.71em);
    &::before{
      border-right: 2px solid #bbb;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    top: 20vw;
    top: calc((100vw - 2em) / 4 );
  }
  .swiper-slide{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/*Kelly less*/
.layout-view {
  .product-navigation {
    // display: flex;
    text-align: center;
    .navigate {
      color: #bbb;
      // flex: 1;
      display: inline-block;
      position: relative;
      width: 48%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      // padding: 0.375em 0.625em 0.1875em;
      &:last-child{//the only child
        &:first-child{
          width: 98%;
        }
      }
      &:nth-child(2){ //second child of two children
        // border-left: 1px solid #aaa;
        &::after{
          content: '';
          display: block;
          position: absolute;
          background-color: #bbb;
          width: 1px;
          height: 1.2em;
          left: 0;
          bottom: 0.4em;
        }
      }
    }

    .navigate:active {
      background-color: #eee;
      color: #bbb;
    }

    .previous {
      text-align: left;
    }

    .vline {
      width: 0.125em;
      margin: 0.375em 0.625em 0.1875em;
      background: #bbb;
    }

    .next {
      text-align: right;
    }
  }

  #slider-detailImage {
    .swiper-slide {
      overflow: auto;

      img {
        // width: 100%;
        // height: 100%;
        // display: inline;
        display: none;
      }
    }

    .swiper-wrapper {
      position: relative;
    }

    .zoom-like-btn {
      position: absolute;
      right: 0.8em;
      bottom: 0.5em;
      display: flex;
      z-index: 9999;

      .icon {
        margin: 0 0.4em;
        width: 1.2em;
        height: 1.2em;
        background-repeat: no-repeat;
        background-size: contain;
      }

      // .zoom-btn {
      //   background-image: url('../../images/icon-zoom-o.svg');
      // }

      // .like-btn {
      //   background-image: url('../../images/heart-o.svg');
      // }

      // .like-btn:active, .like-btn.active {
      //   background-image: url('../../images/heart.svg');
      // }
    }
  }

  .layout-accordion {
    .accordion-item {
      margin: 0 1em;
      border: 0 none;
    }

    .accordion-item.on {
      .accordion-item-content {
        border-bottom: 1px solid #dddddd;
        max-height: 500vh;
      }
    }
    .accordion-item-content{
      background-color: white;
      border-top: 1px solid #dddddd;
      font-size: 0.8em;
      line-height: 1.6;
    }
    .accordion-item-content-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 1em;
      overflow: auto;
      .title-margin {
        margin-top: 1em;
      }

      .size-table {
        overflow-x: scroll;
        img{
          max-width: 100%
        }
      }

      .content-margin {
        margin-bottom: 1.2em;
      }

      .content-line-hight {
        // line-height: 2em;
      }

      .commodity-title {
        padding: 0.31em;
        margin-top: 0.56em;
        background-color: #777777;
        color: white;
        width: 5em;
      }

      .format {
        display: flex;
        .format-left {
          display: flex;
          flex-direction: column;
        }

        .format-right {
          padding-left: 2.3em;
          display: flex;
          flex-direction: column;
        }

      }

      .commodity-guarantee {
        display: flex;
        flex-direction: column;
        // padding-top: 0.8em;
      }

      .accordion-font-color {
        color: #999999;
      }

      .size-table {
        margin-top: 0.56em;
      }

      .title-margin {
        margin-top: 0.56em;
      }
    }
  }

  .alsoLike-title {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3:nth-child(1) {
      margin-bottom: 0;
    }
    h3:nth-child(2) {
      margin-top: 0;
    }
  }

  .commodity-data {
    padding: 0.63em 1em 0 1em;

    .commodity-data-title {
      h2 {
        margin: 0;
      }

      .commodity-cost {
        display: flex;
        justify-content: space-between;

        p {
          color: #998668;
        }
      }
    }

    .commodity-order {

      .commodity-order-row {
        display: flex;
        align-items: center;
        padding: 0.6em 0 0.6em 1em;

        .label {
          width: 3.2em;
        }

        .content {
          display: flex;
          flex-wrap: wrap;
          padding-left: 20px;
          width: 80%;

          .btn-sq {
            font-size: 11px;
            font-weight: 500;
            width: 3em;
            height: 3em;
            line-height: 3em;
            line-height: calc(3em - 4px);
            text-align: center;
            margin-right: 0.3em;
            margin-bottom: 0.5em;
            background-color: #777777;
            border: 1px solid #ddd;
          }

          .btn-sq-size {
            color: #004404;
            border: 2px solid #004404;
            background-color: white;
          }

          .btn-sq-size-action {
            color: white;
            background-color: #004404;
          }

          .btn-sq-color-action {
            border: 3px solid #004404;
          }

          input {
            width: 3.6em;
            height: 3em;
            font-size: 11px;
            // height: 2.5em;
            margin: 0;
            margin-right: 0.3em;
            padding: 0;
            text-align: center;
            color: #777777;
          }
        }
      }

      .order-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.5625em;

          img {
            height: 1.125em;
            padding-right: 0.375em;
          }
        }
      }

      .purchase {
        background-color: #8e1437;
        margin-right: 1.25em;
      }
    }
  }
}

.layout-popup-wrap {
  &.draggable {
    pointer-events: auto;
  }

  .tcenter {
    overflow: scroll;
    width: 100%;  
    height: 100%; 

    img {
      width: 150%;
      // height: 150%;
    }
  }
}

.layout-accordion{
  .accordion-item-title{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
    font-size: 1em;
  }
  i.fa{
    color: black;
  }
} 